.built-in-layout-5 {
  --kup_card_background_color: var(
    --kup-card-background-color,
    var(--kup-layer-1)
  );
  --kup_card_box_shadow: var(
    --kup-box-shadow,
    0px 3px 6px 0 rgba(0, 0, 0, 0.3)
  );
  --kup-card_border_color: var(
    --kup-card-border-color,
    var(--kup-gray-color-20)
  );
  background: var(--kup_card_background_color);
  box-shadow: var(--kup_card_box_shadow);
  box-sizing: border-box;
  overflow: auto;
  padding: var(--kup-space-03);

  > table {
    width: 100%;

    > tr > td {
      > div.value {
        text-align: right;
        color: var(--kup-text-color, var(--kup-gray-color-70));
        border-bottom: 1px solid var(--kup-card_border_color);
        min-height: 1.5em;
      }

      > .f-button {
        display: flex;
        justify-content: center;
      }

      > div.number {
        cursor: pointer;
        display: flex;
        justify-content: center;
        line-height: 2.5em;
        margin: auto;
        width: 2.5em;
        transition: background-color 0.25s;
        text-transform: capitalize;

        &:hover {
          background-color: var(--kup-gray-color-30);
        }
      }
    }
  }
}
