.built-in-layout-1 {
  --kup_card_text_color: var(--kup-card-text-color, var(--kup-text-primary));
  --kup_card_background_color: var(
    --kup-card-background-color,
    var(--kup-layer-1)
  );
  --kup_card_selected_color: var(
    --kup-card-selected-color,
    var(--kup-primary-color-60)
  );
  --kup_card_selected_color_hover: var(
    --kup-card-selected-color-hover,
    var(--kup-gray-color-30)
  );
  --kup_card_box_shadow: var(
    --kup-box-shadow,
    0px 3px 6px 0 rgba(0, 0, 0, 0.3)
  );
  background-color: var(--kup_card_background_color);
  border-radius: var(--kup-radius-00);
  box-sizing: border-box;
  box-shadow: 0 2px 1px -1px rgba(128, 128, 128, 0.1),
    0 1px 1px 0 rgba(128, 128, 128, 0.1), 0 1px 3px 0 rgba(128, 128, 128, 0.6);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;
  overflow: auto;
  padding: 0.5em;

  .section-1 {
    box-sizing: border-box;
    height: 5em;
    overflow: auto;
    padding-bottom: 1em;
    width: 100%;

    .sub-1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  .section-2 {
    height: calc(100% - 60px);
    overflow: auto;
    width: 100%;
  }

  .change-view-button {
    margin: auto;
    width: 12em;
    text-align: center;
    button {
      color: var(-kup_card_text_color);

      span {
        @include kup-heading-compact-01;
        color: var(-kup_card_text_color);
      }
    }
  }

  #change-view-button button {
    text-transform: capitalize;
  }

  .next-page .icon-button .f-image .f-image__icon,
  .prev-page .icon-button .f-image .f-image__icon {
    background-color: var(--kup_card_text_color) !important;
  }

  .calendar {
    border-collapse: collapse;
    width: 100%;
  }

  tbody:before {
    content: '@';
    display: block;
    line-height: var(--kup-space-05);
    text-indent: -99999px;
  }

  .item-text {
    color: var(--kup_card_text_color);
    @include kup-body-compact-01;
  }

  .item {
    text-align: center;

    &:not(.selected) .item-number:hover {
      background-color: var(--kup_card_selected_color_hover);
    }
    &.selected .item-number,
    &.selected .item-number:hover {
      background-color: var(--kup_card_selected_color);
      color: var(--kup-gray-color-0);
    }
  }

  .item-number {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 2.5em;
    transition: background-color 0.25s;
    text-transform: capitalize;
    @include kup-body-compact-01;
    line-height: 2.5em;
    color: var(--kup_card_text_color);
  }
}
