.standard-layout-5 {
  background-color: var(--kup-background-color);
  color: var(--kup-text-color);
  box-shadow: 0px 0px 7.5px 0px rgba(128, 128, 128, 0.5);
  height: 100%;
  overflow: hidden;
  width: 100%;

  .section-1 {
    background-color: var(--color-0);
    height: 3%;
  }

  .section-2 {
    display: flex;
    height: 53%;
  }

  .section-3 {
    display: flex;
    height: 24%;
  }

  .section-4 {
    display: flex;
    height: 20%;
    background-color: var(--color-1);
  }

  .sub-2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    &.icon {
      min-height: 20px;
      flex: 0 0 10%;
      max-width: 10%;

      #image1 {
        box-sizing: border-box;
        margin: auto;
        padding: 0 20%;
        img {
          object-fit: contain;
        }
      }
    }

    &.text {
      flex: 0 0 70%;
      max-width: 70%;
      margin: auto;
      height: 100%;
      flex-wrap: nowrap;
      padding: 1em;
      text-align: left;
    }

    &.image {
      box-sizing: border-box;
      flex: 0 0 20%;
      padding: 1.5vh 0;
      max-width: 20%;

      #image2 {
        box-sizing: border-box;
        margin: auto;
        padding: 0 10%;
        img {
          object-fit: contain;
        }
      }
    }

    .desc-text {
      overflow: auto;
    }

    .alt-text {
      color: var(--kup-primary-color);
    }
  }

  .sub-3 {
    box-sizing: border-box;

    &.progress-bar {
      margin: auto;
      padding: 0 5%;
      vertical-align: 2px;
      width: 80%;
    }

    &.button {
      margin: auto;
      text-align: center;
      width: 20%;
    }

    kup-button {
      margin: auto;
    }
  }

  .sub-4 {
    box-sizing: border-box;
    margin: auto;

    &.text {
      width: 50%;
      font-size: 0.875em;
    }

    div {
      padding: 0 5%;
    }

    .alt-text {
      color: var(--color-0);
      font-size: 1em;
    }
  }

  .alt-text {
    font-weight: bold;
  }

  @media screen and (max-width: 767px) {
    .sub-2.image {
      display: none;
    }

    .sub-2.icon {
      flex-basis: 30%;
      max-width: 30%;
    }
  }
}
