$padding: 0.5em;

.standard-layout-14 {
  background-color: var(--kup-background-color);
  box-shadow: 0 2px 1px -1px rgba(128, 128, 128, 0.1),
    0 1px 1px 0 rgba(128, 128, 128, 0.1), 0 1px 3px 0 rgba(128, 128, 128, 0.6);
  color: var(--kup-text-color);
  max-width: 35vw;
  min-width: 200px;
  min-width: -moz-max-content; /* Firefox/Gecko */
  min-width: -webkit-max-content; /* Chrome */

  .section-1 {
    --kup-button-font-size: 0.75em;

    box-sizing: border-box;
    display: flex;
    padding: $padding;

    .sub-1 {
      width: 100%;
    }

    .top {
      display: flex;
      justify-content: space-between;
    }

    .buttons {
      display: flex;
    }

    .sub-spinner {
      height: 88px;
      width: 88px;
      margin: 0 10px;
    }

    .f-image {
      margin: 0 $padding 0 0;
    }

    .title {
      align-items: flex-end;
      display: flex;
      font-size: 1.25em;
      font-weight: 600;
      margin-bottom: $padding;
      padding: 0 0.25em 0.25em;
      text-align: left;

      .label {
        cursor: pointer;
        padding-right: 0.25em;
        padding-top: $padding;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include kup-heading-02;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .info {
      display: flex;
      padding: 0 0.25em 0.25em;
      width: 100%;

      .label {
        color: rgba(var(--kup-text-color-rgb), 0.75);
        margin-right: 0.75em;
        min-width: max-content;
        width: auto;
        @include kup-body-compact-01;
      }

      .value {
        font-weight: 600;
        width: 100%;
        @include kup-heading-compact-01;
      }
    }
  }

  .section-2,
  .section-3 {
    padding: $padding;

    .tooltip-container {
      position: absolute;
      right: 1em;
      z-index: 1;
    }

    .tooltip-text {
      visibility: hidden;
      background-color: var(--kup-gray-color-20);
      color: var(--kup-text-primary);
      text-align: left;
      padding: 8px;
      border-radius: 4px;
      position: absolute;
      bottom: 125%;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      opacity: 0;
      transition: opacity 0.3s;
    }

    .tooltip-container:hover .tooltip-text {
      visibility: visible;
      opacity: 1;
    }
  }

  .sub-button {
    display: inline-flex;
    width: 100%;
    kup-button {
      margin: 0;
    }
  }

  .sub-checkbox {
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    max-height: 20vh;
    overflow: auto;
    kup-checkbox {
      margin-left: 0;
      margin-right: auto;
    }
  }

  .sub-filters-warning {
    display: flex;
    justify-content: center;
    padding-top: var(--kup-space-05);

    label {
      font-size: var(--kup-label-01-font-size, 12px);
    }
  }

  .sub-formula {
    padding: 0.5em 0;
  }

  .sub-chip {
    max-width: 25vw;
    overflow: auto;
    box-shadow: 0 3px 2px -2px var(--kup-border-subtle);
  }

  .sub-field {
    display: flex;
    flex-direction: column;
    gap: var(--kup-space-03);
    &.has-content {
      border-bottom: 1px solid var(--kup-border-subtle);
      padding: 0.5em 0;
    }
    kup-date-picker:first-of-type,
    kup-time-picker:first-of-type {
      margin-bottom: 0.5em;
    }
  }

  .sub-spinner {
    height: 100px;
  }

  .sub-autocomplete {
    padding-top: 1em;

    kup-autocomplete {
      margin: auto;
      padding: 0.5em 0;
      width: max-content;
    }
  }

  .sub-switch {
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
  }

  .sub-tree {
    max-height: 25vh;
    overflow: auto;
  }

  #apply {
    display: none;
    margin: auto;

    &.visible {
      display: block;
    }
  }

  #open-in-new,
  #search,
  #new {
    margin: 0 0 0.5em 0;
  }
}
