.standard-layout-11 {
  background-color: var(--kup-background-color);
  color: var(--kup-text-color);
  box-shadow: 0px 0px 7.5px 0px rgba(128, 128, 128, 0.5);
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  position: relative;

  #image1 img {
    object-fit: contain;
  }

  .section-1 {
    display: flex;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    min-width: 6em;
    max-width: 6em;
    overflow: hidden;
    transition: 0.25s ease-in;
  }

  .section-2 {
    display: flex;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    overflow: hidden;
  }

  .sub-1 {
    background-color: var(--color-0);
    height: 100%;
    text-align: center;
    writing-mode: vertical-lr;
    min-width: 6em;
    display: flex;
    transition: width 0.25s ease-in;
    div {
      font-size: 1.25em;
    }
  }

  .sub-2 {
    display: flex;
    flex-direction: row;
  }

  .text:not(.description) {
    text-align: left;
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
  }

  .icon {
    margin: auto;
    padding: 0 1.25em;
  }

  .description {
    font-size: 1.5em;
    letter-spacing: 1px;
    margin: auto;
    color: var(--kup_card_dynamic_color_0);
  }

  .title {
    font-size: 2.75em;
    font-weight: bold;
    margin-top: auto;
  }

  .subtitle {
    font-size: 1.5em;
    opacity: 0.75;
    margin-bottom: auto;
  }
}
