.standard-layout-16 {
    background-color: var(--kup-background-color);
    border-radius: 4px;
    box-shadow: 0 2px 1px -1px rgba(128, 128, 128, 0.1),
      0 1px 1px 0 rgba(128, 128, 128, 0.1), 0 1px 3px 0 rgba(128, 128, 128, 0.6);
    color: var(--kup-text-color);
    font-size: var(--kup-font-size);
    padding: 0.5em;
  
    > table {
      width: 100%;
    }
    .label {
      padding: 0.5em;
      vertical-align: top;
    }
    .value {
      padding: 0.5em;
      font-weight: bold;
    }
  }