@import 'kup-card-standard-1.scss';
@import 'kup-card-standard-2.scss';
@import 'kup-card-standard-3.scss';
@import 'kup-card-standard-4.scss';
@import 'kup-card-standard-5.scss';
@import 'kup-card-standard-6.scss';
@import 'kup-card-standard-7.scss';
@import 'kup-card-standard-8.scss';
@import 'kup-card-standard-9.scss';
@import 'kup-card-standard-10.scss';
@import 'kup-card-standard-11.scss';
@import 'kup-card-standard-12.scss';
@import 'kup-card-standard-13.scss';
@import 'kup-card-standard-14.scss';
@import 'kup-card-standard-15.scss';
