.standard-layout-14 {
  background-color: var(--kup-background-color);
  box-shadow: var(--kup-box-shadow);
  color: var(--kup-text-color);
  min-width: 200px;
  min-width: -moz-max-content; /* Firefox/Gecko */
  min-width: -webkit-max-content; /* Chrome */

  .sub-field {
    display: flex;
    flex-direction: column;
    &.has-content {
      border-bottom: 1px solid var(--kup-border-color);
      padding: 0.5em 0.5em;
    }
    kup-date-picker:first-of-type,
    kup-time-picker:first-of-type {
      margin-bottom: 0.5em;
    }
  }

  .sub-checkbox {
    display: flex;
    flex-direction: column;
    max-height: 20vh;
    overflow: auto;
    kup-checkbox {
      margin-left: 0;
      margin-right: auto;
    }
  }

  .sub-button {
    display: inline-flex;
    width: 100%;
    kup-button {
      margin: 0;
    }
  }

  .sub-chip {
    max-width: 40vw;
  }

  #apply {
    display: none;
    &.visible {
      display: block;
    }
  }
}
