.standard-layout-12 {
  background-color: var(--kup-background-color);
  box-shadow: 0 2px 1px -1px rgba(128, 128, 128, 0.1),
    0 1px 1px 0 rgba(128, 128, 128, 0.1), 0 1px 3px 0 rgba(128, 128, 128, 0.6);
  color: var(--kup-text-color);
  min-width: 200px;
  min-width: -moz-max-content; /* Firefox/Gecko */
  min-width: -webkit-max-content; /* Chrome */

  .section-1 {
    display: inline-flex;
    border-bottom: 1px solid var(--kup-border-color);
    width: 100%;
    kup-button {
      margin: 0;
    }
  }

  .section-2 {
    display: flex;
    flex-direction: column;
    &.has-content {
      border-bottom: 1px solid var(--kup-border-color);
      padding: 0.5em 0.5em;
    }
    kup-date-picker:first-of-type,
    kup-time-picker:first-of-type {
      margin-bottom: 0.5em;
    }
  }

  .section-3 {
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    max-height: 20vh;
    overflow: auto;
    kup-checkbox {
      margin-left: 0;
      margin-right: auto;
    }
  }
}
