.standard-layout-7 {
  background-color: var(--kup-background-color);
  color: var(--kup-text-color);
  box-shadow: 0px 0px 7.5px 0px rgba(128, 128, 128, 0.5);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100%;

  #image1 img {
    margin: auto;
    object-fit: contain;
  }

  .section-1 {
    background-color: var(--color-0);
    height: 5%;
    width: 100%;
  }

  .section-2 {
    height: 80%;
    width: 100%;
    text-align: center;
    padding: 25px 25%;
    box-sizing: border-box;

    .sub-2 {
      margin: auto;
    }

    .sub-2.image {
      box-sizing: border-box;
      height: 65%;
    }

    .sub-2.text {
      font-size: 1.4em;
      letter-spacing: 1.2px;
      padding-top: 1em;
      height: 35%;
    }
  }

  .section-3 {
    display: flex;
    height: 15%;
    width: 100%;

    .alt-text {
      margin: auto;
      opacity: 0.75;
      width: 50%;
    }

    .alt-text:nth-child(1) {
      margin-left: 1em;
      text-align: left;
    }

    .alt-text:nth-child(2) {
      margin-right: 1em;
      text-align: right;
    }
  }
}
