.standard-layout-6 {
  background-color: var(--kup-background-color);
  color: var(--kup-text-color);
  box-shadow: 0px 0px 7.5px 0px rgba(128, 128, 128, 0.5);
  display: flex;
  height: 100%;
  overflow: hidden;
  width: 100%;

  .section-1 {
    background-color: var(--color-0);
    display: flex;
    flex: 0 0 10%;
    max-width: 10%;

    .alt-text {
      color: var(--kup_card_dynamic_color_0);
      height: 100%;
      text-align: center;
      writing-mode: vertical-lr;
      margin: auto;
      font-size: 1.25em;
    }
  }

  .section-2 {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex: 0 0 90%;
    flex-direction: column;
    max-width: 90%;

    .sub-2 {
      margin: auto;
      text-align: center;

      kup-progress-bar {
        margin-bottom: 1em;
      }
    }
  }

  kup-button {
    position: absolute;
    bottom: 2%;
    right: 2%;
  }
}
