.standard-layout-16 {
  background: var(--kup-layer-1);
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
  color: var(--kup-text-color);
  display: block;
  font-size: var(--kup-font-size);
  outline: none;

  .section-1 {
    --kup-button-font-size: 0.75em;
    box-sizing: border-box;
    display: flex;
    padding: 1em;

    .title {
      align-items: flex-end;
      display: flex;
      font-size: 1.25em;
      font-weight: 600;
      margin-bottom: 0.5em;
      padding: 0 0.25em 0.25em;
      text-align: left;

      .label {
        cursor: pointer;
        padding-right: 0.25em;
        padding-top: 0.5em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include kup-heading-02;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .info {
      display: flex;
      padding: 0 0.25em 0.25em;
      width: 100%;

      .label {
        color: rgba(var(--kup-text-color-rgb), 0.75);
        margin-right: 0.75em;
        min-width: max-content;
        width: auto;
        @include kup-body-compact-01;
      }

      .value {
        font-weight: 600;
        width: 100%;
        @include kup-heading-compact-01;
      }
    }
  }

  .section-3 {
    kup-text-field {
      padding: var(--kup-space-05);
      box-sizing: border-box;
    }
  }

  #open-in-new,
  #search,
  #new {
    margin: 0 0 0.5em 0;
  }
}
