.standard-layout-12 {
  background: var(--kup-background-color);
  box-shadow: var(--kup-box-shadow);
  color: var(--kup-text-color);
  min-width: 200px;
  min-width: -moz-max-content; /* Firefox/Gecko */
  min-width: -webkit-max-content; /* Chrome */

  .section-1 {
    display: inline-flex;
    border-bottom: 1px solid var(--kup-border-color);
    width: 100%;
    kup-button {
      margin: 0;
    }
  }

  .section-2 {
    display: flex;
    border-bottom: 1px solid var(--kup-border-color);
    padding: 0.5em 0.5em;
  }

  .section-3 {
    display: flex;
    flex-direction: column;
    max-height: 20vh;
    overflow: auto;
    kup-checkbox {
      margin-left: 0;
      margin-right: auto;
    }
  }
}
