.custom-task-list-wrapper {
  display: flex;
  justify-content: space-around;
  max-width: 330px;
  place-items: 'center';
  text-align: center;
  align-items: center;
}

.title {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.toggler {
  max-width: max-content;
  padding: 0 4px;
  text-align: right;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.input {
  opacity: 0;
  width: 0;
  height: 0;

  &:checked + .slider {
    background-color: #003b77;

    &:before {
      -webkit-transform: translateX(13px);
      -ms-transform: translateX(13px);
      transform: translateX(13px);
    }
  }

  &:focus + .slider {
    box-shadow: 0 0 1px #003b77;
  }
}

.slider {
  -webkit-transition: 0.4s;
  cursor: pointer;
  background-color: #ccc;
  bottom: 0;
  border-radius: 17px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;

  &:before {
    -webkit-transition: 0.1s;
    background-color: white;
    border-radius: 50%;
    bottom: 2px;
    content: '';
    height: 13px;
    left: 2px;
    position: absolute;
    transition: 0.1s;
    width: 13px;
  }
}

.label {
  font-size: 12px;
  padding: 6px;
}

.filter {
  font-size: 12px;
}
