.container {
  margin-top: var(--kup-space-04);
}

.project {
  background: var(--kup-gray-color-10);
  border-bottom: 1px solid var(--kup-gray-color-20);
  border-radius: var(--kup-radius-00);
  box-sizing: border-box;
  color: var(--kup-text-color, #595959);
  cursor: pointer;
  display: grid;
  font-weight: 400;
  grid-template-columns: var(--grid-project-columns, 1fr 1fr 1fr);
  place-items: center;
  padding: var(--kup-space-03);

  & > * {
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    @include kup-body-compact-01;
  }

  & .main {
    font-weight: 700;
    width: 100%;
    padding-left: 4px;
    @include kup-heading-compact-01;
  }
}

.subrow {
  cursor: pointer;
  display: grid;
  border-bottom: 1px solid var(--kup-gray-color-20);
  box-sizing: border-box;
  grid-template-columns: var(--grid-fasi-columns, 1fr 1fr 1fr);
  place-items: center;
  background-color: var(--kup-gray-color-10);
  color: var(--kup-gray-color-90);
  font-weight: 400;

  & > * {
    font-size: 12px;
    line-height: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    @include kup-label-01;
  }
}

.subrow:last-of-type {
  border-bottom: 1px solid var(--kup-gray-color-30);
}

.subrow:has(+ .subrow),
.project:has(+ .subrow) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.timeline {
  padding: var(--kup-space-03);
  cursor: pointer;
  display: grid;
  border-bottom: 1px solid var(--kup-gray-color-20);
  border-radius: var(--kup-radius-00);
  grid-template-columns: var(--grid-fasi-columns, 1fr 1fr 1fr);
  place-items: center;
  background-color: var(--kup-gray-color-10);
  color: var(--kup-gray-color-90);
  font-weight: 400;
  box-sizing: border-box;

  & > * {
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    @include kup-body-compact-01;
  }

  & .main {
    font-weight: 700;
    width: 100%;
    padding-left: 4px;
    @include kup-heading-compact-01;
  }
}
