.container {
  margin-top: var(--kup-space-04);
}

.scrollable {
  overflow-x: auto;
  scrollbar-width: 0;
  .project-wrapper {
    display: table;
  }
  .project {
    width: 100% !important;
    display: table-row;

    & > * {
      overflow: unset;
      padding-right: 10px;
      display: table-cell;
      vertical-align: middle;
      border-bottom: 1px solid var(--kup-border-subtle, #acacac);
      border-top: 1px solid var(--kup-border-subtle, #acacac);
      padding-left: 12px;
      &:first-child {
        border-left: 1px solid var(--kup-border-subtle, #acacac);
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
      }
      &:last-child {
        border-right: 1px solid var(--kup-border-subtle, #acacac);
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
      }
    }
  }
  .subrow {
    width: 100% !important;
    display: table-row;
    & > * {
      overflow: unset;
      padding-right: 10px;
      display: table-cell;
      vertical-align: middle;
      border-bottom: 1px solid #acacac;
      border-top: 1px solid #acacac;
      padding-left: 12px;
      &:first-child {
        border-left: 1px solid #acacac;
      }
      &:last-child {
        border-right: 1px solid #acacac;
      }
    }
  }
  .timeline {
    width: 100% !important;
    display: table-row;
    & > * {
      overflow: unset;
      padding-right: 10px;
      display: table-cell;
      vertical-align: middle;
      border-bottom: 1px solid #acacac;
      border-top: 1px solid #acacac;
      padding-left: 12px;
      &:first-child {
        border-left: 1px solid #acacac;
      }
      &:last-child {
        border-right: 1px solid #acacac;
      }
    }
  }
  .project:has(+ .subrow) {
    & > * {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.scrollable::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.project {
  background: var(--kup-layer-1);
  border-bottom: 1px solid var(--kup-border-subtle);
  border-radius: var(--kup-radius-00);
  box-sizing: border-box;
  color: var(--kup-text-secondary);
  cursor: pointer;
  display: grid;
  font-weight: 400;
  grid-template-columns: var(--grid-project-columns, 1fr 1fr 1fr);
  place-items: center;
  padding: var(--kup-space-03);

  & > * {
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    @include kup-body-compact-01;
  }

  & .main {
    font-weight: 700;
    width: 100%;
    padding-left: 4px;
    @include kup-heading-compact-01;
  }
}

.subrow {
  cursor: pointer;
  display: grid;
  border-bottom: 1px solid var(--kup-border-subtle);
  box-sizing: border-box;
  grid-template-columns: var(--grid-fasi-columns, 1fr 1fr 1fr);
  place-items: center;
  background-color: var(--kup-layer-1);
  color: var(--kup-text-primary);
  font-weight: 400;

  & > * {
    font-size: 12px;
    line-height: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    @include kup-label-01;
  }
}

.subrow:last-of-type {
  border-bottom: 1px solid var(--kup-gray-color-30);
}

.subrow:has(+ .subrow),
.project:has(+ .subrow) {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.timeline {
  padding: var(--kup-space-03);
  cursor: pointer;
  display: grid;
  border-bottom: 1px solid var(--kup-border-subtle);
  border-radius: var(--kup-radius-00);
  grid-template-columns: var(--grid-fasi-columns, 1fr 1fr 1fr);
  place-items: center;
  background-color: var(--kup-layer-1);
  color: var(--kup-text-primary);
  font-weight: 400;
  box-sizing: border-box;

  & > * {
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    @include kup-body-compact-01;
  }

  & .main {
    font-weight: 700;
    width: 100%;
    padding-left: 4px;
    @include kup-heading-compact-01;
  }
}
