/*-------------------------------------------------*/
/*        C o m p o n e n t   C l a s s e s        */
/*-------------------------------------------------*/

:host(.#{$kup-class-left-aligned}) {
  .box-section {
    text-align: left;

    .f-image--wrapper {
      margin-left: 0;
      margin-right: auto;
    }

    kup-checkbox {
      justify-content: flex-start;
    }
  }
}

:host(.#{$kup-class-right-aligned}) {
  .box-section {
    text-align: right;

    .f-image--wrapper {
      margin-left: auto;
      margin-right: 0;
    }

    kup-checkbox {
      justify-content: flex-end;
    }
  }
}

:host(.#{$kup-class-top-aligned}) {
  #box-container .box-wrapper .box .box-section .column {
    justify-content: flex-start;
  }
}

:host(.#{$kup-class-bottom-aligned}) {
  #box-container .box-wrapper .box .box-section .column {
    justify-content: flex-end;
  }
}

:host(:not(.#{$kup-class-borderless})) {
  .box {
    border: 1px solid var(--kup-border-color);
  }
}

:host(.#{$kup-class-flat-on-hover}) {
  #box-container .box-wrapper .box:hover {
    box-shadow: none;
  }
}

:host(.#{$kup-class-shaped}) {
  .box {
    border-radius: 10px;
  }
}

:host(.#{$kup-class-round}) {
  .box {
    border-radius: 25px;
  }
}

:host(.#{$kup-class-dashed-sections}) {
  .box-section {
    border: 2px dashed var(--kup-text-color);
  }
}

:host(:not(.#{$kup-class-paddingless})) {
  #box-container {
    .box {
      padding: 3px;

      .box-section {
        .box-object {
          padding: 1px 4px;
        }

        &.last-child {
          margin: 3px 4px;
        }
      }
    }
  }
}

:host(.#{$kup-class-danger}) {
  --kup-box-primary-color-rgb: var(--kup-danger-color-rgb);
}

:host(.#{$kup-class-info}) {
  --kup-box-primary-color-rgb: var(--kup-info-color-rgb);
}

:host(.#{$kup-class-secondary}) {
  --kup-box-primary-color-rgb: var(--kup-secondary-color-rgb);
}

:host(.#{$kup-class-success}) {
  --kup-box-primary-color-rgb: var(--kup-success-color-rgb);
}

:host(.#{$kup-class-warning}) {
  --kup-box-primary-color-rgb: var(--kup-warning-color-rgb);
}

/*-------------------------------------------------*/
/*             J S O N   C l a s s e s             */
/*-------------------------------------------------*/

:host {
  .box-section.left-aligned {
    text-align: left;

    .f-image--wrapper {
      margin-left: 0;
      margin-right: auto;
    }

    kup-checkbox {
      justify-content: flex-start;
    }
  }
}

:host {
  .box-section.right-aligned {
    text-align: right;

    .f-image--wrapper {
      margin-left: auto;
      margin-right: 0;
    }

    kup-checkbox {
      justify-content: flex-end;
    }
  }
}

:host {
  .box-section.center-aligned {
    text-align: center;

    .f-image--wrapper {
      margin: auto;
    }

    kup-checkbox {
      justify-content: center;
    }
  }
}

/*-------------------------------------------------*/
/*     J S O N   C l a s s e s   ( c e l l s )     */
/*-------------------------------------------------*/
// boxObjects styles
// These styles are applied to the whole cell (boxObject)
.clickable {
  cursor: pointer;
}

.display-on-hover {
  opacity: 0;
  transition: opacity 0.25s;
  &:hover {
    opacity: 1;
  }
}

.shaped {
  border-radius: 4px;
}

.strong-text {
  font-weight: 600;
}

.success-text {
  color: var(--kup-success-color) !important;
}

.warning-text {
  color: var(--kup-warning-color) !important;
}

.danger-text {
  color: var(--kup-danger-color) !important;
}

.purple-text {
  color: #8e15bf !important;
}

.success-bg {
  background: var(--kup-success-color) !important;
  color: white !important;
}

.warning-bg {
  background: var(--kup-warning-color) !important;
}

.danger-bg {
  background: var(--kup-danger-color) !important;
  color: white !important;
}

.teal-bg {
  background: #00b4bc !important;
  color: white !important;
}

.orange-bg {
  background: #f59729 !important;
  color: white !important;
}

.green-bg {
  background: #00be67 !important;
  color: white !important;
}

.grey-bg {
  background: #8d8d8d !important;
  color: white !important;
}

.purple-bg {
  background: #b88acc !important;
  color: white !important;
}

.top-right-indicator {
  position: relative !important;

  &.fixed-column,
  &.fixed-row {
    position: sticky !important;
  }

  &:after {
    content: '';
    border-width: 0 0 0.5em 0.5em;
    border-color: transparent transparent var(--kup-secondary-color) transparent;
    border-style: solid;
    transform: rotate(270deg);
    position: absolute;
    right: 0;
    top: 0;
  }
}

.link {
  color: #0000ee;
  text-decoration: underline;
}

// Content styles
// These styles are applied to the cell's content
.c-vertical-text {
  & * {
    text-align: center;
    writing-mode: vertical-lr;
  }
}

.c-right-aligned {
  & * {
    flex-flow: row-reverse;
  }
}

.c-centered {
  & * {
    margin: auto;
    max-width: max-content;
  }
}

.c-fitted {
  & * {
    max-width: max-content;
  }
}

.c-shaped {
  & * {
    border-radius: 4px;
  }
}

.c-hor-padded {
  & * {
    box-sizing: border-box;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

.c-ver-padded {
  & * {
    box-sizing: border-box;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}

.c-success-bg {
  & * {
    background: var(--kup-success-color) !important;
    color: white !important;
  }
}

.c-warning-bg {
  & * {
    background: var(--kup-warning-color) !important;
  }
}

.c-danger-bg {
  & * {
    background: var(--kup-danger-color) !important;
    color: white !important;
  }
}

.c-teal-bg {
  & * {
    background: #00b4bc !important;
    color: white !important;
  }
}

.c-orange-bg {
  & * {
    background: #f59729 !important;
    color: white !important;
  }
}

.c-green-bg {
  & * {
    background: #00be67 !important;
    color: white !important;
  }
}

.c-grey-bg {
  & * {
    background: #8d8d8d !important;
    color: white !important;
  }
}

.c-purple-bg {
  & * {
    background: #b88acc !important;
    color: white !important;
  }
}
