/*-------------------------------------------------*/
/*        C o m p o n e n t   C l a s s e s        */
/*-------------------------------------------------*/

:host(.#{$kup-class-center-aligned}) {
  #kup-component {
    .box-section {
      text-align: center;

      .f-cell {
        justify-content: center;
        margin: auto;
        text-align: center;

        .f-cell__content {
          justify-content: center;
          margin: auto;
          text-align: center;
        }

        img {
          margin: auto;
        }
      }
    }
  }
}

:host(.#{$kup-class-right-aligned}) {
  #kup-component {
    .box-section {
      text-align: right;

      .f-cell {
        justify-content: flex-end;
        margin-left: auto;
        margin-right: 0;
        text-align: right;

        .f-cell__content {
          justify-content: flex-end;
          margin-left: auto;
          margin-right: 0;
          text-align: right;
        }

        img {
          margin-left: auto;
          margin-right: 0;
        }
      }
    }
  }
}

:host(.#{$kup-class-top-aligned}) {
  #box-container .box-wrapper .box .box-section .column {
    justify-content: flex-start;
  }
}

:host(.#{$kup-class-bottom-aligned}) {
  #box-container .box-wrapper .box .box-section .column {
    justify-content: flex-end;
  }
}

:host(:not(.#{$kup-class-borderless})) {
  .box {
    border: 1px solid var(--kup-border-color);
  }
}

:host(.#{$kup-class-flat-on-hover}) {
  #box-container .box-wrapper .box:hover {
    box-shadow: none;
  }
}

:host(.#{$kup-class-shaped}) {
  .box {
    border-radius: 10px;
  }
}

:host(.#{$kup-class-round}) {
  .box {
    border-radius: 25px;
  }
}

:host(.#{$kup-class-dashed-sections}) {
  .box-section {
    border: 2px dashed var(--kup-text-color);
  }
}

:host(:not(.#{$kup-class-paddingless})) {
  #box-container {
    .box {
      padding: 3px;

      .box-section {
        .box-object {
          padding: 1px 4px;
        }

        &.last-child {
          margin: 3px 4px;
        }
      }
    }
  }
}

:host(.#{$kup-class-danger}) {
  --kup-box-primary-color-rgb: var(--kup-danger-color-rgb);
}

:host(.#{$kup-class-info}) {
  --kup-box-primary-color-rgb: var(--kup-info-color-rgb);
}

:host(.#{$kup-class-secondary}) {
  --kup-box-primary-color-rgb: var(--kup-secondary-color-rgb);
}

:host(.#{$kup-class-success}) {
  --kup-box-primary-color-rgb: var(--kup-success-color-rgb);
}

:host(.#{$kup-class-warning}) {
  --kup-box-primary-color-rgb: var(--kup-warning-color-rgb);
}
