/**
* @prop --kup-box-background-color: Sets background of the component.
* @prop --kup-box-color: Sets text color of the component.
* @prop --kup-box-font-family: Sets font family of the component.
* @prop --kup-box-font-size: Sets font size of the component.
* @prop --kup-box-grid-gap: Sets gap between each box.
* @prop --kup-box-hover-box-shadow: Sets box shadow for the hover effect.
* @prop --kup-box-primary-color-rgb: Sets RGB values of primary color (used for box selection) .
* @prop --kup-box-transition: Sets transition duration for box-shadow and background-color.
*/

:host {
  --kup_box_background_color: var(
    --kup-box-background-color,
    var(--kup-background-color)
  );
  --kup_box_color: var(--kup-box-color, var(--kup-text-color));
  --kup_box_font_family: var(--kup-box-font-family, var(--kup-font-family));
  --kup_box_font_size: var(--kup-box-font-size, var(--kup-font-size));
  --kup_box_grid_gap: var(--kup-box-grid-gap, 1em);
  --kup_box_hover_box_shadow: var(
    --kup-box-hover-box-shadow,
    0px 0px 7.5px 0px rgba(128, 128, 128, 0.5)
  );
  --kup_box_primary_color_rgb: var(
    --kup-box-primary-color-rgb,
    var(--kup-primary-color-rgb)
  );
  --kup_box_transition: var(--kup-box-transition, 0.25s);

  display: block;
  font-family: var(--kup_box_font_family);
  font-size: var(--kup_box_font_size);
}

.box-component {
  background: var(--kup_box_background_color);
  transition: border var(--kup_box_transition) ease;

  &[#{$kup-dd-drag-over}] {
    position: relative;
    border: 3px dashed var(--kup-border-color);
  }
}

#box-container {
  display: grid;
  grid-gap: var(--kup_box_grid_gap);
  color: var(--kup_box_color);
  overflow: auto;

  &.is-kanban {
    .kanban-section {
      overflow: auto;
    }
    .box-wrapper {
      padding-top: 1em;
      .box {
        overflow: auto;
      }
    }
  }

  * {
    box-sizing: border-box;
  }

  .box-wrapper {
    display: flex;
    align-items: center;

    .box {
      flex-grow: 1;
      cursor: pointer;
      position: relative;
      display: flex;
      transition: background-color var(--kup_box_transition) ease,
        box-shadow var(--kup_box_transition) ease,
        border var(--kup_box_transition) ease;

      &.draggable {
        touch-action: none;
        user-select: none;
      }

      &.column {
        flex-direction: column;
      }

      &:hover {
        box-shadow: var(--kup_box_hover_box_shadow);
      }

      &.selected {
        background-color: rgba(var(--kup_box_primary_color_rgb), 0.175);

        & .box-section.titled > h3 {
          background-color: transparent;
        }
      }

      &[#{$kup-dd-draggable}] {
        opacity: 0.5;
      }

      &[#{$kup-dd-drag-over}] {
        border: 3px dashed var(--kup-border-color);
        position: relative;
        z-index: 2;
      }

      .box-section {
        display: flex;
        flex-direction: row;
        flex: 1 1 1%;
        flex-wrap: wrap;

        &.column {
          flex-direction: column;
          justify-content: center;
          flex-wrap: unset;

          > .box-section {
            flex: 0 0 auto;
          }
        }

        &.grid {
          display: grid;
        }

        .box-object {
          min-height: 16px;

          img {
            height: auto;
          }
        }

        // collapsible sections
        &.collapse-section {
          .header {
            border-top: 1px solid var(--kup-border-color);
            color: rgba(var(--kup-text-color-rgb), 0.75);
            display: flex;
            justify-content: space-around;
            width: 100%;

            .header-content {
              margin: 0.5em;
              display: flex;
              align-items: center;

              .f-image {
                transition: transform 0.15s;

                &.toggled {
                  transform: rotate(-180deg);
                }
              }

              .#{$kup-icon}.#{$kup-icon-dropdown} {
                margin: 0;
                -webkit-mask: var(--kup-dropdown-icon);
                mask: var(--kup-dropdown-icon);
              }
            }
          }

          .content {
            display: none;
            width: 100%;
          }

          &.open {
            .content {
              display: block;
            }
          }
        }

        &.titled {
          border: 1px solid var(--kup-border-color);
          padding-top: 5px;
          position: relative;
          margin: 10px;

          > h3 {
            background: var(--kup-background-color);
            font-size: calc(var(--kup-font-size) * 1.15);
            position: absolute;
            margin: 0px;
            padding: 0 8px;
            top: -11px;
            left: 5px;
            transition: background-color 0.25s ease;
          }
        }
      }

      .box-selection {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        z-index: 1;
      }
    }

    .row-actions-wrapper {
      .row-actions-toggler {
        position: relative;
        width: 24px;
        height: 24px;
        margin-left: 3px;

        svg {
          cursor: pointer;
          opacity: 0;
          fill: var(--kup-text-color);
          transition: opacity 500ms ease-out;
        }

        .row-action-menu {
          background: var(--kup-background-color);
          border: 1px solid var(--kup-border-color);
          box-shadow: 0px 0px 7.5px 0px rgba(128, 128, 128, 0.5);
          position: absolute;
          top: 0;
          right: 24px;
          display: none;
          z-index: 10;

          ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            > li {
              cursor: pointer;
              white-space: nowrap;
              padding: 0 12px;
              display: flex;
              align-items: center;
              line-height: 30px;

              &:not(:last-child) {
                border-bottom: 1px solid var(--kup-border-color);
              }
            }
          }

          &.open {
            display: block;
          }
        }
      }
    }

    &:hover {
      .row-actions-wrapper {
        .row-actions-toggler {
          svg {
            opacity: 1;
          }
        }
      }
    }
  }
}

#sort-panel,
#global-filter {
  margin-bottom: 1em;
}
