/**
* @prop --kup-box-background-color: Sets background of the component.
* @prop --kup-box-color: Sets text color of the component.
* @prop --kup-box-font-family: Sets font family of the component.
* @prop --kup-box-font-size: Sets font size of the component.
* @prop --kup-box-grid-gap: Sets gap between each box.
* @prop --kup-box-hover-box-shadow: Sets box shadow for the hover effect.
* @prop --kup-box-primary-color-rgb: Sets RGB values of primary color (used for box selection) .
* @prop --kup-box-transition: Sets transition duration for box-shadow and background-color.
*/

:host {
  --kup_box_background_color: var(
    --kup-box-background-color,
    var(--kup-layer-1)
  );
  --kup_box_background_color_hover: var(
    --kup-box-background-color-hover,
    var(--kup-layer-1-hover)
  );
  --kup_box_background_color_selected: var(
    --kup-box-background-color-selected,
    var(--kup-layer-1-selected)
  );
  --kup_box_text_color: var(--kup-box-text-color, var(--kup-text-secondary));
  --kup_box_grid_gap: var(--kup-box-grid-gap, var(--kup-space-03));
  --kup_box_transition: var(--kup-box-transition, 0.25s);
  --kup_box_border_color_drag: var(
    --kup-box-border-color-drag,
    var(--kup-border-interactive)
  );
  display: block;
  --kup_box_padding: var(--kup-box-padding, var(--kup-space-05));
  --kup_box_border_radius: var(--kup-box-border-radius, var(--kup-radius-00));

  --kup_box_border_color: var(
    --kup-box-border-color,
    var(--kup-primary-color-60)
  );

  --kup_box_border_width: var(--kup-box-border-width, 0);
  --kup_box_border_style: var(--kup-box-border-style, none);
}

.box-component {
  transition: border var(--kup_box_transition) ease;

  &[#{$kup-dd-drag-over}] {
    position: relative;
    border: 3px dashed var(--kup_box_border_color_drag);
  }
}

#box-container {
  display: grid;
  grid-gap: var(--kup_box_grid_gap);
  color: var(--kup_box_text_color);
  overflow: auto;

  &.is-kanban {
    .kanban-section {
      overflow: auto;
    }
    .box-wrapper {
      padding-top: 1em;
      .box {
        overflow: auto;
      }
    }
  }

  *:not(.progress-bar-percentage) {
    box-sizing: border-box;
  }

  .box-wrapper {
    display: flex;
    align-items: center;
    background-color: var(--kup_box_background_color);
    border-radius: var(--kup_box_border_radius);
    border-color: var(--kup_box_border_color);
    border-width: var(--kup_box_border_width);
    border-style: var(--kup_box_border_style);
    &:hover {
      background-color: var(--kup_box_background_color_hover);
    }

    &.selected {
      background-color: var(--kup_box_background_color_selected);

      & .box-section.titled > h3 {
        background-color: transparent;
      }
    }

    .box {
      flex-grow: 1;
      cursor: pointer;
      position: relative;
      display: flex;
      padding: var(--kup_box_padding);
      transition: background-color var(--kup_box_transition) ease,
        box-shadow var(--kup_box_transition) ease,
        border var(--kup_box_transition) ease;

      &.draggable {
        touch-action: none;
        user-select: none;
      }

      &.column {
        flex-direction: column;
      }

      &[#{$kup-dd-draggable}] {
        opacity: 0.5;
      }

      &[#{$kup-dd-drag-over}] {
        border: 3px dashed var(--kup_box_border_color_drag);
        position: relative;
        z-index: 2;
      }

      .box-section {
        display: flex;
        flex-direction: row;
        flex: 1 1 1%;
        flex-wrap: wrap;

        &.column {
          flex-direction: column;
          justify-content: center;
          flex-wrap: unset;

          > .box-section {
            flex: 0 0 auto;
          }
        }

        &.grid {
          display: grid;
        }

        .box-object {
          min-height: 16px;

          img {
            height: auto;
          }
        }

        // collapsible sections
        &.collapse-section {
          .header {
            border-top: 1px solid var(--kup-border-subtle);
            color: rgba(var(--kup-text-secondary-rgb), 0.75);
            display: flex;
            justify-content: space-around;
            width: 100%;

            .header-content {
              margin: 0.5em;
              display: flex;
              align-items: center;

              .f-image {
                transition: transform 0.15s;

                &.toggled {
                  transform: rotate(-180deg);
                }
              }

              .#{$kup-icon}.#{$kup-icon-dropdown} {
                margin: 0;
                -webkit-mask: var(--kup-dropdown-icon);
                mask: var(--kup-dropdown-icon);
              }
            }
          }

          .content {
            display: none;
            width: 100%;
          }

          &.open {
            .content {
              display: block;
            }
          }
        }

        &.titled {
          border: 1px solid var(--kup-border-subtle);
          padding-top: 5px;
          position: relative;
          margin: 10px;

          > h3 {
            background: var(--kup-background-color);
            font-size: calc(var(--kup-font-size) * 1.15);
            position: absolute;
            margin: 0px;
            padding: 0 8px;
            top: -11px;
            left: 5px;
            transition: background-color 0.25s ease;
          }
        }
      }

      .box-selection {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        z-index: 1;
      }
    }

    .row-actions-wrapper {
      .row-actions-toggler {
        position: relative;
        width: 24px;
        height: 24px;
        margin-left: 3px;

        svg {
          cursor: pointer;
          opacity: 0;
          fill: var(--kup-text-color);
          transition: opacity 300ms ease-out;
        }

        .row-action-menu {
          background: var(--kup-background-color);
          border: 1px solid var(--kup-border-subtle);
          box-shadow: 0px 0px 7.5px 0px rgba(128, 128, 128, 0.5);
          position: absolute;
          top: 0;
          right: 24px;
          display: none;
          z-index: 10;

          ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            > li {
              cursor: pointer;
              white-space: nowrap;
              padding: 0 12px;
              display: flex;
              align-items: center;
              line-height: 30px;

              &:not(:last-child) {
                border-bottom: 1px solid var(--kup-border-subtle);
              }
            }
          }

          &.open {
            display: block;
          }
        }
      }
    }

    &:hover {
      .row-actions-wrapper {
        .row-actions-toggler {
          svg {
            opacity: 1;
          }
        }
      }
    }
  }
}

#sort-panel,
#global-filter {
  margin-bottom: 1em;
}
