.f-rating {
  --kup_rating_color: var(--kup-rating-color, #ffa000);
  --kup_rating_font_size: var(--kup-rating-font-size, 20px);

  .rating {
    color: var(--kup_rating_color);
    cursor: pointer;
    font-size: var(--kup_rating_font_size);
  }

  &.disabled {
    .rating {
      opacity: 0.5;
      cursor: auto;
    }
  }
}
