:host {
  /**
 * @prop --kul-textfield-backdrop-filter: Sets the backdrop filter of the text field.
 * Defaults to blur(3.5px).
 */
  --kul_textfield_backdrop_filter: var(
    --kul-textfield-backdrop-filter,
    blur(3.5px)
  );
  /**
  * @prop --kul-textfield-backdrop-filter-hover: Sets the backdrop filter of the text field when hovering.
  * Defaults to blur(5px).
  */
  --kul_textfield_backdrop_filter_hover: var(
    --kul-textfield-backdrop-filter-hover,
    blur(5px)
  );
  /**
 * @prop --kul-textfield-background-color: Sets the background color of the text field.
 * Defaults to rgba(var(--kul-text-color-rgb), 0.125).
 */
  --kul_textfield_background_color: var(
    --kul-textfield-background-color,
    rgba(var(--kul-text-color-rgb), 0.125)
  );
  /**
 * @prop --kul-textfield-background-color-hover: Sets the background color of the text field when hovering.
 * Defaults to rgba(var(--kul-text-color-rgb), 0.125).
 */
  --kul_textfield_background_color_hover: var(
    --kul-textfield-background-color-hover,
    rgba(var(--kul-text-color-rgb), 0.175)
  );
  /**
   * @prop --kul-textfield-input-color: Sets the color of the text field's input text.
   * Defaults to var(--kul-text-color).
   */
  --kul_textfield_input_color: var(
    --kul-textfield-input-color,
    var(--kul-text-color)
  );
  /**
  * @prop --kul-textfield-input-font-size: Sets the font size of the text field's value.
  * Defaults to var(--kul-font-size).
  */
  --kul_textfield_input_font_size: var(
    --kul-textfield-input-font-size,
    var(--kul-font-size)
  );
  /**
   * @prop --kul-textfield-label-color: Sets the color of the text field's label.
   * Defaults to rgba(var(--kul-text-color-rgb), 0.875).
   */
  --kul_textfield_label_color: var(
    --kul-textfield-label-color,
    rgba(var(--kul-text-color-rgb), 0.875)
  );
  /**
  * @prop --kul-textfield-label-font-size: Sets the font size of the text field's label.
  * Defaults to var(--kul-font-size).
  */
  --kul_textfield_label_font_size: var(
    --kul-textfield-label-font-size,
    var(--kul-font-size)
  );
  /**
  * @prop --kul-textfield-padding: Sets the padding of the text field.
  * Defaults to 1em 0.75em 0.5em 0.75em.
  */
  --kul_textfield_padding: var(
    --kul-textfield-padding,
    1em 0.75em 0.5em 0.75em
  );

  display: block;
  width: 100%;
}

.textfield {
  backdrop-filter: var(--kul_textfield_backdrop_filter);
  background-color: var(--kul_textfield_background_color);
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  position: relative;
  transition: background-color 125ms ease;

  &--filled,
  &--focused {
    .textfield__label {
      color: var(--kul-primary-color);
      font-weight: 600;
      transform: scale(0.875) translateY(-1.5em);
    }
  }

  &--focused,
  &:hover {
    backdrop-filter: var(--kul_textfield_backdrop_filter_hover);
    background-color: var(--kul_textfield_background_color_hover);
  }

  &:before,
  &:after {
    border-radius: 2px;
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
  }

  &:before {
    background-color: rgba(var(--kul-text-color-rgb), 0.225);
    width: 100%;
  }

  &:after {
    background-color: var(--kul-primary-color);
    transition: width 125ms ease;
    width: 0;
  }

  &--focused:after {
    width: 100%;
  }

  &__input,
  &__label {
    box-sizing: border-box;
  }

  &__icon {
    background-color: var(--kul_textfield_input_color);
    display: none;
    height: 1.75em;
    margin: auto 0 auto 0.75em;
    width: 1.75em;
  }

  &__input {
    background-color: transparent;
    border: none;
    color: var(--kul_textfield_input_color);
    font-size: var(--kul_textfield_input_font_size);
    height: 100%;
    outline: none;
    padding: var(--kul_textfield_padding);
    width: 100%;
  }

  &__label {
    color: var(--kul_textfield_label_color);
    font-size: var(--kul_textfield_label_font_size);
    left: 0;
    padding-left: 0.5em;
    padding-top: 1em;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1),
      color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
