/*-------------------------------------------------*/
/*        C o m p o n e n t   C l a s s e s        */
/*-------------------------------------------------*/

:host(.#{$kup-class-horizontal}) {
  img {
    height: 100%;
  }
}

:host(.#{$kup-class-vertical}) {
  img {
    width: 100%;
  }
}

:host(.#{$kup-class-fit}) {
  img {
    object-fit: cover;
  }
}
