/**
* @prop --kup-photoframe-border: Sets the border of the component.
* @prop --kup-photoframe-fade-out-time: Sets the time of the plcaeholder's fade out transition.
*/

:host {
  --kup_photoframe_border: var(
    --kup-photoframe-border,
    1px inset var(--kup-border-color)
  );
  --kup_photoframe_fade_out_time: var(--kup-photoframe-fade-out-time, 2000ms);

  border: var(--kup_photoframe_border);
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}

#kup-component {
  position: relative;
  height: 100%;
  width: 100%;
}

img {
  display: block;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

.placeholder {
  transition: opacity var(--kup_photoframe_fade_out_time) ease-out;

  &--fade-out {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
  }
}
