/**
* @prop --kup-photoframe-border: Sets the border of the component.
* @prop --kup-photoframe-fade-out-time: Sets the time of the plcaeholder's fade out transition.
*/

:host {
  --kup_photoframe_border: var(
    --kup-photoframe-border,
    1px inset var(--kup-border-color)
  );
  --kup_photoframe_fade_out_time: var(--kup-photoframe-fade-out-time, 3000ms);

  border: var(--kup_photoframe_border);
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}

#kup-component {
  position: relative;
  height: 100%;
  width: 100%;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.horizontal {
  img {
    width: 100%;
  }
}

.vertical {
  img {
    height: 100%;
  }
}

.placeholder {
  opacity: 1;
  transition: opacity var(--kup_photoframe_fade_out_time) ease-out;
  z-index: 1;

  &--fade-out {
    opacity: 0;
  }
}

.resource {
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}
