.f-switch {
  --kup_switch_font_family: var(
    --kup-switch-font-family,
    var(--kup-font-family)
  );
  --kup_switch_track_background_color: var(
    --kup-switch-background,
    var(--kup-gray-color-50)
  );
  --kup_switch_font_size: var(--kup-switch-font-size, var(--kup-font-size));
  --kup_switch_font_weight: var(--kup-switch-font-weight, 400);
  --kup_switch_label_color: var(
    --kup-switch-label-color,
    var(--kup-text-color)
  );
  --kup_switch_primary_color: var(
    --kup-switch-primary-color,
    var(--kup-primary-color)
  );
  --kup_switch_primary_color_rgb: var(
    --kup-switch-primary-color-rgb,
    var(--kup-primary-color-rgb)
  );
  --kup_switch_thumb_background_color: var(--kup-switch-thumb-color, #ffffff);
  --kup_switch_small_height: var(
    --kup-switch-small-height,
    var(--kup-space-05)
  );
  --kup_switch_small_width: var(--kup-switch-small-width, var(--kup-space-05));
  --kup_switch_medium_height: var(
    --kup-switch-medium-height,
    var(--kup-space-06)
  );

  font-family: var(--kup_switch_font_family);
  font-size: var(--kup_switch_font_size);

  .form-field {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 0.875em;
    line-height: 2em;
    font-weight: var(--kup_switch_font_weight);
    letter-spacing: 0.0178571429em;
    color: var(--kup_switch_label_color);
    display: inline-flex;
    align-items: center;
    vertical-align: middle;

    &.form-field--align-end > label {
      margin-left: auto;
      margin-right: 0px;
      padding-left: 0px;
      padding-right: 4px;
      order: -1 !important;
    }

    & > label {
      color: var(--kup_switch_label_color);
      font-family: var(--kup-font-family);
      margin-left: 0px;
      margin-right: auto;
      padding-left: 4px;
      padding-right: 0px;
      order: 0;
    }

    .switch {
      display: inline-block;
      position: relative;
      outline: none;
      user-select: none;
      margin: 0 0.75em;

      .switch__track {
        box-sizing: border-box;
        width: 48px;
        height: 24px;
        border: 1px solid transparent;
        outline: 1px solid transparent;
        border-radius: 24px;
        opacity: 1;
        transition: opacity 90ms cubic-bezier(0.4, 0, 0.2, 1),
          background-color 90ms cubic-bezier(0.4, 0, 0.2, 1),
          border-color 90ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .switch__thumb-underlay {
        border-radius: 50%;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        transform: translateX(0);
        transition: transform 90ms cubic-bezier(0.4, 0, 0.2, 1),
          background-color 90ms cubic-bezier(0.4, 0, 0.2, 1),
          border-color 90ms cubic-bezier(0.4, 0, 0.2, 1);
        left: -12px;
        right: initial;
        top: -12px;
        width: 48px;
        height: 48px;

        &:hover {
          background-color: rgba(var(--kup_switch_primary_color_rgb), 0.125);
        }

        .switch__thumb {
          // box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
          //   0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
          box-sizing: border-box;
          width: 18px;
          height: 18px;
          // border: 10px solid;
          border-radius: 50%;
          z-index: 1;
          transition: transform 90ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 90ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 90ms cubic-bezier(0.4, 0, 0.2, 1);

          .switch__native-control {
            left: 0;
            right: initial;
            position: absolute;
            top: 0;
            margin: 0;
            opacity: 0;
            cursor: pointer;
            transition: transform 90ms cubic-bezier(0.4, 0, 0.2, 1);
            width: 64px;
            height: 48px;
          }
        }
      }

      &:not(.switch--checked) {
        .switch__track {
          background-color: var(--kup_switch_track_background_color);
        }
        .switch__thumb {
          background-color: var(--kup_switch_thumb_background_color);
        }
      }

      &.switch--disabled {
        cursor: auto;
        opacity: 0.5;
        pointer-events: none;
      }

      &.switch--checked {
        .switch__track {
          background-color: var(--kup-success-color);
        }
        .switch__thumb-underlay {
          transform: translateX(23px);
        }

        .switch__thumb {
          background-color: var(--kup_switch_thumb_background_color);
          border-color: var(--kup-success-color);

          .switch__native-control {
            transform: translateX(-16px);
          }
        }
      }
      &.switch--small {
        .switch__track {
          width: 36px;
          height: 18px;
        }
        .switch__thumb-underlay {
          left: -15px;
          top: -15px;
          .switch__thumb {
            height: 13px;
            width: 13px;
          }
        }
      }

      &.switch--small.switch--checked {
        .switch__thumb-underlay {
          transform: translate(17px);
        }
      }
    }
  }

  &.#{$kup-class-danger} {
    --kup-switch-primary-color: var(--kup-danger-color);
    --kup-switch-primary-color-rgb: var(--kup-danger-color-rgb);
  }

  &.#{$kup-class-info} {
    --kup-switch-primary-color: var(--kup-info-color);
    --kup-switch-primary-color-rgb: var(--kup-info-color-rgb);
  }

  &.#{$kup-class-secondary} {
    --kup-switch-primary-color: var(--kup-secondary-color);
    --kup-switch-primary-color-rgb: var(--kup-secondary-color-rgb);
  }

  &.#{$kup-class-success} {
    --kup-switch-primary-color: var(--kup-success-color);
    --kup-switch-primary-color-rgb: var(--kup-success-color-rgb);
  }

  &.#{$kup-class-warning} {
    --kup-switch-primary-color: var(--kup-warning-color);
    --kup-switch-primary-color-rgb: var(--kup-warning-color-rgb);
  }
}
