/*-------------------------------------------------*/
/*        C o m p o n e n t   C l a s s e s        */
/*-------------------------------------------------*/

:host(.#{$kup-class-paddingless}) {
  .list {
    padding: 0;
  }
}

:host(.#{$kup-class-danger}) {
  --kup-list-primary-color: var(--kup-danger-color);
  --kup-list-primary-color-rgb: var(--kup-danger-color-rgb);
}

:host(.#{$kup-class-info}) {
  --kup-list-primary-color: var(--kup-info-color);
  --kup-list-primary-color-rgb: var(--kup-info-color-rgb);
}

:host(.#{$kup-class-secondary}) {
  --kup-list-primary-color: var(--kup-secondary-color);
  --kup-list-primary-color-rgb: var(--kup-secondary-color-rgb);
}

:host(.#{$kup-class-success}) {
  --kup-list-primary-color: var(--kup-success-color);
  --kup-list-primary-color-rgb: var(--kup-success-color-rgb);
}

:host(.#{$kup-class-warning}) {
  --kup-list-primary-color: var(--kup-warning-color);
  --kup-list-primary-color-rgb: var(--kup-warning-color-rgb);
}
