:host {
  display: block;
  font-size: var(--kup-font-size);
  width: max-content;
}

:host([is-select]) {
  .mdc-text-field:not(.mdc-text-field--disabled) input {
    cursor: pointer;
  }
}

.icon-container {
  transition: transform 0.15s;
}

.toggled .icon-container.expanded {
  transform: rotate(-180deg);
}
