tbody {
  border: 1px solid var(--kup-border-color);
  cursor: auto;

  > tr {
    kup-button {
      display: inline-block;
    }

    &:not(.group-total):hover,
    &:hover + .group-total,
    &.selected {
      > td {
        color: var(--kup-hover-color);
        background-color: var(--kup-hover-background-color);
        transition: background-color 250ms ease-in-out;
      }
    }

    // grouping
    &.group {
      background: var(--kup-title-background-color);
      border-top: 1px solid var(--kup-border-color);
      color: var(--kup-title-color);
      font-weight: bold;
      cursor: pointer;

      &.group-label {
        border-bottom: none;
      }

      &.group-total {
        border-top: none;
        line-height: 0.5rem;
      }

      > td {
        padding: 0.5rem 0;

        .group-cell-content {
          .indent {
            float: left;
            margin-left: 0.25rem;
          }
          > span {
            display: inline-flex;
            outline: none;
            margin-left: 0.25rem;
          }
        }

        &.total {
          text-align: right;
          padding: 0.5rem 0.3125rem;
        }
      }
    }

    > td {
      box-sizing: border-box;
      padding: 0.5rem 0.3125rem;
      word-break: break-all;
      word-wrap: break-word;

      kup-tooltip.datatable-tooltip {
        --kup-tlt_display: table-row;
      }

      &.number {
        .cell-content {
          display: block;
          text-align: right;
        }
      }

      .row-expander {
        margin-right: 0.5rem;
      }

      .indent {
        display: inline-block;
        height: 1rem;
        width: 2rem;
      }

      .row-action {
        margin-right: 0.2rem;
      }

      // The container of the effective cell content
      .cell-content {
        display: flex;

        &.has-padding {
          box-sizing: border-box;
          padding: 1rem;
        }

        // When there is the necessity to hide long text
        :host([force-one-line]) & {
          display: inline-block; // [column-width-related][mandatory][3]
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          vertical-align: middle;
          white-space: nowrap;
          width: 100%;

          &.is-centered {
            display: flex;
          }
        }

        &.is-tooltip {
          position: relative;
        }

        &.is-vertical,
        :host([force-one-line]) &.is-vertical {
          display: inline-flex;
          margin: auto;
          width: -webkit-fill-available;
          align-items: center;
          & > * {
            margin: auto;
          }
        }

        &.negative-number {
          color: var(--kup-danger-color);
        }
      }

      &.is-graphic {
        padding: 0 1px;
      }

      kup-lazy {
        display: flex;
        margin: auto;
      }

      & .indent ~ kup-lazy,
      & .indent ~ kup-image,
      & .indent ~ kup-button {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
      }
    }
  }
}
