[columns-dragging] {
  th {
    position: relative;
  }

  // When the drag is over a valid target
  [drag-over] {
    background-color: var(--kup-disabled-background-color);
    color: var(--kup-disabled-color);

    // Mandatory to allow a correct drop effect when dragging
    > * {
      pointer-events: none;
    }
  }

  // When the drag is over but it is the starting element
  [drag-over][drag-starter]::after {
    background-color: var(--kup-danger-color);
    color: var(--kup-danger-color);
    content: '';
    position: absolute;
    opacity: 0.25;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
