//--------------------------------//
// Row classes specified in JSON //
//--------------------------------//
tr.clickable {
  cursor: pointer;
}

//--------------------------------//
// Cell classes specified in JSON //
//--------------------------------//

// TD styles
// These styles are appplied to the whole cell
td.clickable {
  cursor: pointer;
}

td.display-on-hover {
  opacity: 0;
  transition: opacity 0.25s;
  &:hover {
    opacity: 1;
  }
}

td.icon-sized {
  width: 30px;
}

td.shaped {
  border-radius: 4px;
}

td.strong-text {
  font-weight: 600;
}

td.success-text {
  color: var(--kup-success-color);
}

td.warning-text {
  color: var(--kup-warning-color);
}

td.danger-text {
  color: var(--kup-danger-color);
}

td.purple-text {
  color: #8e15bf;
}

td.success-bg {
  background: var(--kup-success-color);
  color: white;
}

td.warning-bg {
  background: var(--kup-warning-color);
}

td.danger-bg {
  background: var(--kup-danger-color);
  color: white;
}

td.teal-bg {
  background: #00b4bc;
  color: white;
}

td.orange-bg {
  background: #f59729;
  color: white;
}

td.green-bg {
  background: #00be67;
  color: white;
}

td.grey-bg {
  background: #8d8d8d;
  color: white;
}

td.purple-bg {
  background: #b88acc;
  color: white;
}

// Content styles
// These styles are applied to the cell's content
td.c-vertical-text {
  & * {
    text-align: center;
    writing-mode: vertical-lr;
  }
}

td.c-right-aligned {
  & * {
    flex-flow: row-reverse;
  }
}

td.c-centered {
  & * {
    margin: auto;
    max-width: max-content;
  }
}

td.c-fitted {
  & * {
    max-width: max-content;
  }
}

td.c-shaped {
  & * {
    border-radius: 4px;
  }
}

td.c-hor-padded {
  & * {
    box-sizing: border-box;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

td.c-ver-padded {
  & * {
    box-sizing: border-box;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

td.c-success-bg {
  & * {
    background: var(--kup-success-color);
    color: white;
  }
}

td.c-warning-bg {
  & * {
    background: var(--kup-warning-color);
  }
}

td.c-danger-bg {
  & * {
    background: var(--kup-danger-color);
    color: white;
  }
}

td.c-teal-bg {
  & * {
    background: #00b4bc;
    color: white;
  }
}

td.c-orange-bg {
  & * {
    background: #f59729;
    color: white;
  }
}

td.c-green-bg {
  & * {
    background: #00be67;
    color: white;
  }
}

td.c-grey-bg {
  & * {
    background: #8d8d8d;
    color: white;
  }
}

td.c-purple-bg {
  & * {
    background: #b88acc;
    color: white;
  }
}

// Overriden force one line behavior for c-centered
:host([force-one-line]) tbody tr > td.c-centered * {
  display: flex;
  max-width: max-content;
  width: max-content;
}

// Overriden force one line behavior for c-fitted
:host([force-one-line]) tbody tr > td.c-fitted * {
  max-width: max-content;
}

// Overriden force one line behavior for c-right-aligned
:host([force-one-line]) tbody tr > td.c-right-aligned * {
  text-align: right;
}
