.paginator-tabs {
  width: 100%;

  & kup-paginator {
    display: inline-flex;
  }

  .loadmore-button {
    float: right;
    margin: 0.5rem 0 0;
    padding: 0 0.25rem;
  }

  .customize-panel {
    background: var(--kup-background-color);
    box-shadow: var(--kup-box-shadow);
    width: 200px; //I.E.
    width: fit-content;
  }

  .customize-element {
    padding: 0 1rem 1rem 1rem;
  }

  .customize-element:nth-child(1) {
    padding-top: 1rem;
  }

  .paginator-button {
    position: relative;
    background: none;
    border: none;
    height: 100%;
    cursor: pointer;
    outline: none;
    margin-left: 0.25rem;
    padding: 0 0.25rem;
    float: right;

    & span {
      cursor: default;
    }

    &:before {
      font-size: 120%;
    }

    & span.density-label,
    & span.fontsize-label {
      font-size: calc(var(--kup-font-size) * 0.9);
    }

    .paginator-tab-text {
      margin-left: 0.25rem;
    }
  }
}
