thead {
  background-color: var(--kup-title-background-color);
  border: 1px solid var(--kup-border-color);
  color: var(--kup-title-color);

  th {
    background-color: var(--kup-title-background-color);
    border-bottom: 2px solid var(--kup-border-color);
    border-right: 1px solid var(--kup-border-color);
    color: var(--kup-title-color);
    box-sizing: border-box;
    padding: 0.5rem 0.3125rem;
    text-overflow: ellipsis;
    top: 0;
    vertical-align: middle;
    white-space: nowrap;

    // On Firefox, things changes
    @supports (-moz-appearance: none) {
      // The row separator:
      &::after {
        bottom: 0; // Is slightly placed to the bottom
        left: -1px; // gets slightly bigger to cover the absence of a border-right
      }

      // The column separator
      &::before {
        content: none; // Is not rendered on firefox because it does not render right-border on thead.
      }
    }

    //---- Column name container ----
    $column-sort-margin: 0.5rem;

    .column-title {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: bottom;
      white-space: normal;
    }

    &.icon {
      width: 30px;
    }

    &.number {
      text-align: right;
    }

    &.centered {
      text-align: center;
    }

    //---- Sort and remove-filter icons ----
    // Base for an header cell
    &.header-cell {
      // When column is sortable
      &--sortable {
        cursor: pointer;
      }
    }

    .column-sort {
      float: left;
      margin: 0 $column-sort-margin;
    }

    //---- Column menu icon ----
    .column-menu {
      background: var(--kup-background-color);
      box-shadow: var(--kup-box-shadow);
      display: none;
      color: var(--kup-text-color);
      position: absolute;
      z-index: 100;
      font-weight: normal;
      min-width: 200px;
      min-width: -moz-max-content; /* Firefox/Gecko */
      min-width: -webkit-max-content; /* Chrome */
      max-height: unset;

      ul {
        list-style-type: none;
        margin: 0; // override browser default
        padding: 0; // override browser default
        text-align: left;

        > li {
          padding: 0 0.5rem;
          transition: color 0.2s ease-in-out;
          color: var(--kup-text-color);
          transition: color 0.25s, background-color 0.25s, opacity 0.25s;

          &.textfield-row {
            padding: 0.5rem 0.5rem;
          }

          &.button-row {
            border-bottom: 1px solid var(--kup-border-color);
          }

          &.checkbox-row {
            max-height: 20vh;
            overflow: auto;
          }

          & kup-button {
            display: inline-block;
          }
        }
      }
    }
  }
}
