.paginator-wrapper {
  display: flex;
  flex-flow: wrap;
  min-width: max-content;
  min-height: 2em;
}

.paginator-tabs {
  width: 100%;

  & kup-paginator {
    display: inline-flex;
  }

  .customize-panel {
    background: var(--kup-background-color);
    box-shadow: var(--kup-box-shadow);
    min-width: 200px;
    width: 200px;
    width: fit-content;
  }

  .customize-element {
    padding: 0 1em 1em 1em;
  }

  .customize-element:nth-child(1) {
    padding-top: 1em;
  }

  kup-button {
    position: relative;
    height: 100%;
    margin-left: 0.25em;
    float: right;
  }

  .load-more-button {
    margin: 0.5em 0px 0px;
  }
}
