/*-------------------------------------------------*/
/*        C o m p o n e n t   C l a s s e s        */
/*-------------------------------------------------*/
:host(.kup-unclickable) {
  #loading-wrapper-master {
    cursor: wait;
    pointer-events: all;
  }
}
