:host {
  outline: none;
  #wrapper {
    display: block;
    font-size: var(--kup-font-size);
  }
  .snackbar-container {
    background: var(--kup-background-color);
    color: var(--kup-text-color);
    box-shadow: var(--kup-box-shadow);

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

    border-radius: 5px;
    writing-mode: horizontal-tb;
    max-width: 344px;
    min-height: 48px;
    padding: 2px;

    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    z-index: 1;

    animation: snackbar-show 0.2s;
    .snackbar-text {
      display: inline;
      float: left;
      margin-left: 16px;
    }
    .snackbar-action {
      display: flex;
      float: right;
      justify-content: space-between;
      margin: {
        right: 8px;
        left: 8px;
      }
      .action-label {
        display: inline;
        align-self: center;
        margin: {
          top: 2px;
        }
      }
      .action-close {
        display: inline;
        align-self: center;
        margin: {
          right: 6px;
          left: 6px;
        }
      }
    }
  }
}

@keyframes snackbar-show {
  from {
    transform: scale(0.8), translateX(-50%);
    opacity: 0;
  }
  to {
    transform: scale(1), translateX(-50%);
    opacity: 1;
  }
}
