:host {
  --kup_snackbar_border_left_color: var(
    --kup-snackbar-border-left-color,
    var(--kup-border-interactive)
  );

  --kup_snackbar_background_color: var(
    --kup-snackbar-background-color,
    var(--kup-layer-0-inverted)
  );

  --kup_snackbar_text_color: var(
    --kup-snackbar-text-color,
    var(--kup-text-primary-inverted)
  );

  --kup_snackbar_text_color: var(--kup-snackbar-text-color, var(--kup-layer-1));

  animation: snackbar-show 125ms;
  bottom: 0;
  box-sizing: border-box;
  display: block;
  left: 0;
  outline: none;
  pointer-events: none;
  position: fixed;
  transition: opacity 0.15s cubic-bezier(0, 0, 0.2, 1) 0ms,
    transform 0.15s cubic-bezier(0, 0, 0.2, 1) 0ms,
    -webkit-transform 0.15s cubic-bezier(0, 0, 0.2, 1) 0ms;
  width: 100%;
  z-index: calc(var(--kup-navbar-zindex) + 1);
}

:host(:not([kup-visible])) {
  display: none;
}

#kup-component {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 8px;
  width: 100%;
}

.snackbar {
  align-items: center;
  background-color: var(--kup_snackbar_background_color);
  color: var(--kup_snackbar_text_color);
  display: flex;
  justify-content: space-between;
  max-width: 672px;
  min-height: 48px;
  min-width: 344px;
  border-left: 4px solid var(--kup_snackbar_border_left_color);
  padding: 0 var(--kup-space-05);

  .snackbar__text__block {
    padding: var(--kup-space-05) 0;
    color: var(--kup_snackbar_text_color);
  }

  &__header {
    pointer-events: all;
    word-break: break-word;
    @include kup-heading-compact-01;
  }

  &__text {
    pointer-events: all;
    word-break: break-word;
    @include kup-body-compact-01;
  }

  &__buttons {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    pointer-events: all;
    width: max-content;
  }

  &__close {
    --kup-button-font-size: 11px;

    margin-left: 8px;
    pointer-events: all;
  }
}

@media (min-width: 768px) {
  .snackbar__text__block {
    padding: var(--kup-space-05) 0;
    min-width: 350px;
  }
}

@keyframes snackbar-show {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
