/**
* @prop --cmb_font-size, --kup-combo_input_font-size: Regulates sizes of the font and the icon
* @prop --cmb_border-color, --kup-combo_input_border-color: Specifies the border color
* @prop --cmb_border-color--selected, --kup-combo_input_border-color: Specifies the border color when focused
* @prop --cmb_tr-duration, --kup-combo_input_transition-duration: Animation duration of all animations of the component
* @prop --cmb_icon-color, --kup-combo_icon_color: Base icon color
* @prop --cmb_icon-color--hover, --kup-combo_icon_color--hover: Icon color when hovered
* @prop --cmb_menu-background, --kup-combo_menu_background: Specify menu background
*/

// Padding of the input text
$arrow-button-padding: 4px;
$lateral-padding: 6px;

:host {
  // Variables
  --cmb_font-size: var(--kup-combo_input_font-size, 14px);
  --cmb_border-color: var(--kup-combo_input_border-color, #{$gray-bd});
  --cmb_border-color--selected: var(
    --kup-combo_input_border-color,
    #{darken($gray-80, 10)}
  );
  --cmb_tr-duration: var(--kup-combo_input_transition-duration, #{$trn-time});
  --cmb_icon-color: var(--kup-combo_icon_color, #{$gray-80});
  --cmb_icon-color--hover: var(
    --kup-combo_icon_color--hover,
    #{darken($gray-80, 10)}
  );
  --cmb_menu-background: var(--kup-combo_menu_background, #ffffff);

  /* Root style
   * [1] - By default, the root of this element must have a position != static to allow correct positioning of its list.
   *    In addition to this, the base z-index is set to 1, but can be regulated by the user accordingly to his/her necessities.
  */
  display: inline-block;
  position: relative; // [1]
  z-index: 1; // [1]
}

.kup-combo {
  // The div containing the input element.
  &__container {
    background-color: #ffffff;
    border-bottom: 1px solid var(--cmb_border-color);
    box-sizing: border-box;
    display: inline-flex;
    outline: none;

    &:hover,
    &:focus {
      border-color: var(--cmb_border-color--selected);
    }
  }

  // Common style for the icons
  &__icon {
    fill: var(--cmb_icon-color);
    transition: fill var(--cmb_tr-duration), transform var(--cmb_tr-duration);
  }

  // Style of the container of the currently selected value
  &__current-value {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    font-size: var(--cmb_font-size);
    justify-content: center;
    padding: 4px $lateral-padding;

    svg {
      fill: #{$gray-bd};
    }
  }

  // Chevron icon
  &__chevron {
    margin-left: 16px;

    // When is opened
    &--open {
      transform: rotate(180deg);
    }
  }

  // The clear button for the field
  &__clear {
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    margin: 0;
    outline: none;
    padding: 4px;

    // Clear icon transition
    &:hover > svg {
      fill: var(--cmb_icon-color--hover);
    }
  }

  //---- Ketchup Combo menu ----
  // Absolute menu
  &__menu {
    background-color: var(--cmb_menu-background);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    display: inline-block;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: opacity var(--cmb_tr-duration);
    top: 100%;
    visibility: hidden;
    z-index: 1;

    // When list should be open
    &.is-open {
      opacity: 1;
      visibility: visible;
    }

    // When menu must be open over the trigger
    &.is-top {
      bottom: 100%;
      top: auto;
    }

    // When menu must be open on the left
    &.is-right {
      left: auto;
      right: 0;
    }

    // When using a portal element
    &.is-using-portal {
      position: relative;
    }
  }

  // container of the div for searching
  &__filter {
    box-sizing: border-box;
    display: inline-block;
    padding: 4px;
  }

  // The list of items to display
  &__list {
    display: block;
    list-style-type: none;
    padding: 0;
    min-width: 80px;
    max-height: 400px;
    margin: 0;
    overflow: auto;

    // Each list item
    > li {
      box-sizing: border-box;
      cursor: pointer;
      display: block;
      padding: 6px 8px 5px;

      &:hover,
      &.is-selected {
        background-color: #f0f0f0;
      }

      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}
