 /**
* @prop --kup-dashlist-cardsmaxheight: Sets the max height of the cards.
* @prop --kup-dashlist-cardsminheight: Sets the min height of the cards.
* @prop --kup-dashlist-cardsmaxwidth: Sets the max width of the cards.
* @prop --kup-dashlist-cardsminwidth: Sets the min width of the cards.
*/

:host {
  --kup_dashlist_cardsmaxheight: var(--kup-dashlist-cardsmaxheight, unset);
  --kup_dashlist_cardsminheight: var(--kup-dashlist-cardsminheight, 128px);
  --kup_dashlist_cardsmaxwidth: var(--kup-dashlist-cardsmaxwidth, unset);
  --kup_dashlist_cardsminwidth: var(--kup-dashlist-cardsminwidth, 128px);

  display: block;
}

kup-card {
  max-height: var(--kup_dashlist_cardsmaxheight);
  min-height: var(--kup_dashlist_cardsminheight);
  max-width: var(--kup_dashlist_cardsmaxwidth);
  min-width: var(--kup_dashlist_cardsminwidth);

  &.is-clickable {
    cursor: pointer;
  }
}