.calendarBottomText {
  text-anchor: middle;
  fill: var(--kup-gray-color-70);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  @include kup-body-compact-01;
}

.calendarTopTick {
  stroke: var(--kup-gray-color-20);
}

.calendarTopText {
  text-anchor: middle;
  fill: var(--kup-gray-color-70);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  @include kup-body-compact-01;
}

.calendarHeader {
  fill: var(--kup-layer-1);
  stroke: var(--kup-gray-color-20);
  stroke-width: 1.4;
  @include kup-heading-compact-01;
}
