:host {
  display: block;
  height: 100%;
  width: 100%;
}

.badge-wrapper {
  border: 1px solid var(--kul-border-color);
  height: 72px;
  margin: auto;
  position: relative;
  text-align: center;
  width: 72px;
}

.badge-anchor {
  backdrop-filter: blur(3.5px);
  line-height: 72px;
  transform: translate3d(0, 0, 0);
}
