/*-------------------------------------------------*/
/*        C o m p o n e n t   C l a s s e s        */
/*-------------------------------------------------*/

:host(.#{$kup-class-cross-selection}) {
  #kup-component {
    th.selected {
      box-shadow: inset 0px 4px 0px 0px var(--kup-secondary-color);
    }

    td.selected {
      background-color: rgba(var(--kup-text-color-rgb), 0.075);

      &.fixed-column,
      &.fixed-row {
        background-color: var(--kup_datatable_background_color);
        background-image: linear-gradient(
          to right,
          rgba(var(--kup-text-color-rgb), 0.075) 0%,
          rgba(var(--kup-text-color-rgb), 0.075) 0.1%,
          rgba(var(--kup-text-color-rgb), 0.075)
        );
      }
    }

    tr.selected {
      td {
        background-color: rgba(var(--kup-text-color-rgb), 0.075);

        &:first-of-type {
          box-shadow: inset 4px 0px 0px 0px var(--kup-secondary-color);
        }
      }

      td.selected {
        background-color: rgba(var(--kup-text-color-rgb), 0.15);
      }

      td.fixed-column,
      td.fixed-row {
        background-color: var(--kup_datatable_background_color);
        background-image: linear-gradient(
          to right,
          rgba(var(--kup-text-color-rgb), 0.075) 0%,
          rgba(var(--kup-text-color-rgb), 0.075) 0.1%,
          rgba(var(--kup-text-color-rgb), 0.075)
        );
        &.selected {
          background-image: linear-gradient(
            to right,
            rgba(var(--kup-text-color-rgb), 0.15) 0%,
            rgba(var(--kup-text-color-rgb), 0.15) 0.1%,
            rgba(var(--kup-text-color-rgb), 0.15)
          );
        }
      }
    }
  }
}

:host(.#{$kup-class-layout-fixed}) {
  #kup-component table {
    table-layout: fixed;
    width: 100%;
  }
}
/*-------------------------------------------------*/
/*      J S O N   C l a s s e s   ( r o w s )      */
/*-------------------------------------------------*/
tr.clickable {
  cursor: pointer;
}
