[columns-dragging] {
  th {
    cursor: grabbing !important;
  }

  [drag-over] {
    background-color: rgba(var(--kup-success-color-rgb), 0.25);

    > * {
      pointer-events: none;
    }
  }

  [drag-starter] {
    opacity: 0.5;
  }
}

#group-column-area {
  background: var(--kup_datatable_background_color);
  border: 2px dashed var(--kup-danger-color);
  box-shadow: var(--kup-box-shadow);
  display: none;
  height: 50px;
  opacity: 0.5;
  width: 50px;
  transition: opacity 0.25s;
  &.visible {
    display: block;
  }
  .f-image--wrapper {
    width: 100%;
    position: absolute;
    &:first-of-type {
      opacity: 1;
    }
    &:last-of-type {
      opacity: 0;
    }
  }
  &[drag-over] {
    opacity: 1;
    .f-image--wrapper {
      &:first-of-type {
        opacity: 0;
      }
      &:last-of-type {
        opacity: 1;
      }
    }
  }
}

#remove-column-area {
  background: var(--kup_datatable_background_color);
  border: 2px dashed var(--kup-danger-color);
  box-shadow: var(--kup-box-shadow);
  display: none;
  height: 50px;
  opacity: 0.5;
  width: 50px;
  transition: opacity 0.25s;
  &.visible {
    display: block;
  }
  .f-image--wrapper {
    width: 100%;
    position: absolute;
    &:first-of-type {
      opacity: 1;
    }
    &:last-of-type {
      opacity: 0;
    }
  }
  &[drag-over] {
    opacity: 1;
    .f-image--wrapper {
      &:first-of-type {
        opacity: 0;
      }
      &:last-of-type {
        opacity: 1;
      }
    }
  }
}
