/* Class to put the table in "width auto" mode: in this way, if all visible columns have a fixed size,
     * the table automatically has a size equal to the sum of the sizes all columns.
     * Additionally it must remove the min width specification to allow a correct sizing.
     * [column-width-related][mandatory]
     *
     * The property "table-layout" is mandatory to override the default algorithm by which the browsers renders the tables.
     * This algorithm simply tries to adjust the table cell width to fit its content as best as it can.
     * But this is in contrast with having specified widths for the cells.
     * However, Firefox has a rendering error when "table-layout: fixed" and "width: -moz-fit-content;" are set on a table
     * at the same time and there is even one column with no specified size: that column automatically gets the maximum width
     * the browser itself can withstand. In contrast with V8 browsers, where the table is rendered correctly.
     * Vice versa, by not using the "table-layout: fixed", Firefox renders correctly the table while V8 doesn't.
     * In addition, there are also other size cases where there are similar rendering errors.
     * Currently the most convenient solution that I've found is to manually set the desired max and min widths on all the
     * cells of single column, if that column must have a given size.
     *
     * NOTES:
     * [1] - If we do not place these properties in the correct order, on Firefox we will find that the
     *     tables takes the whole available place, therefore fixed sizes are not respected.
     * [2] - On the contrary, without using these properties, V8 browsers will not understand that the table must have
     *     the width equal to the sum of all columns widths.
     * [3] - Mandatory for width property to take effect.
     */
:host {
  display: block;
  font-size: var(--kup-font-size);
  position: relative;
}

:host([kup-toolbar]) {
  .settings-trigger {
    height: 12px;
  }
  .customize-panel {
    visibility: visible;
  }
}

table {
  // [TFixed-1] - This is needed to avoid problems with fixed rows/columns
  border-spacing: 0; // [TFixed-1]
  border-collapse: separate; // [TFixed-1]
  color: var(--kup-text-color);
  font-size: var(--kup-font-size);
  min-width: intrinsic; /* Safari/WebKit uses a non-standard name */
  min-width: -moz-max-content; /* Firefox/Gecko */
  min-width: -webkit-max-content; /* Chrome */
  text-align: left;
  width: 100%;

  &.auto-width {
    min-width: auto; // [mandatory] See [1] [2]
    width: 0; // [mandatory] See [1] [2]
  }

  // The common border specification
  $common-border: 1px solid var(--kup-border-color);

  // By default, since border has been moved to the cells themselves, the first and last cell must always simulate the table border
  > tbody > tr {
    &.focus {
      td {
        &:first-of-type {
          box-shadow: inset 4px 0px 0px 0px var(--kup-secondary-color);
        }
      }
    }

    > td {
      &:first-of-type {
        border-left: $common-border;
      }

      &:last-of-type {
        border-right: $common-border;
      }
    }

    // ALso the last row must always have the border bottom property
    &:last-of-type > td {
      border-bottom: $common-border;
    }
  }

  // When table header is not visible the table needs a border to,
  // so the first row gets added a border
  &.border-top > tbody > tr:first-of-type > td {
    border-top: $common-border;
  }

  // If row separation is specified, all rows gets a border bottom
  &.row-separation > tbody > tr > td {
    border-bottom: $common-border;
  }

  // If column separation is specified, all rows gets a border bottom
  &.column-separation > tbody > tr > td {
    border-right: $common-border;
  }

  &.noGrid {
    &,
    td {
      border: none;
    }
  }

  tfoot {
    td {
      border-bottom: $common-border;
      border-right: $common-border;
      box-sizing: border-box;
      height: 36px;
      text-align: right;
      font-weight: bold;
      padding: 0.5em 0.3125em;
      &:hover {
        background-color: var(--kup-background-color);
      }
      &:first-of-type {
        border-left: $common-border;
      }
    }
  }
}

#global-filter {
  margin: 0.5em 0px;
  min-width: 140px;
  width: 100%;
}

.icon-container:not(.f-image--wrapper) {
  background-color: var(--kup-title-color);
  margin: 0 0.25em;
  height: 1.25em;
  width: 1.25em;

  &.ascending,
  &.descending,
  &.key,
  &.filter-remove {
    float: right;
  }

  &.collapsed,
  &.expanded {
    float: left;
  }

  &.filter-remove,
  &.key {
    margin: 0 0.25em;
  }

  &.obj-icon {
    display: block;
    background-color: rgba(var(--kup-text-color-rgb), 0.375);
    margin: auto 0.5em auto 0;

    :host([force-one-line]) & {
      display: inline-block;
      margin: 0 0.5em 0 0;
      vertical-align: -0.275em;
    }

    .number & {
      display: inline-block;
      vertical-align: text-bottom;
    }
  }
}

.below-wrapper {
  height: auto;
  overflow: auto;
  &.custom-size {
    overflow: unset;
  }
  &:not(.custom-size) {
    overflow-x: auto;
  }
}

.density- {
  &dense {
    tbody > tr > td:not(.is-graphic) {
      padding-top: 0.2em;
      padding-bottom: 0.2em;
    }
    tbody > tr.group > td {
      padding-top: 0.25em;
      padding-bottom: 0.25em;
    }
  }

  &wide {
    tbody > tr > td:not(.is-graphic) {
      padding-top: 1em;
      padding-bottom: 1em;
    }
    tbody > tr.group > td {
      padding-top: 0.75em;
      padding-bottom: 0.75em;
    }
  }
}

.fontsize- {
  &small {
    font-size: calc(var(--kup-font-size) * 0.75);
    transition: font-size 0.1s;

    .group-cell-content {
      > span {
        &:before {
          font-size: calc(var(--kup-font-size) * 1) !important;
        }
      }
    }
  }

  &big {
    font-size: calc(var(--kup-font-size) * 1.25);
    transition: font-size 0.1s;

    .group-cell-content {
      > span {
        &:before {
          font-size: calc(var(--kup-font-size) * 1.5) !important;
        }
      }
    }
  }
}

thead {
  th {
    $common-th-border: 1px solid var(--kup-border-color);

    background-color: var(--kup-title-background-color);
    color: var(--kup-title-color);
    border: $common-th-border;
    border-left: 0 none; // Important: only the first cell must have the border left, otherwise the th will have a visual 2px border between each other.
    border-bottom-width: 2px;
    box-sizing: border-box;
    padding: 0.5em 0.3125em;
    text-overflow: ellipsis;
    top: 0;
    vertical-align: middle;
    white-space: nowrap;
    transition: background-color 0.25s ease;

    // The first cell must have border left to simulate table border.
    &:first-of-type {
      border-left: $common-th-border;
    }

    //---- Column name container ----
    $column-sort-margin: 0.5em;

    .column-title {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: bottom;
    }

    &.icon {
      width: 30px;
    }

    &.number {
      text-align: right;
    }

    &.centered {
      text-align: center;
    }

    //---- Sort and remove-filter icons ----
    // Base for an header cell
    &.header-cell {
      // When column is sortable
      &--sortable {
        cursor: pointer;
      }
    }

    .column-sort {
      float: left;
      margin: 0 $column-sort-margin;
    }
  }
}

tbody {
  cursor: auto;

  tr {
    kup-button {
      max-width: max-content;
    }

    &.selected {
      td {
        background-color: rgba(var(--kup-primary-color-rgb), 0.175);
      }
    }

    &.hover:not(.group):not(.selected) {
      td {
        color: var(--kup-hover-color);
        background-color: var(--kup-hover-background-color);
      }
    }

    // grouping
    &.group {
      background: var(--kup-title-background-color);
      border-top: 1px solid var(--kup-border-color);
      color: var(--kup-title-color);
      font-weight: bold;
      cursor: pointer;

      &.group-label {
        border-bottom: none;
      }

      &.group-total {
        border-top: none;
        line-height: 0.5em;
      }

      > td {
        padding: 0.5em 0;

        .group-cell-content {
          .indent {
            float: left;
            margin-left: 0.25em;
          }
          > span {
            display: inline-flex;
            outline: none;
            margin-left: 0.25em;
          }
        }

        &.total {
          text-align: right;
          padding: 0.5em 0.3125em;

          &.negative-number {
            color: var(--kup-danger-color);
          }
        }
      }
    }

    > td {
      box-sizing: border-box;
      padding: 0.5em 0.3125em;
      word-break: break-all;
      word-wrap: break-word;
      transition: box-shadow 0.1s;

      &.number {
        .cell-content {
          font-family: var(--kup-font-family-monospace);
          justify-content: flex-end;
        }
      }

      .row-expander {
        margin-right: 0.5em;
      }

      .indent {
        display: inline-block;
        height: 1em;
        width: 2em;
      }

      .row-action {
        margin-right: 0.2em;
      }

      // The container of the effective cell content
      .cell-content {
        display: flex;

        &.has-padding {
          box-sizing: border-box;
          padding: 1em;
        }

        // When there is the necessity to hide long text
        :host([force-one-line]) & {
          display: inline-block; // [column-width-related][mandatory][3]
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          vertical-align: middle;
          white-space: nowrap;
          width: 100%;

          &.is-centered {
            display: flex;
          }
        }

        &.is-tooltip {
          position: relative;
        }

        &.is-vertical,
        :host([force-one-line]) &.is-vertical {
          display: block;
          width: auto;
          margin: auto;
          min-height: 16px;
          min-width: 16px;
          & > * {
            margin: auto;
          }
        }

        &.negative-number {
          color: var(--kup-danger-color);
        }
      }

      &.is-graphic {
        padding: 0 1px;
      }

      & .indent ~ kup-image,
      & .indent ~ kup-button {
        margin: 0;
        vertical-align: middle;
      }
    }
  }
}

tr {
  kup-checkbox,
  kup-image {
    display: flex;
  }

  kup-button {
    display: inline-block;
  }

  kup-progress-bar {
    display: block;
  }

  & .indent ~ kup-image {
    display: inline-block;
  }

  .indent {
    & ~ kup-button,
    & ~ kup-checkbox {
      display: inline-block;
    }
  }

  [row-select-cell] {
    min-height: 40px;
  }

  td[row-action-cell] {
    width: calc(3em * var(--row-actions));
    & .f-image--wrapper {
      cursor: pointer;
      margin-left: 0.75em;
      display: inline-block;
      opacity: 1;
      transition: 0.25s ease-in-out;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.above-wrapper {
  display: flex;
  width: 100%;
}

.bar-cell-content {
  overflow: hidden;
  margin: auto;
  position: relative;
  transition: color 0.2s ease;
  height: 100%;
  width: 100%;
}

//Temporary removal of borders inside cells: they should be applied only to <td> elements
//TODO: Improve styling interface with data-table inside client apps
tbody td > * {
  border: none !important;
}

.icon-container.overlay-action {
  display: none;
  position: absolute;
  top: 0.5em;
  left: calc(50% - 0.625em);
}

th:hover .icon-container.overlay-action {
  display: block;
}

thead {
  th {
    /** it doesn't work with fixed columns... !!! */
    position: relative;
  }
}

th.obj:hover span:not(.overlay-action) {
  opacity: 0.5;
}

.hidden {
  span {
    color: transparent;
    position: relative;
    text-overflow: ellipsis;
    transition: color 200ms;
    &:hover {
      color: var(--kup-text-color);
    }
  }
}

.totals-value {
  font-weight: bold;
}

.settings-trigger {
  cursor: pointer;
  display: block;
  width: 32px;
  height: 0;
  border-top-left-radius: 25px 30px;
  border-top-right-radius: 25px 30px;
  background-color: var(--kup-border-color);
  transition: height 0.25s;
  &.toggled {
    background-color: var(--kup-primary-color);
    .f-image__icon {
      background: var(--kup-text-on-primary-color) !important;
    }
  }
}

.customize-panel {
  visibility: hidden;
  background: var(--kup-background-color);
  box-shadow: var(--kup-box-shadow);
  min-width: 200px;
  width: fit-content;
  transition: height 0.25s;
  kup-switch {
    text-align: center;
  }
}

.customize-element {
  padding: 0 1em 1em 1em;
}

.customize-element:nth-child(1) {
  padding-top: 1em;
}

.f-image--wrapper.cell-info {
  margin: auto 0.5em auto 0.25em;
}

[kup-dialog] {
  background-color: var(--kup-background-color);
  margin: 0;
  position: fixed;
  transition: none;
}
