/* Class to put the table in "width auto" mode: in this way, if all visible columns have a fixed size,
     * the table automatically has a size equal to the sum of the sizes all columns.
     * Additionally it must remove the min width specification to allow a correct sizing.
     * [column-width-related][mandatory]
     * 
     * The property "table-layout" is mandatory to override the default algorithm by which the browsers renders the tables.
     * This algorithm simply tries to adjust the table cell width to fit its content as best as it can.
     * But this is in contrast with having specified widths for the cells.
     * However, Firefox has a rendering error when "table-layout: fixed" and "width: -moz-fit-content;" are set on a table
     * at the same time and there is even one column with no specified size: that column automatically gets the maximum width
     * the browser itself can withstand. In contrast with V8 browsers, where the table is rendered correctly.
     * Vice versa, by not using the "table-layout: fixed", Firefox renders correctly the table while V8 doesn't.
     * In addition, there are also other size cases where there are similar rendering errors.
     * Currently the most convenient solution that I've found is to manually set the desired max and min widths on all the
     * cells of single column, if that column must have a given size.
     *
     * NOTES:
     * [1] - If we do not place these properties in the correct order, on Firefox we will find that the
     *     tables takes the whole available place, therefore fixed sizes are not respected.
     * [2] - On the contrary, without using these properties, V8 browsers will not understand that the table must have
     *     the width equal to the sum of all columns widths.
     * [3] - Mandatory for width property to take effect.
     */

/**
* @prop --kup-datatable-background-color: Sets background color of the component.
* @prop --kup-datatable-border: Sets border of the component.
* @prop --kup-datatable-color: Sets text color of the component.
* @prop --kup-datatable-font-family: Sets font family of the component.
* @prop --kup-datatable-font-family-monospace: Sets monospace font family of the component (for numbers).
* @prop --kup-datatable-font-size: Sets font size of the component.
* @prop --kup-datatable-th-border: Sets border of the th elements.
* @prop --kup-datatable-th-resize-handle-width: Sets the width of the handle used to resize columns.
*/

:host {
  --kup_datatable_background_color: var(
    --kup-datatable-background-color,
    var(--kup-background-color)
  );
  --kup_datatable_border: var(
    --kup-datatable-border,
    1px solid var(--kup-border-color)
  );
  --kup_datatable_color: var(--kup-datatable-color, var(--kup-text-color));
  --kup_datatable_font_family: var(
    --kup-datatable-font-family,
    var(--kup-font-family)
  );
  --kup_datatable_font_family_monospace: var(
    --kup-datatable-font-family-monospace,
    var(--kup-font-family-monospace)
  );
  --kup_datatable_font_size: var(
    --kup-datatable-font-size,
    var(--kup-font-size)
  );
  --kup_datatable_th_border: var(
    --kup-datatable-th-border,
    1px solid var(--kup-border-color)
  );
  --kup_datatable_th_resize_handle_width: var(
    --kup-datatable-th-resize-handle-width,
    3px
  );

  display: block;
  font-family: var(--kup_datatable_font_family);
  font-size: var(--kup_datatable_font_size);
  position: relative;
}

:host([kup-toolbar]) {
  .settings-trigger {
    height: 12px;
  }
  .customize-panel {
    visibility: visible;
  }
}

:host([force-one-line]) {
  .f-cell__text {
    white-space: nowrap;
  }
}

table {
  // [TFixed-1] - This is needed to avoid problems with fixed rows/columns
  background-color: var(--kup_datatable_background_color);
  border-spacing: 0; // [TFixed-1]
  border-collapse: separate; // [TFixed-1]
  color: var(--kup_datatable_color);
  min-width: intrinsic; /* Safari/WebKit uses a non-standard name */
  min-width: -moz-max-content; /* Firefox/Gecko */
  min-width: -webkit-max-content; /* Chrome */
  text-align: left;
  width: 100%;

  &.auto-width {
    min-width: auto; // [mandatory] See [1] [2]
    width: 0; // [mandatory] See [1] [2]
  }

  // By default, since border has been moved to the cells themselves, the first and last cell must always simulate the table border
  > tbody > tr {
    &.focus,
    &[#{$kup-dd-drag-over}] {
      td {
        &:first-of-type {
          box-shadow: inset 4px 0px 0px 0px var(--kup-secondary-color);
        }
      }
    }

    > td {
      &:first-of-type,
      &.placeholder ~ td:not(.placeholder) {
        border-left: var(--kup_datatable_border);
      }

      &:last-of-type {
        border-right: var(--kup_datatable_border);
      }
    }

    // ALso the last row must always have the border bottom property
    &:last-of-type > td {
      border-bottom: var(--kup_datatable_border);
    }
  }

  // When table header is not visible the table needs a border to,
  // so the first row gets added a border
  &.border-top > tbody > tr:first-of-type > td {
    border-top: var(--kup_datatable_border);
  }

  // If row separation is specified, all rows gets a border bottom
  &.row-separation > tbody > tr > td {
    border-bottom: var(--kup_datatable_border);
  }

  // If column separation is specified, all rows gets a border bottom
  &.column-separation > tbody > tr > td {
    border-right: var(--kup_datatable_border);
  }

  &.noGrid {
    &,
    td {
      border: none;
    }
  }

  tfoot {
    td {
      border-bottom: var(--kup_datatable_border);
      border-right: var(--kup_datatable_border);
      box-sizing: border-box;
      height: 36px;
      text-align: right;
      font-weight: bold;
      padding: 0.5em 0.3125em;
      &:hover {
        background-color: var(--kup_datatable_background_color);
      }
      &:first-of-type {
        border-left: var(--kup_datatable_border);
      }
    }
  }
}

#global-filter {
  margin: 0.5em 0px;
  min-width: 140px;
  width: 100%;
}

.#{$kup-icon}:not(.f-image) {
  background-color: var(--kup-title-color);
  margin: 0 0.25em;
  height: 1.25em;
  width: 1.25em;

  &.#{$kup-icon-ascending},
  &.#{$kup-icon-descending},
  &.#{$kup-icon-key},
  &.#{$kup-icon-filter-remove} {
    height: auto;
  }

  &.#{$kup-icon-collapsed},
  &.#{$kup-icon-expanded} {
    float: left;
  }

  &.#{$kup-icon-filter-remove},
  &.#{$kup-icon-key} {
    margin: 0 0.25em;
  }
}

.below-wrapper {
  backface-visibility: hidden;
  height: auto;
  overflow: auto;

  &.custom-size {
    overflow: unset;
  }
  &:not(.custom-size) {
    overflow-x: auto;
  }
}

.density- {
  &dense {
    tbody > tr.group td {
      padding-top: 0.25em;
      padding-bottom: 0.25em;
    }
  }

  &wide {
    tbody > tr.group > td {
      padding-top: 0.75em;
      padding-bottom: 0.75em;
    }
  }
}

.fontsize- {
  &small {
    font-size: calc(var(--kup_datatable_font_size) * 0.75);
    transition: font-size 0.1s;

    .group-cell-content {
      > span {
        &:before {
          font-size: calc(var(--kup_datatable_font_size) * 1) !important;
        }
      }
    }
  }

  &big {
    font-size: calc(var(--kup_datatable_font_size) * 1.25);
    transition: font-size 0.1s;

    .group-cell-content {
      > span {
        &:before {
          font-size: calc(var(--kup_datatable_font_size) * 1.5) !important;
        }
      }
    }
  }
}

th {
  background-color: var(--kup-title-background-color);
  border: var(--kup_datatable_th_border);
  border-left: 0 none; // Important: only the first cell must have the border left, otherwise the th will have a visual 2px border between each other.
  border-bottom-width: 2px;
  box-sizing: border-box;
  top: 0;
  touch-action: none;
  transition: background-color 0.25s ease;
  user-select: none;
  // The first cell must have border left to simulate table border.
  &:first-of-type {
    border-left: var(--kup_datatable_th_border);
  }
}

.header-cell {
  &__content {
    color: var(--kup-title-color);
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0.3125em;
    text-overflow: ellipsis;
    white-space: nowrap;

    .header-cell--centered & {
      justify-content: center;
    }

    .header-cell--is-number & {
      justify-content: flex-end;
    }
  }

  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
  }

  &__icons {
    display: flex;
  }

  &__drag-handler {
    background: rgba(var(--kup-title-color-rgb), 0.25);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    touch-action: none;
    user-select: none;
    width: var(--kup_datatable_th_resize_handle_width);

    &:hover {
      background: rgba(var(--kup-title-color-rgb), 0.5);
    }
  }

  &--sortable {
    cursor: pointer;
  }

  &--is-icon {
    width: 30px;
  }
}

tbody {
  cursor: auto;

  td {
    height: 0; // Trick to let the cell' size to adapt to its content
    padding: 0;

    & > * {
      border: none !important;
    }
  }

  tr {
    kup-button {
      max-width: max-content;
    }

    &[#{$kup-dd-draggable}] {
      opacity: 0.5;
    }

    &.selected {
      td {
        background-color: rgba(var(--kup-primary-color-rgb), 0.175);
      }
    }

    &:hover:not(.group):not(.selected) {
      td {
        color: var(--kup-hover-color);
        background-color: var(--kup-hover-background-color);
      }
    }

    // grouping
    &.group {
      background: var(--kup-title-background-color);
      border-top: var(--kup_datatable_border);
      color: var(--kup-title-color);
      font-weight: bold;
      cursor: pointer;

      &.group-label {
        border-bottom: none;
      }

      &.group-total {
        border-top: none;
        line-height: 0.5em;
      }

      > td {
        padding: 0.5em 0;

        .group-cell-content {
          .indent {
            float: left;
            margin-left: 0.25em;
          }
          > span {
            display: inline-flex;
            outline: none;
            margin-left: 0.25em;
          }
        }

        &.total {
          text-align: right;
          padding: 0.5em 0.3125em;

          &.negative-number {
            color: var(--kup-danger-color);
          }
        }
      }
    }

    > td {
      box-sizing: border-box;
      transition: box-shadow 0.1s;

      .row-expander {
        margin-right: 0.5em;
      }

      .row-action {
        margin-right: 0.2em;
      }
    }

    [row-select-cell] {
      min-height: 40px;
    }

    td[row-action-cell] {
      width: calc(3em * var(--kup_datatable_row_actions));
      & .f-image {
        cursor: pointer;
        margin-left: 0.75em;
        display: inline-block;
        opacity: 1;
        transition: 0.25s ease-in-out;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}

.above-wrapper {
  display: flex;
  width: 100%;
}

.#{$kup-icon}.overlay-action {
  display: none;
  position: absolute;
  top: 0.5em;
  left: calc(50% - 0.625em);
}

th:hover .#{$kup-icon}.overlay-action {
  display: block;
}

thead {
  th {
    /** it doesn't work with fixed columns... !!! */
    position: relative;
  }
}

th.obj:hover span:not(.overlay-action) {
  opacity: 0.5;
}

.hidden {
  span {
    color: transparent;
    position: relative;
    text-overflow: ellipsis;
    transition: color 200ms;
    &:hover {
      color: var(--kup_datatable_color);
    }
  }
}

.group-wrapper {
  --kup-chip-margin: 0 4px;
}

.totals-value {
  font-weight: bold;
}

.settings-trigger {
  cursor: pointer;
  display: block;
  width: 32px;
  height: 0;
  border-top-left-radius: 25px 30px;
  border-top-right-radius: 25px 30px;
  background-color: var(--kup-border-color);
  transition: height 0.25s;
  &.toggled {
    background-color: var(--kup-primary-color);
    .f-image__icon {
      background: var(--kup-text-on-primary-color) !important;
    }
  }
}

.indent {
  display: inline-block;
  height: 1em;
  width: 2em;
}

.indent ~ kup-image,
.indent ~ kup-button {
  margin: 0;
  vertical-align: middle;
}

.indent ~ kup-image {
  display: inline-block;
}

.indent {
  & ~ kup-button,
  & ~ kup-checkbox {
    display: inline-block;
  }
}

.actions-wrapper {
  display: flex;
}

.insert-button,
.delete-button {
  padding: 1em 0.5em;
}

.#{$kup-icon}.#{$kup-icon-ascending} {
  -webkit-mask: var(--kup-ascending-icon);
  mask: var(--kup-ascending-icon);
}

.#{$kup-icon}.#{$kup-icon-collapsed} {
  -webkit-mask: var(--kup-collapsed-icon);
  mask: var(--kup-collapsed-icon);
}

.#{$kup-icon}.#{$kup-icon-descending} {
  -webkit-mask: var(--kup-descending-icon);
  mask: var(--kup-descending-icon);
}

.#{$kup-icon}.#{$kup-icon-expanded} {
  -webkit-mask: var(--kup-expanded-icon);
  mask: var(--kup-expanded-icon);
}

.#{$kup-icon}.#{$kup-icon-filter-remove} {
  -webkit-mask: var(--kup-filter-remove-icon);
  mask: var(--kup-filter-remove-icon);
}

.#{$kup-icon}.#{$kup-icon-key} {
  -webkit-mask: var(--kup-key-icon);
  mask: var(--kup-key-icon);
}
