//-------- Fixed columns and rows declarations --------

// The z-index of the data table main wrapper.
$table-below-wrapper--z-index: 0;
// z-indexes to allow correct layering of different pieces of fixed and sticky positioning
// These values must be decreasing order
$sticky-header--z-index: 10;
$sticky-cell--row-column-z-index: 8;
$sticky-cell--column-z-index: 6;
$sticky-cell--row-z-index: 4;

// Base style for the cells which are sticky
%fixedCellsBase {
  background-color: var(--kup_datatable_background_color);
  color: var(--kup-text-color);
  position: sticky;

  // For fixed headers, we must set a different background and place the correct z-index to prevent overlapping.
  thead &,
  tfoot & {
    z-index: #{$sticky-header--z-index};
  }
}

// For sticky header
table.custom-size th {
  position: sticky;
  top: 0;
  // When header cell is not fixed. we simply place its index as an higher number than any inside the table.
  // This prevents non fixed table cells from overlapping the first th cells.
  z-index: $sticky-header--z-index;

  &.fixed-column {
    z-index: $sticky-header--z-index + 1; // And when the cell is fixed, then we rise that same z-index by one unit to prevent menu of the th to slip underneath
  }
}

tr:hover .fixed-row,
tr:hover .fixed-column {
  color: var(--kup-hover-color);
  background-color: var(--kup-hover-background-color);
}

tr.selected .fixed-column,
tr.selected .fixed-row {
  background-color: var(--kup_datatable_background_color);
  background-image: linear-gradient(
    to right,
    rgba(var(--kup-primary-color-rgb), 0.175) 0%,
    rgba(var(--kup-primary-color-rgb), 0.175) 0.1%,
    rgba(var(--kup-primary-color-rgb), 0.175)
  );
}

// For a fixed row
.fixed-row {
  @extend %fixedCellsBase;
  top: 0;
  z-index: $sticky-cell--row-z-index;
}

// For a fixed column
// MUST be after to take precedence
.fixed-column {
  @extend %fixedCellsBase;
  left: 0;
  z-index: $sticky-cell--column-z-index; // Must be higher than row

  // When there is both the column and the row fixed
  &.fixed-row {
    z-index: $sticky-cell--row-column-z-index; // Must be higher than column
  }
}

thead tr .fixed-column,
thead tr:hover:not(.group):not(.selected) .fixed-column {
  background-color: var(--kup-title-background-color);
  color: var(--kup-title-color);
}

tfoot tr:hover:not(.group):not(.selected) .fixed-row,
tfoot tr:hover:not(.group):not(.selected) .fixed-column {
  color: var(--kup-text-color);
  background-color: var(--kup_datatable_background_color);
}
