:host([drag-enabled]) {
  tr {
    touch-action: none;
  }
}

th[#{$kup-dd-drag-over}] {
  background-color: rgba(var(--kup-success-color-rgb), 0.25);
}

th[#{$kup-dd-draggable}] {
  cursor: grabbing !important;
  opacity: 0.5;
}

.droparea {
  animation: fade-in 0.25s ease-out;
  background: var(--kup_datatable_background_color);
  border-radius: 8px;
  box-shadow: var(--kup-box-shadow);
  display: none;
  padding: 1em 0.5em;

  &--visible {
    display: flex;
  }

  &__groups {
    border: 2px dashed var(--kup-text-color);
  }

  &__remove {
    border: 2px dashed var(--kup-danger-color);
  }

  &__groups,
  &__remove {
    background: var(--kup_datatable_background_color);
    box-shadow: var(--kup-box-shadow);
    display: block;
    height: 50px;
    margin: 0 0.5em;
    opacity: 0.5;
    position: relative;
    transition: opacity 0.25s;
    width: 50px;

    .f-image {
      width: 100%;
      position: absolute;
      &:first-of-type {
        opacity: 1;
      }
      &:last-of-type {
        opacity: 0;
      }
    }

    &[#{$kup-dd-drag-over}] {
      opacity: 1;
      .f-image {
        &:first-of-type {
          opacity: 0;
        }
        &:last-of-type {
          opacity: 1;
        }
      }
    }
  }
}
