@import 'kup-card-material-1.scss';
@import 'kup-card-material-2.scss';
@import 'kup-card-material-3.scss';
@import 'kup-card-material-4.scss';

.mdc-ripple-surface {
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: column;
}
