:host {
  /**
 * @prop --kul-toast-accent-color: Sets the accent color of the toast, identified by a bar displayed on the top of the component.
 * Defaults to var(--kul-info-color).
 */
  --kul_toast_accent_color: var(
    --kul-toast-accent-color,
    var(--kul-info-color)
  );
  /**
 * @prop --kul-toast-accent-height: Sets the height of the accent color bar.
 * Defaults to 4px.
 */
  --kul_toast_accent_height: var(--kul-toast-accent-height, 4px);
  /**
 * @prop --kul-toast-icon-opacity: Sets the opacity of the icon.
 * Defaults to 0.625.
 */
  --kul_toast_icon_opacity: var(--kul-toast-icon-opacity, 0.625);
  /**
 * @prop --kul-toast-slidein-from: Sets the animation starting point.
 * Defaults to translateX(100%).
 */
  --kul_toast_slidein_from: var(--kul-toast-slidein-from, translateX(100%));
  /**
 * @prop --kul-toast-slidein-to: Sets the animation ending point.
 * Defaults to translateX(0).
 */
  --kul_toast_slidein_to: var(--kul-toast-slidein-to, translateX(0));

  animation: slideIn 250ms ease-out;
  backdrop-filter: blur(3.5px);
  background-color: rgba(var(--kul-background-color-rgb), 0.375);
  border-radius: 4px;
  box-shadow: var(--kul-box-shadow);
  box-sizing: border-box;
  display: block;
  height: 100%;
  width: 100%;
}

#kul-component {
  height: 100%;
  width: 100%;
}

.toast {
  height: 100%;
  width: 100%;

  &__accent {
    background-color: var(--kul_toast_accent_color);
    height: var(--kul_toast_accent_height);
    width: 100%;

    &--temporary {
      animation: reduceWidthToZero linear 5s forwards;
    }
  }

  &__message-wrapper {
    align-content: center;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    padding: 12px;
  }

  &__icon {
    margin: auto 8px;
    opacity: var(--kul_toast_icon_opacity);

    &--close {
      cursor: pointer;
      margin: auto 8px auto auto;
      position: relative;

      &:hover {
        &:before {
          background-color: rgba(var(--kul-danger-color-rgb), 0.175);
          border-radius: 50%;
          content: '';
          left: -3px;
          padding: 12px;
          position: absolute;
          top: -3px;
        }
      }
    }
  }

  &__message {
    padding: 12px 12px 12px 0;
  }
}

@media only screen and (max-width: 600px) {
  .host {
    animation: slideUp 250ms ease-out;
  }
}

@keyframes reduceWidthToZero {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes slideIn {
  0% {
    transform: var(--kul_toast_slidein_from);
  }
  100% {
    transform: var(--kul_toast_slidein_to);
  }
}

@keyframes slideUp {
  0% {
    transform: var(--kul_toast_slideup_from);
  }
  100% {
    transform: var(--kul_toast_slideup_to);
  }
}
