@import '@material/form-field/mdc-form-field';
@import '@material/textfield/mdc-text-field';
@import '@material/textfield/helper-text/mdc-text-field-helper-text';
@import '@material/textfield/character-counter/mdc-text-field-character-counter';
@import '@material/textfield/icon/mdc-text-field-icon';

:host {
  display: block;
}

.mdc-text-field {
  &.shaped {
    border-radius: 16px 16px 0 0;
  }

  &.mdc-text-field--outlined.shaped
    .mdc-notched-outline
    .mdc-notched-outline__leading {
    border-radius: 28px 0 0 28px;
    width: 28px;
  }

  &.mdc-text-field--outlined.shaped
    .mdc-notched-outline
    .mdc-notched-outline__trailing {
    border-radius: 0 28px 28px 0;
    width: 28px;
  }

  &.custom {
    @include mdc-text-field-ink-color($mdc-textfield-ink);
    @include mdc-text-field-label-color($mdc-textfield-label);
    @include mdc-text-field-caret-color($mdc-textfield-caret);
    @include mdc-text-field-fill-color($mdc-textfield-fill);
  }
}

.mdc-form-field {
  & label {
    margin: auto;
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
