@import url(https://cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css);

/**
* @prop --int_color, --kup-data-table_color: Set text color
* @prop --int_hover-color, --kup-data-table_hover-color: Set text color when hover on row
* @prop --int_hover-background-color, --kup-data-table_hover-background-color: Set background color when hover on row
*/

:host {
  // variables
  --int_main-background-color: var(--kup-data-table_background-color, #6aaaa7);
  --int_color: var(--kup-data-table_color, #111);
  --int_hover-color: var(--kup-data-table_hover-color, #545454);
  --int_hover-background-color: var(
    --kup-data-table_hover-background-color,
    #e0e0e0
  );
  --int_border-color: var(--kup-data-table_border-color, black);
  --int_head-background-color: var(
    --kup-data-table_head-background-color,
    #f5f5f5
  );
  --int_group-background-color: var(
    --kup-data-table_group-background-color,
    #f5f5f5
  );
  --int_group-border-color: var(--kup-data-table_group-border-color, #6aaaa7);
  --int_filter-border-color: var(--kup-data-table_filter-border-color, #dadada);
}

#data-table-wrapper {
  overflow: auto;

  > table {
    color: var(--int_color);
    width: 100%;
    min-width: intrinsic; /* Safari/WebKit uses a non-standard name */
    min-width: -moz-max-content; /* Firefox/Gecko */
    min-width: -webkit-max-content; /* Chrome */
    border-collapse: collapse;
    text-align: left;

    &,
    th,
    td {
    }

    th,
    td {
      padding: 0.5rem 1rem;
    }

    // sort
    .column-sort {
      margin-left: 0.5rem;
      cursor: pointer;
    }

    // filters
    th {
      kup-text-input.datatable-filter {
        --int_border-color: var(--int_filter-border-color);
      }

      input {
        display: block;
      }
    }

    thead {
      background: var(--int_head-background-color);
      border: 1px solid var(--int_border-color);
      border-bottom: 3px solid var(--int_border-color);

      th {
        position: relative;
      }
    }

    tbody {
      border: 1px solid var(--int_border-color);

      > tr {
        &:hover,
        &.selected {
          > td {
            color: var(--int_hover-color);
            background-color: var(--int_hover-background-color);
          }
        }

        // grouping
        &.group {
          border-left: 10px solid var(--int_group-border-color);
          background: var(--int_group-background-color);
          font-weight: bold;

          td {
            padding: 1rem 0 !important;
          }
          icon {
            cursor: pointer;
            margin-right: 0.5rem;
          }
        }

        > td {
          transition: padding 0.1s ease-in-out;

          .indent {
            display: inline-block;
            height: 1rem;
            width: 2rem;
          }
        }
      }
    }

    &.noGrid {
      &,
      td {
        border: none;
      }
    }

    &.density- {
      &small {
        tbody > tr > td {
          padding-top: 0.2rem;
          padding-bottom: 0.2rem;
        }
      }

      &big {
        tbody > tr > td {
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
      }
    }
  }
}

// global filter
#globalFilter {
  margin-bottom: 0.5rem;
  text-align: center;
}

// grouping chips
#group-chips {
  display: flex;
  margin-bottom: 0.5rem;

  > .group-chip {
    display: flex;
    background-color: var(--int_main-background-color);
    padding: 0.5rem;
    color: white;
    margin-right: 0.5rem;
    cursor: pointer;

    icon {
      margin-right: 0.5rem;
    }

    &:hover {
      color: red;
    }
  }
}

// column menu
.column-menu {
  position: absolute;
  // top: 0.5rem;
  // left: -0.5rem;
  z-index: 100;
  background: white;
  border: 1px solid #ccc;
  font-weight: normal;

  ul {
    list-style-type: none;
    margin: 0; // override browser default
    padding: 0; // override browser default

    > li {
      padding: 0.5rem;
      &:hover {
        cursor: pointer;
        background: var(--int_main-background-color);
        color: white;
      }
    }
  }
}

#density-panel {
  text-align: center;
}
