@import url(https://cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css);

/**
* @prop --int_color, --kup-data-table_color: Set text color
* @prop --int_hover-color, --kup-data-table_hover-color: Set text color when hover on row
* @prop --int_hover-background-color, --kup-data-table_hover-background-color: Set background color when hover on row
*/

:host {
  // variables
  --int_color: var(--kup-data-table_color, #111);
  --int_hover-color: var(--kup-data-table_hover-color, #545454);
  --int_hover-background-color: var(
    --kup-data-table_hover-background-color,
    #f0f0f0
  );
}

#data-table-wrapper {
  overflow: auto;

  > table {
    color: var(--int_color);
    width: 100%;
    border-collapse: collapse;

    &,
    th,
    td {
      border: 1px solid black;
    }

    th,
    td {
      padding: 0.5rem;
    }

    // sort
    .column-sort {
      margin-left: 0.5rem;
      cursor: pointer;
    }

    // filters
    th {
      input {
        display: block;
      }
    }

    tbody {
      > tr {
        &:hover,
        &.selected {
          > td {
            color: var(--int_hover-color);
            background-color: var(--int_hover-background-color);
          }
        }
      }
    }

    &.noGrid {
      &,
      td {
        border: none;
      }
    }
  }
}

// global filter
#globalFilter {
  margin-bottom: 0.5rem;
  text-align: center;
}
