@import url(https://cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css);

/**
* @prop --int_stronger-color, --kup-data-table_stronger-color: Set text color
* @prop --int_hover-color, --kup-data-table_hover-color: Set text color when hover on row
* @prop --int_hover-background-color, --kup-data-table_hover-background-color: Set background color when hover on row
*/

:host {
  // variables
  --int_background-color: var(--kup-data-table_background-color, #ffffff);
  --int_main-color: var(--kup-data-table_main-color, #6aaaa7);
  --int_text-on-main-color: var(--kup-data-table_text-on-main-color, #ffffff);
  --int_color: var(--kup-data-table_color, #545454);
  --int_stronger-color: var(--kup-data-table_stronger-color, #111111);
  --int_hover-color: var(--kup-data-table_hover-color, #545454);
  --int_hover-background-color: var(
    --kup-data-table_hover-background-color,
    #e0e0e0
  );
  --int_border-color: var(--kup-data-table_border-color, #000000);
  --int_head-background-color: var(
    --kup-data-table_head-background-color,
    #f5f5f5
  );
  --int_group-background-color: var(
    --kup-data-table_group-background-color,
    #f5f5f5
  );
  --int_group-border-color: var(--kup-data-table_group-border-color, #6aaaa7);
  --int_filter-border-color: var(--kup-data-table_filter-border-color, #dadada);
  --int_icons-color: var(--kup-data-table_icons-color, #808080);
  --int_icons-hover-color: var(--kup-data-table_icons-hover-color, #a0a0a0);
  --int_box-shadow: var(
    --kup-data-table_box-shadow,
    0px 0px 7.5px 0px rgba(128, 128, 128, 0.5)
  );
}

#data-table-wrapper {
  overflow: auto;
  background-color: var(--int_background-color);

  > table {
    color: var(--int_stronger-color);
    width: 100%;
    min-width: intrinsic; /* Safari/WebKit uses a non-standard name */
    min-width: -moz-max-content; /* Firefox/Gecko */
    min-width: -webkit-max-content; /* Chrome */
    border-collapse: collapse;
    text-align: left;

    &,
    th,
    td {
    }

    th,
    td {
      padding: 0.5rem 1rem;
    }

    // sort
    .column-sort {
      margin-left: 0.5rem;
      cursor: pointer;
    }

    // filters
    th {
      kup-text-input.datatable-filter {
        --int_border-color: var(--int_filter-border-color);
      }

      input {
        display: block;
      }
    }

    thead {
      background: var(--int_head-background-color);
      border: 1px solid var(--int_border-color);
      border-bottom: 3px solid var(--int_border-color);

      th {
        position: relative;
      }
    }

    tbody {
      border: 1px solid var(--int_border-color);

      > tr {
        &:hover,
        &.selected {
          > td {
            color: var(--int_hover-color);
            background-color: var(--int_hover-background-color);
          }
        }

        // grouping
        &.group {
          border-left: 10px solid var(--int_group-border-color);
          background: var(--int_group-background-color);
          font-weight: bold;

          td {
            padding: 1rem 0;
          }
          icon {
            cursor: pointer;
            margin-right: 0.5rem;
          }
        }

        > td {
          transition: padding 0.1s ease-in-out;

          .row-expander {
            cursor: pointer;
            margin-right: 0.5rem;
          }

          .indent {
            display: inline-block;
            height: 1rem;
            width: 2rem;
          }

          .options {
            cursor: pointer;
            font-size: 1rem;
            margin-left: 0.5rem;
            color: var(--int_icons-color);

            &:hover {
              color: var(--int_icons-hover-color);
            }
          }
        }
      }
    }

    &.noGrid {
      &,
      td {
        border: none;
      }
    }

    &.density- {
      &small {
        tbody > tr > td {
          padding-top: 0.2rem;
          padding-bottom: 0.2rem;
        }
        tbody > tr.group > td {
          padding-top: 0.75rem;
          padding-bottom: 0.75rem;
        }
      }

      &big {
        tbody > tr > td {
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
        tbody > tr.group > td {
          padding-top: 1.25rem;
          padding-bottom: 1.25rem;
        }
      }
    }
  }
}

// global filter
#globalFilter {
  margin-bottom: 0.5rem;
  text-align: center;
}

// grouping chips
#group-chips {
  display: flex;
  margin-bottom: 0.5rem;

  > .group-chip {
    display: flex;
    background-color: var(--int_main-color);
    padding: 0.5rem;
    color: var(--int_text-on-main-color);
    margin-right: 0.5rem;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;

    icon {
      margin-right: 0.5rem;
    }

    &:hover {
      opacity: 0.75;
    }
  }
}

// column menu
.column-menu {
  display: none;
  opacity: 0;
  background-color: var(--int_background-color);
  box-shadow: var(--int_box-shadow);
  color: var(--int_color);
  position: absolute;
  // top: 0.5rem;
  // left: -0.5rem;
  z-index: 100;
  font-weight: normal;
  transition: opacity 0.2s ease-in-out;

  &.open {
    display: block;
    opacity: 1;
  }

  ul {
    list-style-type: none;
    margin: 0; // override browser default
    padding: 0; // override browser default

    > li {
      padding: 0.8rem;
      font-size: 1rem;
      transition: color 0.2s ease-in-out;

      &:hover {
        cursor: pointer;
        color: var(--int_main-color);
      }
    }
  }
}

#density-panel {
  text-align: center;
}
