@import url(https://cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css);

/**
* @prop --int_color, --kup-data-table_color: Set text color
* @prop --int_hover-color, --kup-data-table_hover-color: Set text color when hover on row
* @prop --int_hover-background-color, --kup-data-table_hover-background-color: Set background color when hover on row
*/

:host {
  // variables
  --int_main-background-color: var(--kup-data-table_background-color, #6aaaa7);
  --int_color: var(--kup-data-table_color, #111);
  --int_hover-color: var(--kup-data-table_hover-color, #545454);
  --int_hover-background-color: var(
    --kup-data-table_hover-background-color,
    #e0e0e0
  );
}

#data-table-wrapper {
  overflow: auto;

  > table {
    color: var(--int_color);
    width: 100%;
    border-collapse: collapse;

    &,
    th,
    td {
      border: 1px solid black;
    }

    th,
    td {
      padding: 0.5rem;
    }

    // sort
    .column-sort {
      margin-left: 0.5rem;
      cursor: pointer;
    }

    // filters
    th {
      input {
        display: block;
      }
    }

    thead {
      th {
        position: relative;
      }
    }

    tbody {
      > tr {
        cursor: pointer;

        &:hover,
        &.selected {
          > td {
            color: var(--int_hover-color);
            background-color: var(--int_hover-background-color);
          }
        }

        // grouping
        &.group {
          icon {
            cursor: pointer;
            margin-right: 0.5rem;
          }
        }

        > td {
          .indent {
            display: inline-block;
            height: 1rem;
            width: 2rem;
          }
        }
      }
    }

    &.noGrid {
      &,
      td {
        border: none;
      }
    }
  }
}

// global filter
#globalFilter {
  margin-bottom: 0.5rem;
  text-align: center;
}

// grouping chips
#group-chips {
  display: flex;
  margin-bottom: 0.5rem;

  > .group-chip {
    display: flex;
    background-color: var(--int_main-background-color);
    padding: 0.5rem;
    color: white;
    margin-right: 0.5rem;
    cursor: pointer;

    icon {
      margin-right: 0.5rem;
    }

    &:hover {
      color: red;
    }
  }
}

// column menu
.column-menu {
  position: absolute;
  // top: 0.5rem;
  // left: -0.5rem;
  z-index: 100;
  background: white;
  border: 1px solid #ccc;
  font-weight: normal;

  ul {
    list-style-type: none;
    margin: 0; // override browser default
    padding: 0; // override browser default

    > li {
      padding: 0.5rem;
      &:hover {
        cursor: pointer;
        background: var(--int_main-background-color);
        color: white;
      }
    }
  }
}
