.dialog-layout-2 {
  background-color: var(--kup-background-color);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .section-1 {
    text-align: center;
    touch-action: none;
    padding-bottom: 1em;

    .text {
      padding-top: 0.75em;

      &:not(.label) {
        font-weight: bold;
      }
    }
  }

  .section-2 {
    border-top: 1px solid var(--kup-border-color);
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(auto-fill, 1.25em);
    height: 100%;
    padding: 0.5em;
    overflow: auto;
    touch-action: none;

    .text {
      min-width: max-content;

      &:not(.label) {
        font-weight: bold;
      }
    }
  }
}
