.dialog-layout-3 {
  background-color: var(--kup-background-color);
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  overflow: visible;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;

  kup-button {
    margin-left: 0;
  }

  .section-1 {
    background-color: var(--kup-background-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px 0px var(--kup-text-color);
    height: 52px;
    width: 100%;
    text-align: right;
    touch-action: none;

    kup-button {
      margin-right: 0.25em;
    }
  }

  .section-2 {
    height: 100%;
    width: 100%;
    overflow: auto;
    max-height: 50vh;
  }

  ::slotted(.text) {
    color: var(--kup-text-color);
    font-family: var(--kup-font-family-monospace);
    white-space: nowrap;
    border-bottom: 1px solid var(--kup-border-color);
    line-height: 1.75em;
  }
}
