@import 'kup-card-dialog-1.scss';
@import 'kup-card-dialog-2.scss';
@import 'kup-card-dialog-3.scss';
@import 'kup-card-dialog-4.scss';

#drag-handle {
  cursor: all-scroll;

  &.header-bar {
    background-color: var(--kup-title-background-color);
    color: var(--kup-title-color);
    display: flex;
    flex-direction: row;
    height: 2em;
    position: relative;
    width: 100%;
    .dialog-title {
      font-weight: bold;
      line-height: 2em;
      padding-left: 0.5em;
      white-space: nowrap;
    }
    #dialog-close {
      cursor: pointer;
      margin-right: 0;
      transition: opacity 0.25s;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
