:host {
  /**
   * @prop --kul-article-content-color: Sets the color for .content elements.
   * Defaults to var(--kul-text-color)
   */
  --kul_article_content_color: var(
    --kul-article-content-color,
    var(--kul-text-color)
  );
  /**
   * @prop --kul-article-content-font-family: Sets the font family for .content elements.
   * Defaults to var(--kul-font-family)
   */
  --kul_article_content_font_family: var(
    --kul-article-content-font-family,
    var(--kul-font-family)
  );
  /**
   * @prop --kul-article-content-font-size: Sets the font size for .content elements.
   * Defaults to var(--kul-font-size)
   */
  --kul_article_content_font_size: var(
    --kul-article-content-font-size,
    var(--kul-font-size)
  );
  /**
   * @prop --kul-article-h3-color: Sets the color for <h3> elements.
   * Defaults to var(--kul-text-color)
   */
  --kul_article_h3_color: var(--kul-article-h3-color, var(--kul-text-color));
  /**
   * @prop --kul-article-h3-font-family: Sets the font family for <h3> elements.
   * Defaults to var(--kul-font-family)
   */
  --kul_article_h3_font_family: var(
    --kul-article-h3-font-family,
    var(--kul-font-family)
  );
  /**
   * @prop --kul-article-h3-font-size: Sets the font size for <h3> elements.
   * Defaults to 1.5em
   */
  --kul_article_h3_font_size: var(--kul-article-h3-font-size, 1.5em);
  /**
   * @prop --kul-article-margin: Sets the margin of the article tag.
   * Defaults to automatic.
   */
  --kul_article_margin: var(--kul-article-margin, auto);
  /**
   * @prop --kul-article-max-width: Sets the max-width of the article tag.
   * Defaults to 1200px.
   */
  --kul_article_max_width: var(--kul-article-max-width, 1200px);
  /**
   * @prop --kul-article-padding: Sets the padding of the article tag.
   * Defaults to 40px.
   */
  --kul_article_padding: var(--kul-article-padding, 40px);

  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: rgba(var(--kul-background-color-rgb), 0.375);
  display: block;
  height: 100%;
  width: 100%;
}

#kul-component {
  height: 100%;
  width: 100%;
}

.article {
  margin: var(--kul_article_margin);
  max-width: var(--kul_article_max_width);
  padding: var(--kul_article_padding);
}

.content {
  color: var(--kul_article_content_color);
  font-family: var(--kul_article_content_font_family);
  font-size: var(--kul_article_content_font_size);

  &--kul-code {
    max-width: max-content;
    margin: auto;
    padding: 1.75em 0;
  }
}

h1 {
  font-size: 2.375em;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1.25em;
  word-break: break-word;
}

h2 {
  font-size: 2em;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.375em;
}

h3 {
  color: var(--kul_article_h3_color);
  font-family: var(--kul_article_h3_font_family);
  font-size: var(--kul_article_h3_font_size);
  font-weight: 300;
  line-height: 1.2;
  margin: 0.5em 0;
}

.empty-data {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
