@import 'styles/kup-grid-classes.scss';
:host {
  font-size: var(--kup-font-size);
  height: 100%;
  width: 100%;
}

.layout-grid {
  box-sizing: border-box;
  margin: 0px auto;
  padding: 24px;
  .layout-grid__inner {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    margin: calc(var(--mdc-layout-grid-gutter-desktop, 24px) / 2 * -1);
  }
  .layout-grid__inner {
    display: grid;
    margin: 0px;
    grid-gap: 24px;
    grid-template-columns: repeat(12, minmax(0px, 1fr));
    .layout-grid__cell {
      margin: 0px;
      width: auto;
      grid-column-end: span 4;
      width: calc(33.3333% - 24px);
      box-sizing: border-box;
      margin: calc(24px / 2);
      &.layout-grid__cell--span-1,
      .layout-grid__cell--span-1-desktop {
        width: auto;
        grid-column-end: span 1;
      }
    }
  }
}

.flex-layout,
.flex-layout__inner {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flex-layout__inner {
  width: auto;
  & * {
    display: block;
    margin: 0 1.5em;
  }
}

.layout-grid__cell,
.flex-layout__cell {
  display: flex;
  & * {
    justify-content: center;
    margin: auto;
  }
}

@media (min-width: 840px) {
  .layout-grid__inner.custom-grid {
    grid-template-columns: repeat(var(--columns-number), minmax(0px, 1fr));
  }
}

@media (max-width: 839px) and (min-width: 480px) {
  .layout-grid__inner.custom-grid {
    grid-template-columns: repeat(var(--columns-number), minmax(0px, 1fr));
  }
}
@media (min-width: 600px) and (max-width: 839px) {
  .layout-grid__cell--span-1,
  .layout-grid__cell--span-1-tablet {
    width: auto;
  }
}

@media (max-width: 479px) {
  .layout-grid__inner.custom-grid {
    grid-template-columns: repeat(var(--columns-number), minmax(0px, 1fr));
  }
}

.layout-grid__cell,
.flex-layout__cell {
  display: flex;
}
.flex-layout,
.flex-layout__inner {
  height: 100%;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}
