:host {
  display: var(--kup-display-mode);
  position: relative;
  transition: color 0.2s ease;

  #kup-component {
    margin: auto;
    position: relative;
    transition: color 0.2s ease;
    height: 100%;
    width: 100%;
  }

  #feedback {
    width: 32px;
    height: 32px;
    position: absolute;
    top: calc(50% - 16px);
    left: calc(50% - 16px);
  }
}

:host([is-canvas]) {
  canvas {
    height: 100%;
    width: 100%;
  }
}

svg,
img,
canvas {
  display: var(--kup-display-mode);
  width: 100%;
  height: 100%;
}

.css-step.bottom-aligned {
  bottom: 0;
  position: absolute;
}
