:host {
  background-color: var(--kul-background-color, black);
  color: var(--kul-text-color);
  display: block;
  font-family: var(--kul-font-family);
  font-size: var(--kul-font-size);
}

.showcase {
  height: 100%;
  width: 100%;
}

.flex-wrapper {
  display: flex;
  justify-content: space-evenly;

  &--column {
    flex-direction: column;
  }

  &--responsive {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

a {
  background-color: transparent;
  font-size: calc(var(--kul-font-size) * 2);
  letter-spacing: 0.075em;
  padding: 0.25em;
  text-transform: uppercase;
  transition: background-color 80ms, color 80ms;
  width: max-content;

  &:hover {
    background-color: rgba(var(--kul-primary-color-rgb), 0.2);
    color: var(--kul-primary-color);
  }
}

h2,
p {
  text-align: center;
  width: 100%;
}

h2 {
  margin: 0;
  padding: 12px 0;
}

p {
  margin-bottom: 20px;
}

.header {
  background-color: var(--kul-primary-color);
  color: var(--kul-text-on-primary-color);
  position: sticky;
  top: 0;
  z-index: 1;
}

.navigation {
  --kul-button-border-radius: 0;

  height: 0;
  overflow: hidden;
  transition: height 175ms;

  &.active {
    height: 40px;
  }
}

@media screen and (min-width: 900px) {
  .section {
    border: 2px solid var(--kul-primary-color);
    border-radius: 5px;
    margin: 20px 72px;
  }

  kul-card {
    margin: 20px 0;
  }
}

@media screen and (max-width: 899px) {
  kul-card {
    margin: 12px auto;
  }
}
