:host {
  color: var(--kul-text-color);
  display: block;
  font-family: var(--kul-font-family);
  font-size: var(--kul-font-size);
  height: 100%;
  width: 100%;
}

#kul-component {
  height: 100%;
  width: 100%;
}

kul-card {
  padding: 1em 0;
}

.showcase {
  --template-columns: repeat(1, 1fr);

  backface-visibility: hidden;
  box-sizing: border-box;
  transform: translateZ(0);
  width: 100%;
}

.flex-wrapper {
  display: flex;
  justify-content: space-evenly;

  &--column {
    flex-direction: column;
  }

  &--responsive {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

a {
  background-color: transparent;
  font-size: calc(var(--kul-font-size) * 2);
  letter-spacing: 0.075em;
  padding: 0.25em;
  text-transform: uppercase;
  transition:
    background-color 80ms,
    color 80ms;
  width: max-content;

  &:hover {
    background-color: rgba(var(--kul-primary-color-rgb), 0.2);
    color: var(--kul-primary-color);
  }
}

h2,
p {
  text-align: center;
  width: 100%;
}

h2 {
  background-color: var(--kul-primary-color);
  color: var(--kul-text-on-primary-color);
  margin: 0;
  padding: 12px 0;
}

p {
  margin-bottom: 20px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navigation {
  --kul-button-border-radius: 0;

  height: 0;
  overflow: hidden;
  transition: height 175ms;

  &.active {
    height: 40px;
  }
}

::part(grid) {
  display: grid;
  grid-template-columns: var(--template-columns);
  padding: var(--padding, 12px 0);
  width: 100%;
}

::part(grid-title) {
  -webkit-backdrop-filter: blur(3.5px);
  backdrop-filter: blur(3.5px);
  background-color: rgba(var(--kul-primary-color-rgb), 0.1);
  font-size: 1em;
  font-weight: bold;
  padding: 24px;
  text-align: center;
  text-transform: capitalize;
}

::part(examples-title) {
  background-color: var(--kul-title-background-color);
  color: var(--kul-title-color);
  font-size: 1.25em;
  padding: 24px;
  text-align: center;
  text-transform: capitalize;
}

::part(example) {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: auto;
  padding: 12px;
  position: relative;
  width: 100%;
}

::part(description) {
  background-color: var(--kul-primary-color);
  color: var(--kul-text-on-primary-color);
  padding: 12px 0;
  text-align: center;
}

::part(comp-wrapper) {
  border: 1px solid var(--kul-primary-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  min-height: 200px;
  padding: 12px;
  width: 100%;
}

::part(code-word) {
  color: var(--kul-primary-color);
  font-family: var(--kul-font-family-monospace);
  font-weight: 600;
  word-break: break-word;
}

@media (min-width: 768px) {
  .showcase {
    --template-columns: repeat(2, 1fr);

    padding: 20px 72px;
  }

  .section {
    border: 2px solid var(--kul-primary-color);
    border-radius: 5px;
    margin: 24px 0;
  }

  kul-card {
    padding: 24px;
  }
}

@media (min-width: 1023px) {
  .showcase {
    --template-columns: repeat(4, 1fr);

    padding: 20px 72px;
  }
}

@media (min-width: 1535px) {
  .showcase {
    --template-columns: repeat(6, 1fr);
  }
}
