.dashboard-layout-3 {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  position: relative;
  word-break: normal;
  height: 100%;
  width: 100%;

  .description {
    font-size: 100%;
    width: 100%;
  }

  .value {
    font-size: 220%;
  }
}
