:host {
  #kup-component {
    &.no-border {
      #box-container {
        .box {
          border: none;
        }
      }
    }

    &.no-padding {
      #box-container {
        .box {
          padding: 0;

          .box-section {
            .box-object {
              padding: 0;
            }

            &.last-child {
              margin: 0;
            }
          }
        }
      }
    }

    &.center-aligned {
      & .box-section {
        text-align: center;

        kup-image {
          margin-left: auto;
          margin-right: auto;
        }

        kup-checkbox,
        kup-image {
          justify-content: center;
        }
      }
    }

    &.left-aligned {
      & .box-section {
        text-align: left;

        kup-image {
          margin-left: 0;
          margin-right: auto;
        }

        kup-checkbox,
        kup-image {
          justify-content: flex-start;
        }
      }
    }

    &.right-aligned {
      & .box-section {
        text-align: right;

        kup-image {
          margin-left: auto;
          margin-right: 0;
        }

        kup-checkbox,
        kup-image {
          justify-content: flex-end;
        }
      }
    }
  }
}

.box-component {
  &.component-dropover {
    position: relative;
    border: 3px solid var(--kup-border-color);
    padding: 5px;
  }
}

#box-container {
  display: grid;
  grid-gap: 1rem;
  color: var(--kup-text-color);

  * {
    box-sizing: border-box;
  }

  .box-wrapper {
    display: flex;
    align-items: center;

    .box {
      border: 1px solid var(--kup-border-color);
      padding: 3px;
      flex-grow: 1;
      cursor: pointer;
      position: relative;
      display: flex;
      transition: background-color 0.25s ease;

      &.column {
        flex-direction: column;
      }

      &:hover,
      &.selected {
        .box-drag-handler {
          display: inline;
        }
      }

      &:hover {
        box-shadow: 0px 0px 7.5px 0px rgba(128, 128, 128, 0.5);
      }

      &.selected {
        background-color: rgba(var(--kup-main-color-rgb), 0.175);
        & .box-section.titled > h3 {
          background-color: transparent;
        }
      }

      &.item-dragged {
        opacity: 0.5;
      }

      &.item-dropover {
        position: relative;
        z-index: 2;

        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.05);

        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.05);

        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.05);

        transition: all 200ms ease-in;
        transform: scale(1.05);
      }

      .box-section {
        display: flex;
        flex-direction: row;
        flex: 1 1 1%;
        flex-wrap: wrap;

        &.column {
          flex-direction: column;
          justify-content: center;
          flex-wrap: unset;

          > .box-section {
            flex: 0 0 auto;
          }
        }

        &.grid {
          display: grid;
        }

        .box-object {
          padding: 1px 4px;
          min-height: 16px;

          &.has-padding {
            padding: 1rem;
          }

          kup-image, // TODO must remove this since it no longer makes sense. However removing this automatically changes the correct alignment of the internal image. Must be adjusted.
          kup-checkbox {
            display: flex;
          }

          img {
            height: auto;
          }
        }

        &.last-child {
          margin: 3px 4px;
        }

        // collapsible sections
        &.collapse-section {
          .header {
            border-top: 1px solid var(--kup-border-color);
            color: rgba(var(--kup-text-color-rgb), 0.75);
            display: flex;
            justify-content: space-around;
            width: 100%;

            .header-content {
              margin: 0.5rem;
              display: flex;
              align-items: center;
            }
          }

          .content {
            display: none;
            width: 100%;
          }

          &.open {
            .content {
              display: block;
            }
          }
        }

        &.titled {
          border: 1px solid var(--kup-border-color);
          padding-top: 5px;
          position: relative;
          margin: 10px;

          > h3 {
            background: var(--kup-background-color);
            font-size: calc(var(--kup-font-size) * 1.15);
            position: absolute;
            margin: 0px;
            padding: 0 8px;
            top: -11px;
            left: 5px;
            transition: background-color 0.25s ease;
          }
        }
      }

      .box-selection {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        z-index: 1;
      }

      .box-drag-handler {
        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;
        cursor: grab;
        display: none;
      }
    }

    .row-actions-wrapper {
      .row-actions-toggler {
        position: relative;
        width: 24px;
        height: 24px;
        margin-left: 3px;

        svg {
          cursor: pointer;
          opacity: 0;
          fill: $mainTextColor; // TODO var
          transition: opacity 500ms ease-out;
        }

        .row-action-menu {
          background: var(--kup-background-color);
          border: 1px solid var(--kup-border-color);
          box-shadow: 0px 0px 7.5px 0px rgba(128, 128, 128, 0.5);
          position: absolute;
          top: 0;
          right: 24px;
          display: none;
          z-index: 10;

          ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            > li {
              cursor: pointer;
              white-space: nowrap;
              padding: 0 12px;
              display: flex;
              align-items: center;
              line-height: 30px;

              &:not(:last-child) {
                border-bottom: 1px solid var(--kup-border-color);
              }
            }
          }

          &.open {
            display: block;
          }
        }
      }
    }

    &:hover {
      .row-actions-wrapper {
        .row-actions-toggler {
          svg {
            opacity: 1;
          }
        }
      }
    }
  }
}

#sort-panel,
#global-filter {
  margin-bottom: 1rem;
}

kup-lazy.to-be-loaded {
  display: flex;
  height: 36px;
}
