@import url(https://cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css);

/**
* @prop --int_color, --kup-box_color: text color
* @prop --int_border-color, --kup-box_border-color: single box border color
* @prop --int_border-radius, --kup-box_border-radius: single box border radius
* @prop --int_img-border-radius, --kup-box_img-border-radius: box image border radius
* @prop --int_expand-panel-color, --kup-box_expand-panel-color: text color for collapse header panel
* @prop --int_hover-box-shadow, --kup-box_hover-box-shadow: shadow when hovering on a box
*/

:host {
  // variables
  --int_color: var(--kup-box_color, #707070);
  --int_border-color: var(--kup-box_border-color, #d0d0d0);
  --int_border-radius: var(--kup-box_border-radius, 3px);
  --int_img-border-radius: var(--kup-box_img-border-radius, 4px);
  --int_expand-panel-color: var(--kup-box_expand-panel-color, #4e908f);
  --int_hover-box-shadow: var(
    --kup-box_hover-box-shadow,
    0px 0px 7.5px 0px rgba(128, 128, 128, 0.5)
  );
}

#box-container {
  display: grid;
  grid-gap: 1rem;
  color: var(--int_color);

  * {
    box-sizing: border-box;
  }

  .box {
    cursor: pointer;
    position: relative;
    border-radius: var(--int_border-radius);
    border: 1px solid var(--int_border-color);
    display: flex;

    &:hover,
    &.selected {
      box-shadow: var(--int_hover-box-shadow);
    }

    .box-section {
      display: flex;
      flex-direction: row;
      padding: 3px 4px;
      flex: 1 1 1%;
      flex-wrap: wrap;

      &.column {
        flex-direction: column;
        justify-content: center;
        flex-wrap: unset;

        > .box-section {
          flex: 0 0 auto;
        }
      }

      .box-object {
        padding: 1px 4px;

        img {
          border-radius: var(--int_img-border-radius);
          height: auto;
        }
      }

      // collapsible sections
      &.collapse-section {
        .header {
          border-top: 1px solid var(--int_border-color);
          color: var(--int_expand-panel-color);
          display: flex;
          justify-content: space-around;
          width: 100%;

          .header-content {
            margin: 0.5rem;
            display: flex;
            align-items: center;

            .mdi {
              margin-left: 5px;
            }
          }
        }

        .content {
          display: none;
          width: 100%;
        }

        &.open {
          .header {
            // border-top: none;

            .header-content {
              .mdi::before {
                animation: rotate-icon 500ms ease-out forwards;
              }
            }
          }

          .content {
            display: block;
          }
        }
      }
    }

    .box-selection {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
    }
  }
}

#sort-panel,
#filter-panel {
  margin-bottom: 1rem;
}

#filter-panel {
  kup-text-input {
    --kup-text-input_border-color: #d0d0d0;
  }
}

@-webkit-keyframes rotate-icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@-moz-keyframes rotate-icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@-o-keyframes rotate-icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotate-icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
