@import url(https://cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css);

/**
* @prop --int_color, --kup-box_color: text color
* @prop --int_border-color, --kup-box_border-color: single box border color
* @prop --int_border-radius, --kup-box_border-radius: single box border radius
* @prop --int_img-border-radius, --kup-box_img-border-radius: box image border radius
* @prop --int_expand-panel-color, --kup-box_expand-panel-color: text color for collapse header panel
* @prop --int_hover-box-shadow, --kup-box_hover-box-shadow: shadow when hovering on a box
* @prop --int_titled-section-font-size, --kup-box_titled-section-font-size: font size for section title
* @prop --int_titled-section-bg-color, --kup-box_titled-section-bg-color: background color for section title
* @prop --int_titled-section-top, --kup-box_titled-section-top: top position for section title
*/

:host {
  // variables
  --int_color: var(--kup-box_color, #707070);
  --int_border-color: var(--kup-box_border-color, #d0d0d0);
  --int_border-radius: var(--kup-box_border-radius, 3px);
  --int_img-border-radius: var(--kup-box_img-border-radius, 4px);
  --int_expand-panel-color: var(--kup-box_expand-panel-color, $smeup-primary);
  --int_hover-box-shadow: var(
    --kup-box_hover-box-shadow,
    0px 0px 7.5px 0px rgba(128, 128, 128, 0.5)
  );
  --int_titled-section-font-size: var(--kup-box_titled-section-font-size, 12px);
  --int_titled-section-bg-color: var(
    --kup-box_titled-section-bg-color,
    #ffffff
  );
  --int_titled-section-top: var(--kup-box_titled-section-top, -9px);
}

#box-container {
  display: grid;
  grid-gap: 1rem;
  color: var(--int_color);

  * {
    box-sizing: border-box;
  }

  .box-wrapper {
    display: flex;
    align-items: center;

    .box {
      flex-grow: 1;
      cursor: pointer;
      position: relative;
      border-radius: var(--int_border-radius);
      border: 1px solid var(--int_border-color);
      display: flex;
      padding: 3px;

      &.column {
        flex-direction: column;
      }

      &:hover,
      &.selected {
        box-shadow: var(--int_hover-box-shadow);
      }

      .box-section {
        display: flex;
        flex-direction: row;
        flex: 1 1 1%;
        flex-wrap: wrap;

        &.last-child {
          margin: 3px 4px;
        }

        &.column {
          flex-direction: column;
          justify-content: center;
          flex-wrap: unset;

          > .box-section {
            flex: 0 0 auto;
          }
        }

        &.grid {
          display: grid;
        }

        .box-object {
          padding: 1px 4px;

          img {
            border-radius: var(--int_img-border-radius);
            height: auto;
          }
        }

        // collapsible sections
        &.collapse-section {
          .header {
            border-top: 1px solid var(--int_border-color);
            color: var(--int_expand-panel-color);
            display: flex;
            justify-content: space-around;
            width: 100%;

            .header-content {
              margin: 0.5rem;
              display: flex;
              align-items: center;

              .mdi {
                margin-left: 5px;
              }
            }
          }

          .content {
            display: none;
            width: 100%;
          }

          &.open {
            .header {
              .header-content {
                .mdi::before {
                  animation: rotate-icon 500ms ease-out forwards;
                }
              }
            }

            .content {
              display: block;
            }
          }
        }

        &.titled {
          border: 1px solid var(--int_border-color);
          padding-top: 5px;
          position: relative;
          margin: 10px;

          > h3 {
            position: absolute;
            margin: 0;
            padding: 0 3px;
            top: var(--int_titled-section-top);
            left: 5px;
            font-size: var(--int_titled-section-font-size);
            background: var(--int_titled-section-bg-color);
          }
        }
      }

      .box-selection {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
      }
    }

    .row-actions-wrapper {
      .row-actions-toggler {
        position: relative;
        width: 24px;
        height: 24px;
        margin-left: 3px;

        svg {
          cursor: pointer;
          opacity: 0;
          fill: $mainTextColor; // TODO var
          transition: opacity 500ms ease-out;
        }

        .row-action-menu {
          position: absolute;
          top: 0;
          right: 24px;
          display: none;
          border: 1px solid var(--int_border-color);
          z-index: 10;

          // TODO this should probably be vars
          background: white;
          box-shadow: 0px 0px 7.5px 0px rgba(128, 128, 128, 0.5);

          ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            > li {
              cursor: pointer;
              white-space: nowrap;
              padding: 0 12px;
              display: flex;
              align-items: center;
              line-height: 30px;

              &:not(:last-child) {
                border-bottom: 1px solid var(--int_border-color);
              }

              .icon {
                margin-right: 5px;
              }
            }
          }

          &.open {
            display: block;
          }
        }
      }
    }

    &:hover {
      .row-actions-wrapper {
        .row-actions-toggler {
          svg {
            opacity: 1;
          }
        }
      }
    }
  }
}

:host(.no-shadow) {
  #box-container {
    .box {
      border: none;

      &:hover,
      &.selected {
        box-shadow: none;
      }
    }
  }
}

#sort-panel,
#filter-panel {
  margin-bottom: 1rem;
}

#filter-panel {
  kup-text-input {
    --kup-text-input_border-color: #d0d0d0;
    --kup-text-input_color: #545454;
  }

  svg {
    fill: #808080;
    margin-left: 3px;
  }
}

@-webkit-keyframes rotate-icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@-moz-keyframes rotate-icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@-o-keyframes rotate-icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotate-icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
