:host {
  height: 100%;
  width: 100%;
  display: block;
}

#kup-component {
  height: 100%;
  .kup-htm.is-link {
    height: 100%;
    iframe {
      min-height: 600px;
      width: 100%;
    }
  }
}
