@import '@material/ripple/mdc-ripple';
@import 'f-image/f-image.scss';
@import 'collapsible/kup-card-collapsible';
@import 'dialog/kup-card-dialog';
@import 'scalable/kup-card-scalable';
@import 'standard/kup-card-standard';

/**
* @prop --kup-card-ripple-color: Sets color of ripple effect (for Material layouts).
*/

:host {
  --kup_card_ripple_color: var(
    --kup-card-ripple-color,
    var(--kup-primary-color)
  );

  display: block;
  font-size: var(--kup-font-size);
  height: var(--kup_card_height);
  min-height: var(--kup_card_height);
  min-width: var(--kup_card_width);
  outline: none;
  position: relative;
  width: var(--kup_card_width);
}

:host([is-menu]) {
  #kup-component {
    animation: fadeInFromNone 0.25s ease-out;
    display: none;
  }
}

:host([menu-visible]) {
  #kup-component {
    display: block;
  }
}

#kup-component {
  height: 100%;
  width: 100%;
}

.mdc-ripple-surface {
  cursor: pointer;
  flex-direction: column;
  display: flex;
  height: 100%;
  position: relative;

  &:before,
  &:after {
    background-color: var(--kup_card_ripple_color);
  }
}

.card-view {
  animation: fadeInFromNone 0.25s ease-out;
  display: none;
  &.visible {
    display: block;
  }
}
