@import '@material/ripple/mdc-ripple';
@import 'collapsible/kup-card-collapsible';
@import 'dialog/kup-card-dialog';
@import 'scalable/kup-card-scalable';
@import 'standard/kup-card-standard';

:host {
  display: block;
  font-size: var(--kup-font-size);
  outline: none;
  position: relative;
  min-height: var(--kup-card-height);
  height: var(--kup-card-height);
  min-width: var(--kup-card-width);
  width: var(--kup-card-width);
}

:host([is-menu]) {
  #kup-component {
    display: none;
    animation: fadeInFromNone 0.25s ease-out;
  }
}

:host([menu-visible]) {
  #kup-component {
    display: block;
  }
}

#kup-component {
  height: 100%;
  width: 100%;
}

.mdc-ripple-surface {
  cursor: pointer;
  flex-direction: column;
  display: flex;
  height: 100%;
  position: relative;

  &:before,
  &:after {
    background-color: var(--kup-primary-color);
  }
}

.card-view {
  animation: fadeInFromNone 0.25s ease-out;
  display: none;
  &.visible {
    display: block;
  }
}
