@import '@material/menu/mdc-menu';
@import '@material/menu-surface/mdc-menu-surface';
@import '@material/ripple/mdc-ripple';
@import 'collapsible/kup-card-collapsible';
@import 'scalable/kup-card-scalable';
@import 'standard/kup-card-standard';

:host {
  display: var(--kup-display-mode);
  position: relative;

  #kup-component {
    height: 100%;
    width: 100%;
  }
}

.mdc-ripple-surface {
  cursor: pointer;
  flex-direction: column;
  display: flex;
  height: 100%;
  position: relative;
}
