/**
* @prop --kup-imagelist-background-color: Sets the background color of the component.
* @prop --kup-imagelist-columns: Sets the number of columns of the grid.
* @prop --kup-imagelist-grid-gap: Sets the gap of the grid.
* @prop --kup-imagelist-image-margin: Sets the margin of the images.
* @prop --kup-imagelist-image-min-height: Sets the minimun height of the images (useful for icons).
* @prop --kup-imagelist-item-border-radius: Sets the border radius of items.
* @prop --kup-imagelist-item-height: Sets the height of an item.
* @prop --kup-imagelist-item-padding: Sets the padding of an item.
* @prop --kup-imagelist-item-width: Sets the width of an item.
* @prop --kup-imagelist-label-margin: Sets the margin of the labels.
* @prop --kup-imagelist-primary-color: Sets the primary color of the component (ripple effect).
* @prop --kup-imagelist-primary-color-rgb: Sets the RGB values of the primary color.
* @prop --kup-imagelist-text-color: Sets the text color of the labels.
*/

:host {
  --kup_imagelist_columns_mobile: var(--kup-imagelist-columns-mobile, 4);
  --kup_imagelist_columns_tablet: var(--kup-imagelist-columns-tablet, 6);
  --kup_imagelist_columns_desktop: var(--kup-imagelist-columns-desktop, 8);

  --kup_imagelist_background_color: var(
    --kup-imagelist-background-color,
    transparent
  );
  --kup_imagelist_columns: var(--kup-imagelist-columns, 4);
  --kup_imagelist_grid_gap: var(--kup-imagelist-grid-gap, var(--kup-space-03));
  --kup_imagelist_image_min_height: var(
    --kup-imagelist-image-min-height,
    var(--kup-space-09)
  );
  --kup_imagelist_item_border_radius: var(
    --kup-imagelist-item-border-radius,
    var(--kup-radius-00)
  );
  --kup_imagelist_item_height: var(--kup-imagelist-item-height, auto);
  --kup_imagelist_item_padding: var(--kup-imagelist-item-padding, 0);
  --kup_imagelist_item_width: var(--kup-imagelist-item-width, auto);
  --kup_imagelist_label_margin: var(
    --kup-imagelist-label-margin,
    0 auto 1em auto
  );
  --kup_imagelist_navbar_background_color: var(
    --kup-imagelist-navbar-background-color,
    transparent
  );

  --kup_imagelist_primary_color: var(
    --kup-imagelist-primary-color,
    var(--kup-primary-color)
  );
  --kup_imagelist_primary_color_rgb: var(
    --kup-imagelist-primary-color-rgb,
    var(--kup-primary-color-rgb)
  );
  --kup_imagelist_text_color: var(
    --kup-imagelist-text-color,
    var(--kup-text-secondary)
  );
  --kup_imagelist_item_background_color: var(
    --kup-imagelist-item-background-color,
    var(--kup-layer-1)
  );
  --kup_imagelist_item_background_color_hover: var(
    --kup-imagelist-item-background-color-hover,
    var(--kup-layer-1-hover)
  );

  display: block;
}

.navigation-bar {
  align-items: center;
  background-color: var(--kup_imagelist_navbar_background_color);
  display: flex;
  justify-content: center;

  &__wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    position: relative;

    &--active {
      .navigation-bar__title {
        background-color: rgba(var(--kup_imagelist_primary_color_rgb), 0.15);
        color: var(--kup_imagelist_primary_color);
      }
    }
  }

  &__back,
  &__top {
    --kup-button-primary-color-rgb: 0; // Removes hover effect
  }

  &__title {
    border-radius: 16px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 0.75em 1em;
    user-select: none;
    transition: background-color 125ms, color 125ms;
    width: 100%;

    &__image.f-image {
      margin: 0;
    }

    &__label {
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: uppercase;
      white-space: nowrap;
      @include kup-body-compact-01;
    }
  }
}

.image-list {
  background-color: var(--kup_imagelist_background_color);
  display: grid;
  grid-gap: var(--kup_imagelist_grid_gap);
  grid-template-columns: repeat(
    var(--kup-imagelist-columns-mobile, var(--kup_imagelist_columns_mobile)),
    minmax(0px, 1fr)
  );
  width: 100%;
  grid-auto-flow: row;

  &.full-description {
    .f-cell .f-cell__content .image-list__wrapper .f-image.image-list__image {
      display: flow-root;
    }
    .image-list__label {
      overflow: unset;
      text-align: center;
      text-overflow: unset;
      white-space: normal;
      overflow-wrap: break-word;
    }
  }

  .f-cell {
    height: 100%;
    width: 100%;
    .f-cell__content {
      height: 100%;
    }
    .f-cell__content .image-list__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;
      position: relative;
      height: 100%;
    }
    .f-cell__content .image-list__wrapper.images {
      height: 100%;
      justify-content: flex-end;

      .f-image {
        position: unset;
        overflow: auto;
        height: 100%;
        display: flex;
      }
    }
  }

  &__item {
    background-color: var(--kup_imagelist_item_background_color);
    border-radius: var(--kup_imagelist_item_border_radius);
    cursor: pointer;
    height: var(--kup_imagelist_item_height);
    padding: var(--kup_imagelist_item_padding);
    width: var(--kup_imagelist_item_width);
    &:hover {
      background-color: var(--kup_imagelist_item_background_color_hover);
    }
  }

  &__image.f-image {
    position: absolute;
    padding: var(--kup-space-03);
    padding-bottom: 0px;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 16px - var(--kup-space-03) * 2);
    overflow: hidden;
    .f-image__icon {
      mask-size: 100% !important;
    }
  }

  &__label {
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: var(--kup-space-03);
    @include kup-label-01;
  }
}

@media screen and (min-width: 678px) {
  .image-list {
    grid-template-columns: repeat(
      var(--kup-imagelist-columns-tablet, var(--kup_imagelist_columns_tablet)),
      minmax(0px, 1fr)
    );
    grid-gap: var(--kup-space-05);
  }
}

@media screen and (min-width: 1024px) {
  .image-list {
    grid-template-columns: repeat(
      var(
        --kup-imagelist-columns-desktop,
        var(--kup_imagelist_columns_desktop)
      ),
      minmax(0px, 1fr)
    );
    grid-gap: var(--kup-space-05);
  }
}
