@import 'modules/kup-data-table-main';
@import 'modules/kup-data-table-paginator';
@import 'modules/kup-data-table-sticky-header';
@import 'modules/kup-data-table-fixed-rows';
@import 'modules/kup-data-table-drag-drop';
@import 'modules/kup-data-table-classes';
@import '../../f-components/f-chip/f-chip.scss';
@import '../../f-components/f-image/f-image.scss';

:host {
  display: block;
  font-size: var(--kup-font-size);
  position: relative;
}
