.f-chip--wrapper {
  font-family: var(--kup-chip_font-family);
  font-size: var(--kup-chip_font-size);

  .chip-set {
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

    .chip {
      align-items: center;
      display: inline-flex;
      position: relative;
      background-color: var(--kup-chip_background-color);
      background-image: linear-gradient(
        to right,
        rgba(var(--kup-chip_text-color-rgb), 0.1) 0%,
        rgba(var(--kup-chip_text-color-rgb), 0.1) 0.1%,
        rgba(var(--kup-chip_text-color-rgb), 0.1)
      );
      color: var(--kup-chip_text-color);
      border-radius: var(--kup-chip_border-radius);
      font-size: 0.875em;
      font-weight: var(--kup-chip_font-weight);
      letter-spacing: 0.0178571429em;
      text-decoration: inherit;
      text-transform: inherit;
      height: var(--kup-chip_height);
      box-sizing: border-box;
      padding: var(--kup-chip_padding);
      border-width: 0;
      outline: none;
      cursor: pointer;
      will-change: transform, opacity;
      margin: var(--kup-chip_margin);

      .chip__icon--leading {
        color: var(--kup-chip_text-color);
        &:not(.chip__icon--leading-hidden) {
          margin-left: -4px;
          margin-right: 6px;
        }

        .chip__icon--trailing {
          position: relative;
        }
      }

      .chip__icon {
        border-radius: 50%;
        outline: none;
        vertical-align: middle;
        .chip_icon--leading:not(.chip__icon--leading-hidden) {
          width: 20px;
          height: 20px;
          font-size: 20px;
        }
        .f-image__icon {
          margin: auto;
          height: var(--f-image-height, 100%);
          width: var(--f-image-width, 100%);
        }
      }

      .chip__checkmark-svg {
        width: 0;
        height: 20px;
        transition: width 150ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .chip__checkmark-path {
        transition: stroke-dashoffset 150ms 50ms cubic-bezier(0.4, 0, 0.6, 1);
        stroke-width: 2px;
        stroke-dashoffset: 29.7833385;
        stroke-dasharray: 29.7833385;
      }

      svg path {
        color: var(--kup-chip_text-color);
        stroke: var(--kup-chip_text-color);
      }

      .icon-container {
        background: var(--kup-chip_text-color);
        display: block;
        width: 18px;
        height: 18px;
      }

      .chip__primary-action {
        outline: none;
        .chip__text {
          white-space: nowrap;
        }
      }
    }

    &.chip-set--choice {
      .chip--selected {
        background-color: var(--kup-chip_background-color);
        background-image: linear-gradient(
          to right,
          rgba(var(--kup-chip_primary-color-rgb), 0.25) 0%,
          rgba(var(--kup-chip_primary-color-rgb), 0.25) 0.1%,
          rgba(var(--kup-chip_primary-color-rgb), 0.25)
        );
        color: var(--kup-chip_primary-color);
      }
    }

    &.chip-set--filter {
      .chip__icon--leading {
        opacity: 1;
        transition: opacity 75ms linear;
        transition-delay: -50ms;

        & + .chip__checkmark {
          opacity: 0;
          transition: opacity 75ms linear;
          transition-delay: 80ms;
          .chip__checkmark-svg {
            transition: width 0ms;
          }
        }

        &.chip__icon--leading-hidden {
          display: none;
          width: 0;
          opacity: 0;
          & + .chip__checkmark {
            height: 20px;
            width: 20px;
            opacity: 1;
          }
        }
      }

      .chip--selected {
        .chip__icon--leading {
          opacity: 0;
        }

        .chip__checkmark-path {
          stroke-dashoffset: 0;
        }

        .chip__checkmark {
          margin-left: -4px;
          margin-right: 4px;
          .chip__checkmark-svg {
            height: 20px;
            width: 20px;
          }
        }
      }
    }

    &.chip-set--input {
      .clear {
        margin-left: 4px;
        margin-right: -4px;
        &:hover {
          opacity: 0.75;
        }
      }
    }
  }

  :not(svg) {
    transform-origin: 0px 0px;
  }

  &.#{$kup-class-danger} {
    --kup-chip_primary-color: var(--kup-danger-color);
    --kup-chip_primary-color-rgb: var(--kup-danger-color-rgb);
  }

  &.#{$kup-class-info} {
    --kup-chip_primary-color: var(--kup-info-color);
    --kup-chip_primary-color-rgb: var(--kup-info-color-rgb);
  }

  &.#{$kup-class-secondary} {
    --kup-chip_primary-color: var(--kup-secondary-color);
    --kup-chip_primary-color-rgb: var(--kup-secondary-color-rgb);
  }

  &.#{$kup-class-success} {
    --kup-chip_primary-color: var(--kup-success-color);
    --kup-chip_primary-color-rgb: var(--kup-success-color-rgb);
  }

  &.#{$kup-class-warning} {
    --kup-chip_primary-color: var(--kup-warning-color);
    --kup-chip_primary-color-rgb: var(--kup-warning-color-rgb);
  }
}
