/*-------------------------------------------------*/
/*        C o m p o n e n t   C l a s s e s        */
/*-------------------------------------------------*/
/* $kul-class-fit                                  */
/*-------------------------------------------------*/

:host(.#{$kul-class-fit}) {
  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
