:host {
  display: block;
  font-size: var(--kup-font-size);
}

.form-field {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(--kup-font-family);
  font-size: 0.875em;
  line-height: 2em;
  font-weight: 400;
  letter-spacing: 0.0178571429em;
  color: var(--kup-text-color);
  display: inline-flex;
  align-items: center;
  vertical-align: middle;

  label {
    color: var(--kup-text-color);
    font-family: var(--kup-font-family);
    margin-left: 0px;
    margin-right: auto;
    padding-left: 4px;
    padding-right: 0px;
    order: 0;
  }

  &.form-field--align-end {
    label {
      margin-left: auto;
      margin-right: 0px;
      padding-left: 0px;
      padding-right: 4px;
      order: -1 !important;
    }
  }
}

.radio-wrapper {
  &.radio-wrapper--grid {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: var(--grid-columns);
  }

  .radio {
    border-radius: 50%;
    padding: 10px;
    display: inline-block;
    position: relative;
    flex: 0 0 auto;
    box-sizing: content-box;
    width: 20px;
    height: 20px;
    cursor: pointer;
    will-change: opacity, transform, border-color, color;
    will-change: transform, opacity;

    &:hover {
      background-color: rgba(var(--kup-primary-color-rgb), 0.125);
    }

    .radio__native-control {
      position: absolute;
      margin: 0px;
      padding: 0px;
      opacity: 0;
      cursor: inherit;
      z-index: 1;
      top: 0px;
      right: 0px;
      left: 0px;
      width: 40px;
      height: 40px;
    }

    .radio__background {
      display: inline-block;
      position: relative;
      box-sizing: border-box;
      width: 20px;
      height: 20px;
      transition: opacity 120ms cubic-bezier(0, 0, 0.2, 1) 0ms,
        transform 120ms cubic-bezier(0, 0, 0.2, 1) 0ms;

      .radio__outer-circle {
        border-color: rgba(var(--kup-text-color-rgb), 0.5);
        position: absolute;
        top: 0px;
        left: 0px;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        border-width: 2px;
        border-style: solid;
        border-radius: 50%;
        transition: border-color 120ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
      }

      .radio__inner-circle {
        position: absolute;
        top: 0px;
        left: 0px;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        transform: scale(0, 0);
        border-width: 10px;
        border-style: solid;
        border-radius: 50%;
        transition: transform 120ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,
          border-color 120ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
      }
    }

    &.radio--checked {
      .radio__outer-circle {
        border-color: var(--kup-primary-color);
      }

      .radio__inner-circle {
        border-color: var(--kup-primary-color);
        transform: scale(0.5);
        transition: transform 120ms cubic-bezier(0, 0, 0.2, 1) 0ms,
          border-color 120ms cubic-bezier(0, 0, 0.2, 1) 0ms;
      }
    }

    &.radio--disabled {
      pointer-events: none;

      + label {
        pointer-events: none;
      }

      .radio__outer-circle {
        border-color: rgba(var(--kup-text-color-rgb), 0.5);
      }

      .radio__inner-circle {
        border-color: rgba(var(--kup-text-color-rgb), 0.5);
      }
    }
  }
}
