/**
* @prop --kup-radio-font-family: Sets font family of the radio's label.
* @prop --kup-radio-font-size: Sets font size of the radio's label.
* @prop --kup-radio-font-weight: Sets font weight of the radio's label.
* @prop --kup-radio-outer-circle-color: Sets color of the outer circle.
* @prop --kup-radio-primary-color: Sets primary color of the component.
* @prop --kup-radio-primary-color-rgb: Sets primary color RGB values of the component.
* @prop --kup-radio-text-color: Sets text color of the radio's label.
*/

:host {
  display: block;
  --kup_radio_group_label_color: var(
    --kup-radio-group-label-color,
    var(--kup-gray-color-70)
  );
}

.kup-radio-wrapper {
  display: grid;
  gap: var(--kup-space-03);
  .kup-radio-group-label {
    color: var(--kup_radio_group_label_color);
    @include kup-label-01;
  }
}
