$radio-button_scale: 1.4;

/**
* @prop --rad_font-size, --kup-radio_font-size: Sets font size and icon radio button size (size * #{$radio-button_scale})
* @prop --rad_border-color, --kup-radio_border-color: Set default color of external border of the radio element
* @prop --rad_border-color--selected --kup-radio_border-color: Set selected color of external border of the radio element
* @prop --rad_color, --kup-radio_color: Sets radio element color when selected radio appears
* @prop --rad_tr-duration, --kup-radio_transition-duration: Sets all components transitions duration
*/

:host {
  --rad_font-size: var(--kup-radio_font-size, 14px);
  --rad_border-color: var(--kup-radio_border-color, #{$gray-80});
  --rad_border-color--selected: var(--kup-radio_border-color, #{darken($gray-80, 10)});
  --rad_color: var(--kup-radio_color, #{$smeup-primary});
  --rad_tr-duration: var(--kup-radio_transition-duration, #{$trn-time});
}

.kup-radio {
  // The group containing the radio buttons. Uses a ul element
  &__group {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;

    // When items are displayed horizontally
    &#{&}--horizontal {
      display: flex;
      flex-wrap: wrap;
    }
  }

  // Style of a single radio element
  &__item {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    position: relative;
    margin: 10px 12px;
    z-index: 0;

    // Container of the icon
    > div {
      align-items: center;
      display: inline-flex;
      height: calc(var(--rad_font-size) * #{$radio-button_scale});
      justify-content: center;
      position: relative;
      width: calc(var(--rad_font-size) * #{$radio-button_scale});
      z-index: 0;

      &::before,
      &::after {
        border-radius: 50%;
        box-sizing: border-box;
        content: '';
      }

      &::before {
        border: 1px solid var(--rad_border-color);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: border-color var(--rad_tr-duration);
        width: 100%;
        z-index: 0;
      }

      &::after {
        background-color: var(--rad_color);
        height: calc(100% - 6px);
        position: relative;
        opacity: 0;
        transition: opacity var(--rad_tr-duration);
        width: calc(100% - 6px);
        z-index: 1;
      }

      // Real radio button
      > input {
        cursor: pointer;
        height: 100%;
        left: 0;
        margin: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
      }
    }

    &--selected {
      div {
        &::before {
          border-color: var(--rad_border-color--selected);
        }

        &::after {
          opacity: 1;
        }
      }
    }

    label {
      cursor: pointer;
      font-size: var(--rad_font-size);
      margin-left: 10px;
    }
  }
}