@import 'kup-radio-common';

@include radio-css-vars(rad, radio);

:host {
  --rad_font-size: var(--kup-radio_font-size, 14px);
  --rad_border-color: var(--kup-radio_border-color, #{$gray-80});
  --rad_border-color--selected: var(--kup-radio_border-color, #{darken($gray-80, 10)});
  --rad_color: var(--kup-radio_color, #{$smeup-primary});
  --rad_tr-duration: var(--kup-radio_transition-duration, #{$trn-time});
}

.kup-radio {
  // The group containing the radio buttons. Uses a ul element
  &__group {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;

    // When items are displayed horizontally
    &#{&}--horizontal {
      display: flex;
      flex-wrap: wrap;
    }
  }

  // Style of a single radio element
  &__item {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 10px 12px;
    z-index: 0;

    // Container of the icon
    > div {
      @include radio-graphics(rad);

      // Real radio button
      > input {
        cursor: pointer;
        height: 100%;
        left: 0;
        margin: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
      }
    }

    &--selected {
      div {
        @include radio-graphics-selected(rad);
      }
    }

    label {
      cursor: pointer;
      font-size: var(--rad_font-size);
      margin-left: 10px;
    }
  }
}
