:host {
  --tre_table-header_background-color: var(--kup-tre_table-header_background-color, #{$mainTextColor});
  --tre_node-expander_color: var(--kup-tre_node-expander_color, #{$mainTextColor});
  --tre_node_background-color--hover: var(--kup-tre_node_background-color--hover, #e6e6e6);
  --tre_node-icon_color: var(--kup-tre_node-icon_color, #{$mainTextColor});
  --tre_node-icon_size: var(--kup-tre_node-icon_size, 16px);
  --tre_node-indent_width: var(--kup-tre_node-indent_width, 16px);
}


//---- Base class for the tree and its components ----
.kup-tree {

  // Element used for the indentation of a tree node
  &__indent {
    display: inline-block;
    width: calc(var(--tre_node-indent-width) * var(--tree-node__depth, 0));
  }

  // Default styles of the TreeNode icons
  &__icon {
    color: var(--tre_node-icon_color);
    font-size: var(--tre_node-icon_size);
    height: var(--tre_node-icon_size);
    width: var(--tre_node-icon_size);
  }

  // The container of a whole node
  &__node {
    // The arrow which shows if a node is expandable and is expanded or not
    &__expander {
      color: var(--tre_node-expander_color);
      transition: transform .6s;
    }

    // When the NodeTree is expanded
    &[data-is-expanded] {
      transform: rotate(180deg);
    }

    // By default, options, even when rendered, are not visible
    .options {
      visibility: hidden;
    }

    // When an entire row is hovered
    &:hover {

      // All cells have a common background
      > td {
        background-color: var(--tre_node_background-color--hover);
      }

      // All options, if present, becomes visible
      .options {
        visibility: visible;
      }
    }
  }
}
