/**
* @prop --tre_node-expander_color, --kup-tre_node-expander_color: The TreeNode expander icon color.
* @prop --tre_node_background-color--hover, --kup-tre_node_background-color--hover: TreeNode background color when TreeNode is hovered.
* @prop --tre_node-icon_color, --kup-tre_node-icon_color: TreeNode icon color. Applied to all TreeNodes.
* @prop --tre_node-icon_size, --kup-tre_node-icon_size: The TreeNode icon size (includes expand icon).
* @prop --tre_node-indent_width, --kup-tre_node-indent_width: Width of each single indentation of the tree.
* @prop --tre_node--disabled_opacity, --kup-tre_node--disabled_opacity: The opacity of a TreeNode when disabled.
* @prop --tre_table_border-bottom-color, --kup-tre_table_border-bottom-color: When showColumns is active, specify the border bottom color of the table.
* @prop --tre_table-header_background-color, --kup-tre_table-header_background-color: Table header common background color.
* @prop --tre_table-header_color, --kup-tre_table-header_color: Table header common text color.
*/

:host {
  --tre_node-expander_color: var(--kup-tre_node-expander_color, #{$mainTextColor});
  --tre_node_background-color--hover: var(--kup-tre_node_background-color--hover, #e6e6e6);
  --tre_node-icon_color: var(--kup-tre_node-icon_color, #{$mainTextColor});
  --tre_node-icon_size: var(--kup-tre_node-icon_size, 16px);
  --tre_node-indent_width: var(--kup-tre_node-indent_width, 16px);
  --tre_node--disabled_opacity: var(--kup-tre_node--disabled_opacity, .7);
  --tre_table_border-bottom-color: var(--kup-tre_table_border-bottom-color, #e0e0e0);
  --tre_table-header_background-color: var(--kup-tre_table-header_background-color, #{$gray-80});
  --tre_table-header_color: var(--kup-tre_table-header_color, #ffffff);
  --tre_table-header_font-weight: var(--kup-tre_table-header_font-weight, 400);

  // host style
  display: block;
}


//---- Base class for the tree and its components ----
.kup-tree {
  border-collapse: collapse;
  width: 100%; // The table takes all available space by default

  // The header of the table
  thead {
    display: none; // By default the tree header is not displayed

    // When header is visible we set the initial display to make it the default display
    &.header--is-visible {
      display: table-header-group;
    }

    // Each cell of the header
    th {
      background-color: var(--tre_table-header_background-color);
      color: var(--tre_table-header_color);
      font-weight: var(--tre_table-header_font-weight);
      text-align: left; // If not specified its centered
    }
  }

  // Element used for the indentation of a tree node
  &__indent {
    display: inline-block;
    width: calc(var(--tre_node-indent_width) * var(--tree-node_depth, 0));
  }

  // Default styles of the TreeNode icons
  &__icon {
    align-items: center;
    color: var(--tre_node-icon_color);
    display: inline-flex;
    font-size: var(--tre_node-icon_size);
    height: var(--tre_node-icon_size);
    justify-content: center;
    width: var(--tre_node-icon_size);
  }

  // The container of a whole node
  &__node {
    // All items
    > * {
      vertical-align: middle;
    }

    // When a TreeNode is disabled, we reduce its opacity
    &--disabled {
      opacity: var(--tre_node--disabled_opacity);
    }

    // The arrow which shows if a node is expandable and is expanded or not
    &__expander {
      color: var(--tre_node-expander_color);
      transition: transform .6s;
    }

    // When the NodeTree is expanded
    &[data-is-expanded] &__expander {
      transform: rotate(180deg);
    }

    // By default, options, even when rendered, are not visible
    .options {
      visibility: hidden;
    }

    // When an entire row is hovered
    &:hover {
      // All cells have a common background
      > td {
        background-color: var(--tre_node_background-color--hover);
      }

      // All options, if present, becomes visible
      .options {
        visibility: visible;
      }
    }
  }

  &[data-show-columns] &__node {
    border-bottom: solid 1px var(--tre_table_border-bottom-color);
  }
}
