:host {
  display: var(--kup-display-mode);

  #kup-component {
    color: var(--kup-text-color);

    & .wrapper {
      overflow-x: auto;

      .kup-tree {
        border-collapse: collapse;
        width: max-content;

        thead {
          display: none;

          &.header--is-visible {
            display: table-header-group;
          }

          th {
            text-align: left;
          }
        }

        tr,
        td {
          font-size: 1rem;
          line-height: 1rem;

          & .cell-content {
            display: inline-block;
            vertical-align: 0.325rem;
            line-height: 1rem;
          }
        }

        td,
        th {
          transition: color 0.25s, background-color 0.25s;
          padding: 0.4rem 0.5rem;
        }

        &__indent {
          display: inline-block;
          width: calc(1.5rem * var(--tree-node_depth, 0));
        }

        .options,
        &__icon {
          display: inline-block;
          margin-right: 0.4rem;
          height: 1.5rem;
          width: 1.5rem;
        }

        &__node {
          cursor: default;

          &.with-dyn {
            cursor: pointer;
          }

          &--disabled {
            opacity: 0.4;

            &__expander {
              pointer-events: none;
            }
          }

          &__expander {
            cursor: pointer;
            transition: transform 0.1s;
          }

          &[data-is-expanded] .expand-icon {
            transform: rotate(90deg);
          }

          .options {
            cursor: pointer;
            float: right;
            margin-left: 0.6rem;
            opacity: 0;
            transition: opacity 0.6s, visibility 0.6s;

            &:before {
              height: inherit;
              width: inherit;
            }
          }

          &--selected:not(.kup-tree__node--disabled),
          &:hover:not(.kup-tree__node--disabled) {
            > td {
              color: var(--kup-hover-color);
              background-color: var(--kup-hover-background-color);
            }
          }
        }

        &[data-show-columns] &__node {
          border-bottom: solid 1px var(--kup-border-color);
        }

        &[data-show-object-navigation] &__node {
          &:hover .options {
            opacity: 1;
            visibility: visible;

            &:hover {
              opacity: 0.54;
            }
          }
        }
      }
    }
  }
}
