.box-layout-6 {
  display: flex;
  height: 100%;
  @include kup-body-compact-01;

  .container {
    display: flex;
    height: 100%;
    margin: auto;
    width: 100%;
  }

  .image {
    display: flex;
    height: 100%;
    margin: auto;
    width: 50%;
  }

  .label {
    padding-bottom: 0.25em;
  }

  .value {
    @include kup-heading-compact-01;
    padding-bottom: 1.25em;
    .knob-cell {
      min-width: 12rem;
    }
  }

  tr:last-child {
    .value {
      padding-bottom: 0;
    }
  }

  .table {
    box-sizing: border-box;
    display: flex;
    height: max-content;
    margin: auto;
    padding: 1.25em;
  }

  .table,
  table {
    width: 100%;
  }
}
