.box-layout-7 {
  display: flex;
  height: 100%;
  @include kup-body-compact-01;

  .container {
    height: 100%;
    margin: auto;
    width: 100%;
  }

  .image {
    width: 100%;
  }

  .label,
  .value {
    padding: 0.25em;
  }

  .label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .value {
    .knob-cell {
      min-width: 12rem;
    }
    @include kup-heading-compact-01;
  }

  .table {
    box-sizing: border-box;
    padding: 1.25em;
    padding-bottom: 0;
  }

  .table,
  table {
    width: 100%;
  }
}
