.box-layout-4 {
  display: flex;
  height: 100%;
  background-color: var(--kup-gray-color-10);
  color: var(--kup-gray-color-70);
  @include kup-body-compact-01;

  .container {
    margin: auto;
    width: 100%;
  }

  .image {
    border-radius: 50%;
    height: 64px;
    margin: auto;
    width: 64px;
  }

  .value {
    padding-top: 0.5em;
    @include kup-heading-compact-01;
  }

  .f-cell.c-centered .f-cell__content img,
  .f-cell.c-centered .f-cell__content .f-image {
    margin: 0;
  }
}
