.box-layout-1 {
  background-color: var(--kup-gray-color-10);
  color: var(--kup-gray-color-70);
  padding: var(--kup-space-05);
  @include kup-body-compact-01;

  table {
    width: 100%;
  }

  .label {
    overflow: hidden;
    padding: 0.5em;
    text-overflow: ellipsis;
    width: 50%;
  }

  .value {
    font-weight: bold;
    padding: 0.5em;
  }
}
