.box-layout-2 {
  background-color: var(--kup-background-color);
  color: var(--kup-text-color);
  font-size: var(--kup-font-size);
  padding: 0.5em;

  table {
    width: 100%;
  }

  .label {
    max-width: 50%;
    overflow: hidden;
    padding: 0.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .value {
    padding: 0.5em;
    font-weight: bold;
  }
}
