.box-layout-8 {
  display: flex;
  height: 100%;
  @include kup-body-compact-01;

  .container {
    height: 100%;
    margin: auto;
    width: 100%;
  }

  .image {
    width: 100%;
  }

  .label {
    overflow: hidden;
    padding-bottom: 0.25em;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .value {
    @include kup-heading-compact-01;

    .knob-cell {
      min-width: 12rem;
    }
  }

  tr:last-child {
    .value {
      padding-bottom: 0;
    }
  }

  .table {
    box-sizing: border-box;
    padding-top: var(--kup-space-05);
    padding-bottom: 0;
  }

  .table,
  table {
    width: 100%;
  }
}
