.box-layout-3 {
  @include kup-body-compact-01;

  .container {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
  }

  .flex-container {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;

    &:first-child {
      justify-content: flex-start;
    }

    &:last-child {
      justify-content: flex-end;
    }
  }

  .label {
    overflow: hidden;
    padding: 0.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .value {
    padding: 0.5em;
    @include kup-heading-compact-01;
    .knob-cell {
      min-width: 12rem;
    }
  }

  .f-cell .f-cell__text {
    white-space: nowrap;
  }
}
