.box-layout-5 {
  display: flex;
  height: 100%;
  @include kup-body-compact-01;

  .container {
    display: flex;
    height: 100%;
    margin: auto;
    width: 100%;
  }

  .image {
    display: flex;
    height: 100%;
    margin: auto;
    width: 50%;
  }

  .label,
  .value {
    padding: 0.5em;
  }

  .label {
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .value {
    @include kup-heading-compact-01;
    .knob-cell {
      min-width: 12rem;
    }
  }

  .table {
    box-sizing: border-box;
    padding: 1.25em;
  }

  .table,
  table {
    width: 100%;
  }
}
