.box-layout-5 {
  display: flex;
  height: 100%;
  background-color: var(--kup-gray-color-10);
  color: var(--kup-gray-color-70);
  padding: var(--kup-space-05);
  @include kup-body-compact-01;

  .container {
    display: flex;
    height: 100%;
    margin: auto;
    width: 100%;
  }

  .image {
    display: flex;
    height: 100%;
    margin: auto;
    width: 50%;
  }

  .label,
  .value {
    padding: 0.5em;
  }

  .label {
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .value {
    font-weight: bold;
  }

  .table {
    box-sizing: border-box;
    padding: 1.25em;
  }

  .table,
  table {
    width: 100%;
  }
}
