.box-layout-2 {
  @include kup-body-compact-01;

  table {
    width: 100%;
    display: grid;
    gap: var(--kup-space-05);
    tr {
      display: flex;
      justify-content: space-between;
    }
  }

  .label {
    max-width: 50%;
  }

  .value {
    font-weight: bold;
    @include kup-heading-compact-01;
    .knob-cell {
      min-width: 12rem;
    }
  }
}
