:host {
  display: block;
  font-size: var(--kup-font-size);

  aside {
    left: -100%;
  }
}

:host([opened]) {
  aside {
    left: 0;
  }
  .backdrop {
    opacity: 1;
    pointer-events: all;
  }
}

:host(.right) {
  aside {
    left: unset;
    right: -100%;
  }
}

:host([opened].right) {
  aside {
    right: 0;
  }
}

:host(.permanent) {
  .backdrop {
    display: none;
  }
}

aside {
  position: fixed;
  top: 0;
  width: 300px;
  max-width: 75vw;
  height: 100vh;
  background-color: var(--kup-drawer-background-color);
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2),
    0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12);
  transition: left 0.75s cubic-bezier(0.4, 0, 0.2, 1),
    right 0.75s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 101;
}

.header {
  padding: 1em;
  background-color: var(--kup-primary-color);
  position: relative;
}

.title {
  font-size: 1.5rem;
  color: var(--kup-text-on-primary-color);
  margin: 0;
}

.subtitle {
  font-size: 0.75em;
  color: var(--kup-text-on-primary-color);
  margin: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.32);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in;
}
