/**
* @prop --pgb_background-color, --kup-pb_background-color: Background color of the progress bar.
* @prop --pgb_border-radius, --kup-pb_border-radius: Border radius of the bars, 5px default, 9px when small.
* @prop --pgb_foreground-color, --kup-pb_foreground-color: Foreground color of the progress bar.
* @prop --pgb_text-color, --kup-pb_text-color: Text color.
*/

:host {
  // variables
  --pgb_background-color: var(--kup-pb_background-color, #cccccc);
  --pgb_border-radius: var(--kup-pb_border-radius, 5px);
  --pgb_foreground-color: var(--kup-pb_foreground-color, #3063a5);
  --pgb_text-color: var(--kup-pb_text-color, #ffffff);

  display: inline-block;
  width: 100%;
}

// The progress bar
.progress-bar {
  background: var(--pgb_background-color);
  border-radius: var(--pgb_border-radius);
  overflow: hidden; // Mandatory, see "is-small" below
  position: relative;
  width: 100%;

  // The percentage bar
  &-percentage {
    background: var(--pgb_foreground-color);
    border-radius: var(--pgb_border-radius);
    color: #fff;
    height: 18px;
    padding: 5px 0;
    text-align: center;

    // The label
    span {
      color: var(--pgb_text-color);
      display: inline-block;
      font-size: 12px;
      left: 0;
      line-height: 18px;
      position: absolute;
      width: 100%;
    }
  }

  // For small progress bar
  :host([is-small]) & {
    // Default border radius is meant to have border completely round
    --pgb_border-radius: var(--kup-pb_border-radius, 9px);

    // The internal bar is smaller and without border-radius
    &-percentage {
      border-radius: 0;
      padding: 0;
    }
  }
}
