:host {
  display: block;
  font-size: var(--kup-font-size);
  width: 100%;
}

:host(.animated) {
  .progress-bar-percentage {
    animation: running-stripes 2s linear infinite;
  }
}

:host(.padded) {
  .progress-bar {
    padding: 0.5em;
    width: calc(100% - 1em);
  }
}

:host(.slim) {
  #kup-component {
    .progress-bar {
      border-radius: 9px;

      & .progress-bar-percentage {
        border-radius: 9px;
        padding: 0;
      }
    }
    .pie-wrapper {
      & .pie {
        & .half-circle {
          border-width: 0.05em;
        }
      }
      & .shadow {
        border-width: 0.05em;
      }
    }
  }
}

:host(.striped) {
  .progress-bar-percentage {
    background-image: linear-gradient(
      -45deg,
      rgba(var(--kup-text-color-rgb), 0.125) 25%,
      transparent 25%,
      transparent 50%,
      rgba(var(--kup-text-color-rgb), 0.125) 50%,
      rgba(var(--kup-text-color-rgb), 0.125) 75%,
      transparent 75%,
      transparent
    );
    background-size: 3em 3em;
  }
}

.progress-bar {
  background: var(--kup-disabled-background-color);
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  width: 100%;

  &.text-color-on-primary {
    & .progress-bar-percentage {
      color: var(--kup-text-on-primary-color);
      & span {
        color: var(--kup-text-on-primary-color);
      }
    }
  }
}

.progress-bar-percentage {
  background: var(--kup-primary-color);
  border-radius: 4px;
  color: var(--kup-text-color);
  height: 1.25em;
  padding: 0.5em 0;
  text-align: center;
  transition: width 0.2s ease;

  & span {
    color: var(--kup-text-color);
    display: inline-block;
    font-size: 1em;
    left: 0;
    line-height: 1.268em;
    position: absolute;
    width: 100%;
  }

  & .icon-container {
    display: block;
    height: 1.25em;
    &:not(.is-image) {
      background-color: var(--kup-text-on-primary-color);
    }
    img {
      width: auto;
      height: 100%;
    }
  }
}

:host([is-radial]) {
  box-sizing: border-box;
  margin: auto;

  #kup-component {
    display: flex;
    font-size: 10em;
    margin: auto;
  }

  & .pie-wrapper {
    height: 1em;
    width: 1em;
    float: left;
    margin: auto;
    position: relative;

    &:nth-child(3n + 1) {
      clear: both;
    }

    & .pie {
      height: 1em;
      width: 1em;
      clip: rect(0, 1em, 1em, 0.5em);
      left: 0;
      position: absolute;
      top: 0;

      &.has-value {
        & .half-circle {
          border-color: var(--kup-primary-color);
          &.left-side {
            transition: transform 0.2s ease;
          }
        }

        &.is-less-than-half {
          & .right-side {
            display: none;
          }
        }

        &.is-more-than-half {
          clip: rect(auto, auto, auto, auto);

          & .right-side {
            transform: rotate(180deg);
          }
        }
      }

      & .half-circle {
        height: 1em;
        width: 1em;
        border: 0.1em solid var(--kup-disabled-background-color);
        border-radius: 50%;
        clip: rect(0, 0.5em, 1em, 0);
        left: 0;
        position: absolute;
        top: 0;
      }
    }

    & .label {
      background: none;
      bottom: 0.4em;
      color: var(--kup-text-color);
      cursor: default;
      display: block;
      font-size: 0.25em;
      left: 0.4em;
      line-height: 2.75em;
      position: absolute;
      right: 0.4em;
      text-align: center;
      top: 0.4em;

      &.icon-container {
        display: block;
        height: 1.25em;
        width: 1.25em;
        object-fit: cover;
        margin: auto;
        &:not(.is-image) {
          background-color: var(--kup-primary-color);
        }
        img {
          width: auto;
          height: 100%;
        }
      }

      & .smaller {
        color: var(--kup-text-color);
        opacity: 0.8;
        font-size: 0.45em;
        padding-bottom: 20px;
        vertical-align: super;
      }
    }

    & .shadow {
      height: 1em;
      width: 1em;
      border: 0.1em solid var(--kup-disabled-background-color);
      border-radius: 50%;
    }
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}

@keyframes running-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 3em 3em;
  }
}
