/**
* @prop --kup-navbar_box-shadow: Box shadow of the component.
* @prop --kup-navbar_padding: Padding of the component.
* @prop --kup-navbar_position: CSS positioning of the component.
* @prop --kup-navbar_width: Width of the component.
* @prop --kup-navbar_short-border-radius: Border radius of the component when in short mode.
* @prop --kup-navbar_short-box-shadow: Box shadow of the component when in short mode.
* @prop --kup-navbar_short-width: Width of the component when in short mode.
* @prop --kup-navbar_transition: Transition time of the component.
*/

:host {
  --kup-navbar_box-shadow: 0 2px 4px -1px rgba(128, 128, 128, 0.2),
    0 4px 5px 0 rgba(128, 128, 128, 0.14),
    0 1px 10px 0 rgba(128, 128, 128, 0.12);
  --kup-navbar_padding: 8px 12px;
  --kup-navbar_position: fixed;
  --kup-navbar_short-border-radius: 0px 0px 24px;
  --kup-navbar_short-box-shadow: rgba(128, 128, 128, 0.2) 0px 2px 4px -1px,
    rgba(128, 128, 128, 0.14) 0px 4px 5px 0px,
    rgba(128, 128, 128, 0.12) 0px 1px 10px 0px;
  --kup-navbar_short-width: 9em;
  --kup-navbar_transition: 250ms;
  --kup-navbar_width: 100%;

  box-sizing: border-box;
  font-size: var(--kup-font-size);
  left: 0;
  position: var(--kup-navbar_position);
  top: 0;
  transition: all var(--kup-navbar_transition);
  width: var(--kup-navbar_width);
  z-index: var(--kup-navbar-zindex);
}

#kup-component {
  width: var(--kup-navbar_width);
}

.nav-bar {
  background-color: var(--kup-navbar-background-color);
  box-shadow: var(--kup-navbar_box-shadow);
  box-sizing: border-box;
  color: var(--dyn-color, white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: var(--kup-navbar_width);

  &--short {
    border-radius: var(--kup-navbar_short-border-radius);
    box-shadow: var(--kup-navbar_short-box-shadow);
    width: var(--kup-navbar_short-width);

    .nav-bar__section {
      padding: 0 0.5em;
    }

    section {
      overflow: hidden;
    }
  }

  ::slotted(*) {
    --kup-button_primary-color: var(--kup-navbar-color);
    --kup-button_primary-color-rgb: var(--kup-navbar-color-rgb);
    --kup-button_primary-color-h: var(--kup-navbar-color-h);
    --kup-button_primary-color-s: var(--kup-navbar-color-s);
    --kup-button_primary-color-l: var(--kup-navbar-color-l);
    --kup-switch_label-color: var(--kup-navbar-color);
    --kup-switch_primary-color: var(--kup-navbar-color);
    --kup-switch_primary-color-rgb: var(--kup-navbar-color-rgb);
    --kup-textfield_color: var(--kup-navbar-color);
    --kup-textfield_color-rgb: var(--kup-navbar-color-rgb);
    --kup-tree_color: var(--kup-navbar-color);
    --kup-tree_color-rgb: var(--kup-navbar-color-rgb);

    color: var(--kup-navbar-color);
    fill: var(--kup-navbar-color);
    margin: 0;
  }
}

.nav-bar__row {
  box-sizing: border-box;
  display: flex;
  height: var(--kup-navbar-height);
  position: relative;
  width: var(--kup-navbar_width);
}

.nav-bar__section {
  align-items: center;
  display: inline-flex;
  flex: 1 1 auto;
  min-width: 0;
  padding: var(--kup-navbar_padding);

  &--align-start {
    flex-shrink: 5;
    justify-content: flex-start;
    order: -1;
  }

  &--align-end {
    justify-content: flex-end;
    order: 1;
    overflow: hidden;
  }
}

::slotted(*) {
  --kup-button_primary-color: var(--kup-navbar-color);
  --kup-button_primary-color-rgb: var(--kup-navbar-color-rgb);
  --kup-button_primary-color-h: var(--kup-navbar-color-h);
  --kup-button_primary-color-s: var(--kup-navbar-color-s);
  --kup-button_primary-color-l: var(--kup-navbar-color-l);
  --kup-switch_label-color: var(--kup-navbar-color);
  --kup-switch_primary-color: var(--kup-navbar-color);
  --kup-switch_primary-color-rgb: var(--kup-navbar-color-rgb);
  --kup-textfield_color: var(--kup-navbar-color);
  --kup-textfield_color-rgb: var(--kup-navbar-color-rgb);
  --kup-tree_color: var(--kup-navbar-color);
  --kup-tree_color-rgb: var(--kup-navbar-color-rgb);

  color: var(--kup-navbar-color);
  fill: var(--kup-navbar-color);
  margin: 0;
}
