@import '../../f-components/f-button/f-button.scss';

:host {
  display: block;
  font-size: var(--kup-font-size);
  margin: auto;
  width: max-content;
}

:host(.full-height) {
  height: 100%;
  #kup-component {
    height: 100%;
  }
  .mdc-button {
    height: 100%;
  }
}

:host(.full-width) {
  width: 100%;
  #kup-component {
    width: 100%;
  }
  .mdc-button {
    width: 100%;
  }
}

:host(.shaped) {
  .mdc-button,
  .mdc-button__ripple {
    border-radius: 18px;
  }
}
