:host {
  display: block;
  font-size: var(--kup-font-size);
}

:host(.full-width) {
  width: 100%;
  #kup-component {
    width: 100%;
  }
}

:host(.full-height) {
  height: 100%;
  #kup-component {
    height: 100%;
  }
}
