@import '@material/button/mdc-button';

:host {
  display: block;
  font-size: var(--kup-font-size);
  margin: auto;
}

:host([raised]) {
  #kup-component {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
      rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  }
}

:host(.shaped) {
  #kup-component {
    border-radius: 18px;
  }
  .mdc-button,
  .mdc-button__ripple {
    border-radius: 18px;
  }
}

#kup-component {
  .mdc-button {
    box-shadow: none;
    font-family: var(--kup-font-family);
    font-size: 0.875em;

    &.mdc-button--outlined {
      &.action {
        border-right: none;
      }
      &.dropdown {
        border-left: none;
      }
    }

    &.mdc-button--outlined:not(:disabled) {
      border-color: var(--kup-primary-color);
    }

    &.mdc-button--outlined:disabled {
      border-color: var(--kup-disabled-color);
    }

    &.mdc-button--raised:disabled {
      background: var(--kup-disabled-background-color);
    }

    &.mdc-button--raised {
      .icon-container {
        background: var(--kup-text-on-primary-color);
      }
    }

    &:disabled {
      color: var(--kup-disabled-color);
      .icon-container {
        background: var(--kup-disabled-color);
      }
    }

    &.action {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right-width: 0;
      margin-right: -1px;
      .mdc-button__ripple {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: calc(100% - 1px);
      }
    }

    &.dropdown {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      box-shadow: rgb(128, 128, 128) -2px 0px 2px -2px;
      min-width: 32px;
      margin: 0;
      padding: 0;
      .mdc-button__ripple {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      .icon-container {
        margin: auto;
      }
    }
  }
}

#kup-component .icon-container {
  background: var(--kup-primary-color);
  display: block;
  width: 18px;
  height: 18px;
}

img {
  height: auto;
  width: 100%;
}
