/*-------------------------------------------------*/
/*        C o m p o n e n t   C l a s s e s        */
/*-------------------------------------------------*/

:host(.#{$kup-class-shaped}) {
  .dropdown-button__primary-action {
    .button {
      border-top-left-radius: 18px;
      border-bottom-left-radius: 18px;
    }
  }

  .dropdown-button__dropdown-action {
    .button {
      border-top-right-radius: 18px;
      border-bottom-right-radius: 18px;
    }
  }
}

:host(.#{$kup-class-full-width}) {
  width: 100%;

  .dropdown-button__primary-action {
    width: 100%;

    .button {
      width: 100%;
    }
  }
}
