/** create with CSSStyleClassGenerator */

.kup-00100,
:host(.kup-00100) {
  background-color: pink !important;
}

.kup-00200,
:host(.kup-00200) {
  background-color: #59abe3 !important;
}

.kup-00800,
:host(.kup-00800) {
  background-color: #c0392b !important;
}
