//Dynamic positioning
.dynamic-position {
  position: fixed !important;
  z-index: 1000;
  display: block;
}

//Scroll on hover
.hover-scrolling-parent > .hover-scrolling-el {
  overflow: auto;
}

#container-scrolling-arrow {
  position: fixed;
  top: 50%;
  left: 50%;
  pointer-events: none;
  z-index: 9999;
}

#container-scrolling-arrow {
  & .left-scrolling-arrow,
  & .right-scrolling-arrow {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
  }

  & .left-scrolling-arrow {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid var(--main-color);
    transform: translate(30px, -10px);
  }

  & .right-scrolling-arrow {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid var(--main-color);
    transform: translate(-30px, -10px);
  }

  & .left-scrolling-arrow.activated {
    visibility: visible;
    &.animated {
      &.arrow-1 {
        -webkit-animation: pulseleft 1.2s infinite; /* Chrome, Safari, Opera */
        animation: pulseleft 1.2s infinite;
        animation-delay: 0.4s;
      }

      &.arrow-2 {
        -webkit-animation: pulseleft 1.2s infinite; /* Chrome, Safari, Opera */
        animation: pulseleft 1.2s infinite;
        animation-delay: 0.2s;
      }

      &.arrow-3 {
        -webkit-animation: pulseleft 1.2s infinite; /* Chrome, Safari, Opera */
        animation: pulseleft 1.2s infinite;
      }
    }
  }

  & .right-scrolling-arrow.activated {
    visibility: visible;
    &.animated {
      &.arrow-1 {
        -webkit-animation: pulseright 1.2s infinite; /* Chrome, Safari, Opera */
        animation: pulseright 1.2s infinite;
        animation-delay: 0.4s;
      }

      &.arrow-2 {
        -webkit-animation: pulseright 1.2s infinite; /* Chrome, Safari, Opera */
        animation: pulseright 1.2s infinite;
        animation-delay: 0.2s;
      }

      &.arrow-3 {
        -webkit-animation: pulseright 1.2s infinite; /* Chrome, Safari, Opera */
        animation: pulseright 1.2s infinite;
      }
    }
  }
}

@-moz-keyframes pulseleft {
  0% {
    opacity: 0.2;
    transform: translate(30px, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(10px, -10px);
  }
}
@-webkit-keyframes pulseleft {
  0% {
    opacity: 0.2;
    transform: translate(30px, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(10px, -10px);
  }
}
@-o-keyframes pulseleft {
  0% {
    opacity: 0.2;
    transform: translate(30px, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(10px, -10px);
  }
}
@keyframes pulseleft {
  0% {
    opacity: 0.2;
    transform: translate(30px, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(10px, -10px);
  }
}

@-moz-keyframes pulseright {
  0% {
    opacity: 0.2;
    transform: translate(-30px, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(-10px, -10px);
  }
}
@-webkit-keyframes pulseright {
  0% {
    opacity: 0.2;
    transform: translate(-30px, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(-10px, -10px);
  }
}
@-o-keyframes pulseright {
  0% {
    opacity: 0.2;
    transform: translate(-30px, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(-10px, -10px);
  }
}
@keyframes pulseright {
  0% {
    opacity: 0.2;
    transform: translate(-30px, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(-10px, -10px);
  }
}

//Material menu and kup contextual menu
div.kup-menu,
div.mdc-menu {
  animation: fadeInFromNone 0.25s ease-out;
  display: none;
  max-height: 40vh;
  opacity: 0;
  position: relative;
  transition: height 0.2s;
  &.visible {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
