//---- Sme.UP default palette ----
$smeup-primary: #4e908f;
$smeup-info: #6a8fd1;
$smeup-danger: #f0423c;
$smeup-danger--hover: #d91e18;
$smuup-warning: #ffd454;
$smeup-selected: #ffc107;

//---- Colors ----
$gray-80: #808080;
$gray-e0: #e0e0e0;
$gray-f5: #f5f5f5;

$mainOrange: #f89406;

// ---- Text ----
$mainTextColor: #545454;

// ---- Shadows ----
$mainShadow: 0px 0px 7.5px 0px rgba(128, 128, 128, 0.5);

//---- Transitions ----
$trn-time: 0.6s;
