//---- Sme.UP default palette ----
$smeup-primary: #4e908f;
$smeup-info: #6a8fd1;
$smeup-danger: #f0423c;
$smeup-danger--hover: #d91e18;
$smuup-warning: #ffd454;
$smeup-selected: #ffc107;

//---- Colors ----
$gray-11: #111111;
$gray-1a: #1a1a1a;
$gray-80: #808080;
$gray-88: #888888;
$gray-a0: #a0a0a0;
$gray-bd: #bdbdbd;
$gray-d0: #d0d0d0;
$gray-e0: #e0e0e0;
$gray-e5: #e5e5e5;
$gray-f0: #f0f0f0;
$gray-f5: #f5f5f5;
$gray-f9: #f9f9f9;

$mainOrange: #f89406;

$mainRed: #d91e18;
$mainRedLight: #f0423c;

// ---- Text ----
$mainTextColor: #545454;

// ---- Shadows ----
$mainShadow: 0px 0px 7.5px 0px rgba(128, 128, 128, 0.5);

//---- Transitions ----
$trn-time: 0.6s;

//
//---- M A T E R I A L   D E S I G N   C O M P O N E N T S ----
//
//---- Theming and global settings ----
$mdc-theme-primary: #4e908f;
$mdc-theme-secondary: #6aaaa7;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-on-secondary: #f0f0f0;
$mdc-ripple-color: rgb(255, 165, 0);
$mdc-density: -3;
//---- Button ----
$mdc-button-fill: rgb(128, 0, 128);
$mdc-button-ink: rgb(0, 128, 0);
$mdc-button-height-in-px: 50px;
$mdc-button-border-radius: 0px;
//---- Checkbox ----
$mdc-checkbox-border-unmarked: rgb(255, 255, 0);
$mdc-checkbox-fill-unmarked: rgb(0, 0, 255);
$mdc-checkbox-border-marked: rgb(255, 192, 203);
$mdc-checkbox-fill-marked: rgb(128, 0, 128);
$mdc-checkbox-ink: rgb(0, 128, 0);
$mdc-checkbox-border-disabled-unmarked: rgb(255, 255, 0, 0.5);
$mdc-checkbox-fill-disabled-unmarked: rgb(0, 0, 255, 0.5);
$mdc-checkbox-border-disabled-marked: rgb(255, 192, 203, 0.5);
$mdc-checkbox-fill-disabled-marked: rgb(128, 0, 128, 0.5);
$mdc-checkbox-ink-disabled: rgb(0, 128, 0, 0.5);
//---- Radio ----
$mdc-radio-border-unmarked: rgb(255, 255, 0);
$mdc-radio-border-marked: rgb(255, 192, 203);
$mdc-radio-ink: rgb(0, 128, 0);
$mdc-radio-border-disabled-unmarked: rgb(255, 255, 0, 0.5);
$mdc-radio-border-disabled-marked: rgb(255, 192, 203, 0.5);
$mdc-radio-ink-disabled: rgb(0, 128, 0, 0.5);
//---- Switch ----
$mdc-switch-marked: rgb(255, 255, 0);
$mdc-switch-unmarked: rgb(0, 0, 255);
$mdc-switch-track-marked: rgb(255, 192, 203);
$mdc-switch-track-unmarked: rgb(128, 0, 128);
$mdc-switch-thumb-marked: rgb(128, 0, 128);
$mdc-switch-thumb-unmarked: rgb(0, 128, 0);
