//---- Sme.UP default palette ----
$smeup-primary: #4e908f;
$smeup-info: #6a8fd1;
$smeup-danger: #f0423c;
$smeup-danger--hover: #d91e18;
$smuup-warning: #ffd454;
$smeup-selected: #ffc107;


//---- Colors ----
$gray-80: #808080;


//---- Transitions ----
$trn-time: .6s;