:host {
  --mdc-theme-primary: var(--kup-main-color);
  --mdc-theme-on-primary: var(--kup-text-on-main-color);
  --mdc-theme-secondary: var(--kup-main-color);
  --mdc-theme-on-secondary: var(--kup-text-on-main-color);
  --mdc-theme-surface: var(--kup-background-color);
  --mdc-theme-on-surface: var(--kup-text-color);
  --mdc-theme-background: var(--kup-background-color);
  --mdc-theme-text-primary-on-background: var(--kup-text-color);
}

.is-obj {
  cursor: var(--kup-obj-cursor);
}

.icon-container.ascending {
  -webkit-mask: var(--kup-ascending-icon);
  mask: var(--kup-ascending-icon);
}

.icon-container.descending {
  -webkit-mask: var(--kup-descending-icon);
  mask: var(--kup-descending-icon);
}

.icon-container.collapsed {
  -webkit-mask: var(--kup-collapsed-icon);
  mask: var(--kup-collapsed-icon);
}

.icon-container.expanded {
  -webkit-mask: var(--kup-expanded-icon);
  mask: var(--kup-expanded-icon);
}

.icon-container.filter-remove {
  -webkit-mask: var(--kup-filter-remove-icon);
  mask: var(--kup-filter-remove-icon);
}

.icon-container.clear {
  -webkit-mask: var(--kup-clear-icon);
  mask: var(--kup-clear-icon);
}
