:host {
  background-color: var(--kup-background-color);
  display: block;
  height: 300px;
  width: 300px;
  transform: translateZ(0);
  resize: both;
  overflow: auto;
}

#kup-component,
.magic-box-wrapper {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.actions {
  background-color: var(--kup-title-background-color);
  cursor: move;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  justify-content: center;
  width: 100%;

  kup-button {
    margin: 0.5em;
  }
}

.content {
  box-sizing: border-box;
  border: 3px dashed var(--kup-border-color);
  height: 100%;
  padding-top: 52px;
}

.empty {
  flex-direction: column;
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  transition: opacity 0.25s ease-out;
  .f-image--wrapper {
    margin: 0;
  }
}

.column,
.row {
  overflow-wrap: break-word;
}

.column {
  font-weight: bold;
}

.row {
  font-style: italic;
}
