:host {
  background-color: var(--kup-background-color);
  display: block;
  height: 300px;
  min-width: 700px;
  width: 700px;
  resize: both;
  overflow: auto;
}

#kup-component,
.magic-box-wrapper {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.magic-box-wrapper {
  border: 3px dashed var(--kup-border-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.actions {
  background-color: var(--kup-title-background-color);
  cursor: move;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  z-index: 1;

  kup-button {
    margin: 0.5em;
  }
  #close-dialog {
    position: absolute;
    right: 0;
    margin: 0;
    top: 0;
    background-color: var(--kup-title-background-color);
  }
}

.content {
  height: 100%;
  padding-top: 52px;
}

.empty {
  flex-direction: column;
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  transition: opacity 0.25s ease-out;
  .f-image--wrapper {
    margin: 0;
  }
}

.column,
.row {
  overflow-wrap: break-word;
}

.column {
  font-weight: bold;
}

.row {
  font-style: italic;
}
