:host {
  background-color: var(--kup-background-color);
  color: var(--kup-text-color);
  display: block;
  height: 300px;
  min-width: 700px;
  width: 700px;
}

#kup-component,
.magic-box-wrapper {
  height: 100%;
  width: 100%;
}

.magic-box-wrapper {
  border: 3px dashed var(--kup-border-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.actions {
  align-items: center;
  background-color: var(--kup-title-background-color);
  display: inline-flex;
  height: 52px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  kup-button {
    margin: 0.5em;
  }

  #comp-switcher {
    margin: auto 0;
  }

  #close-dialog {
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
    background-color: var(--kup-title-background-color);
  }
}

.content {
  box-sizing: border-box;
  height: 100%;
  margin-top: 52px;
  overflow: auto;
  transition: background-color 125ms ease;
}

.empty {
  flex-direction: column;
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  transition: opacity 0.25s ease-out;
  .f-image {
    margin: 0;
  }
}

.json {
  font-family: var(--kup-font-family-monospace);
  margin: 0;
}

[#{$kup-dd-drag-over}] {
  background-color: rgba(var(--kup-success-color-rgb), 0.25);
}
