.f-typography {
  &.f-typography--heading-01 {
    @include kup-heading-compact-01;
  }
}

.image__iconToolbar {
  width: 16px;
  height: 16px;
  opacity: 0;
  margin: 0;
}

.f-typography--wrap {
  display: flex;
  align-items: center;
  gap: var(--kup-space-03);
  &:hover {
    .image__iconToolbar {
      opacity: 0.3;
      &:hover {
        opacity: 1;
      }
    }
  }
}
