:host {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: block;
  height: var(--kul_chart_height, 100%);
  min-height: var(--kul_chart_height, 100%);
  min-width: var(--kul_chart_width, 100%);
  width: var(--kul_chart_width, 100%);
}

#kul-component {
  width: 100%;
  height: 100%;
  position: relative;
}
