:host {
  display: var(--kup-display-mode);
  height: 100%;
  width: 100%;
  position: relative;
}

#kup-component {
  height: 100%;
  width: 100%;
}

.to-be-loaded {
  display: flex;
  position: absolute;
  & > * {
    margin: auto;
  }
}
