:host {
  display: var(--kup-display-mode);
  height: 100%;
  width: 100%;
  position: relative;
}

#kup-component {
  display: flex;
  height: 100%;
  width: 100%;
  &.kup-data-table.loaded {
    display: var(--kup-display-mode);
  }
}

.to-be-loaded {
  position: absolute;
  & > * {
    margin: auto;
  }
}
