.f-image--wrapper {
  display: block;
  margin: auto;
  position: relative;
  width: 100%;
  height: 100%;

  img {
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
  }

  .f-image__css,
  .f-image__icon,
  .f-image__img {
    height: 100;
    width: 100%;
  }

  .f-image__css {
    overflow: hidden;
  }

  .css-step.bottom-aligned {
    bottom: 0;
    position: absolute;
  }
}
