.gridRow {
  fill: var(--kup-gray-color-10);
}

.gridRowLine {
  stroke: transparent;
}

.gridTick {
  stroke: var(--kup-gray-color-20);
}

.barHandle {
  fill: #ddd;
  cursor: ew-resize;
  opacity: 0;
  visibility: hidden;
}

.barBackground {
  user-select: none;
  stroke-width: 0;
}

.barWrapper {
  cursor: pointer;
  outline: none;
}

.task-wrapper {
  outline: none !important;
}

.barWrapper:hover .barHandle {
  visibility: visible;
  opacity: 1;
}

.barLabel {
  fill: var(--kup-gray-colo-0);
  text-anchor: middle;
  font-weight: lighter;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.barLabelOutside {
  fill: var(--kup-gray-color-70);
  text-anchor: start;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.ghost-preview {
    opacity: 0.5;
}