/*-------------------------------------------------*/
/*                   D i a l o g                   */
/*-------------------------------------------------*/
[kup-dialog] {
  animation: fade-in 0.25s ease-out;
  background-color: var(--kup-background-color);
  margin: 0;
  position: absolute;
  -ms-touch-action: none;
  touch-action: none;
  transition: none;
  will-change: transform;

  &.kup-resizable {
    border: 3px outset var(--kup-title-background-color);
  }
}

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
