@import '@material/ripple/mdc-ripple';

/* [sass]TODO: It would be nice to setup @f-components instead of importing through the ../../ path  */
/*             I tried to setup a couple bu then i found this related issue, though: https://github.com/ionic-team/stencil/issues/2319*/
/* [sass]TODO: The CSS output of this file should be minified */
/* [sass]TODO: f-comps CSS files should be stand-alone to be included on-demand only inside the components that need them */

/*-------------------------------------------------*/
/*                   D i a l o g                   */
/*-------------------------------------------------*/
[kup-dialog] {
  animation: fade-in 0.25s ease-out;
  background-color: var(--kup-background-color);
  margin: 0;
  position: absolute;
  -ms-touch-action: none;
  touch-action: none;
  transition: none;
  will-change: transform;

  &.kup-resizable {
    border: 3px outset var(--kup-title-background-color);
  }
}

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
