/*-------------------------------------------------*/
/*                    D e b u g                    */
/*-------------------------------------------------*/
#kup-debug-widget {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
}
/*-------------------------------------------------*/
/*                   D i a l o g                   */
/*-------------------------------------------------*/
[kup-dialog] {
    background-color: var(--kup-background-color);
    margin: 0;
    position: fixed;
    transition: none;
    max-height: 95vh;
    max-width: 95vw;
}

[kup-dialog].kup-resizable {
    border: 3px outset var(--kup-title-background-color);
}
/*-------------------------------------------------*/
/*          S c r o l l   o n   h o v e r          */
/*-------------------------------------------------*/
#kup-scrolling-arrows {
    position: fixed;
    top: 50%;
    left: 50%;
    pointer-events: none;
    z-index: 9999;
}
#kup-scrolling-arrows .kup-left-scrolling-arrow,
#kup-scrolling-arrows .kup-right-scrolling-arrow {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
}
#kup-scrolling-arrows .kup-left-scrolling-arrow {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid var(--kup-primary-color);
    transform: translate(30px, -10px) translateZ(0);
}
#kup-scrolling-arrows .kup-right-scrolling-arrow {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid var(--kup-primary-color);
    transform: translate(-30px, -10px) translateZ(0);
}
#kup-scrolling-arrows .kup-left-scrolling-arrow.kup-activated {
    visibility: visible;
}
#kup-scrolling-arrows
    .kup-left-scrolling-arrow.kup-activated.kup-animated.kup-arrow-1 {
    -webkit-animation: kup-pulseleft 1.2s infinite;
    animation: kup-pulseleft 1.2s infinite;
    animation-delay: 0.4s;
}
#kup-scrolling-arrows
    .kup-left-scrolling-arrow.kup-activated.kup-animated.kup-arrow-2 {
    -webkit-animation: kup-pulseleft 1.2s infinite;
    animation: kup-pulseleft 1.2s infinite;
    animation-delay: 0.2s;
}
#kup-scrolling-arrows
    .kup-left-scrolling-arrow.kup-activated.kup-animated.kup-arrow-3 {
    -webkit-animation: kup-pulseleft 1.2s infinite;
    animation: kup-pulseleft 1.2s infinite;
}
#kup-scrolling-arrows .kup-right-scrolling-arrow.kup-activated {
    visibility: visible;
}
#kup-scrolling-arrows
    .kup-right-scrolling-arrow.kup-activated.kup-animated.kup-arrow-1 {
    -webkit-animation: kup-pulseright 1.2s infinite;
    animation: kup-pulseright 1.2s infinite;
    animation-delay: 0.4s;
}
#kup-scrolling-arrows
    .kup-right-scrolling-arrow.kup-activated.kup-animated.kup-arrow-2 {
    -webkit-animation: kup-pulseright 1.2s infinite;
    animation: kup-pulseright 1.2s infinite;
    animation-delay: 0.2s;
}
#kup-scrolling-arrows
    .kup-right-scrolling-arrow.kup-activated.kup-animated.kup-arrow-3 {
    -webkit-animation: kup-pulseright 1.2s infinite;
    animation: kup-pulseright 1.2s infinite;
}
@-moz-keyframes kup-pulseleft {
    0% {
        opacity: 0.2;
        transform: translate(30px, -10px);
    }
    100% {
        opacity: 1;
        transform: translate(10px, -10px);
    }
}
@-webkit-keyframes kup-pulseleft {
    0% {
        opacity: 0.2;
        transform: translate(30px, -10px);
    }
    100% {
        opacity: 1;
        transform: translate(10px, -10px);
    }
}
@-o-keyframes kup-pulseleft {
    0% {
        opacity: 0.2;
        transform: translate(30px, -10px);
    }
    100% {
        opacity: 1;
        transform: translate(10px, -10px);
    }
}
@keyframes kup-pulseleft {
    0% {
        opacity: 0.2;
        transform: translate(30px, -10px);
    }
    100% {
        opacity: 1;
        transform: translate(10px, -10px);
    }
}
@-moz-keyframes kup-pulseright {
    0% {
        opacity: 0.2;
        transform: translate(-30px, -10px);
    }
    100% {
        opacity: 1;
        transform: translate(-10px, -10px);
    }
}
@-webkit-keyframes kup-pulseright {
    0% {
        opacity: 0.2;
        transform: translate(-30px, -10px);
    }
    100% {
        opacity: 1;
        transform: translate(-10px, -10px);
    }
}
@-o-keyframes kup-pulseright {
    0% {
        opacity: 0.2;
        transform: translate(-30px, -10px);
    }
    100% {
        opacity: 1;
        transform: translate(-10px, -10px);
    }
}
@keyframes kup-pulseright {
    0% {
        opacity: 0.2;
        transform: translate(-30px, -10px);
    }
    100% {
        opacity: 1;
        transform: translate(-10px, -10px);
    }
}
