/*-------------------------------------------------*/
/*        C o m p o n e n t   C l a s s e s        */
/*-------------------------------------------------*/
.kup-danger {
    --kup-primary-color: var(--kup-danger-color);
    --kup-text-on-primary-color: white;
    --kup-primary-color-rgb: var(--kup-danger-color-rgb);
    --kup-text-on-primary-color-rgb: 255, 255, 255;
}
.kup-info {
    --kup-primary-color: var(--kup-info-color);
    --kup-text-on-primary-color: white;
    --kup-primary-color-rgb: var(--kup-info-color-rgb);
    --kup-text-on-primary-color-rgb: 255, 255, 255;
}
.kup-secondary {
    --kup-primary-color: var(--kup-secondary-color);
    --kup-text-on-primary-color: var(--kup-text-on-secondary-color);
    --kup-primary-color-rgb: var(--kup-secondary-color-rgb);
    --kup-text-on-primary-color-rgb: var(--kup-text-on-secondary-color-rgb);
}
.kup-success {
    --kup-primary-color: var(--kup-success-color);
    --kup-text-on-primary-color: white;
    --kup-primary-color-rgb: var(--kup-success-color-rgb);
    --kup-text-on-primary-color-rgb: 255, 255, 255;
}
.kup-warning {
    --kup-primary-color: var(--kup-warning-color);
    --kup-text-on-primary-color: white;
    --kup-primary-color-rgb: var(--kup-warning-color-rgb);
    --kup-text-on-primary-color-rgb: 255, 255, 255;
}
/*-------------------------------------------------*/
/*                    D e b u g                    */
/*-------------------------------------------------*/
#kup-debug-widget {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
}
/*-------------------------------------------------*/
/*                   D i a l o g                   */
/*-------------------------------------------------*/
[kup-dialog] {
    background-color: var(--kup-background-color);
    margin: 0;
    position: fixed;
    transition: none;
    max-height: 95vh;
    max-width: 95vw;
}

[kup-dialog].kup-resizable {
    border: 3px outset var(--kup-title-background-color);
}
/*-------------------------------------------------*/
/*          S c r o l l   o n   h o v e r          */
/*-------------------------------------------------*/
#container-scrolling-arrow {
    position: fixed;
    top: 50%;
    left: 50%;
    pointer-events: none;
    z-index: 9999;
}
#container-scrolling-arrow .left-scrolling-arrow,
#container-scrolling-arrow .right-scrolling-arrow {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
}
#container-scrolling-arrow .left-scrolling-arrow {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid var(--kup-primary-color);
    transform: translate(30px, -10px) translateZ(0);
}
#container-scrolling-arrow .right-scrolling-arrow {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid var(--kup-primary-color);
    transform: translate(-30px, -10px) translateZ(0);
}
#container-scrolling-arrow .left-scrolling-arrow.activated {
    visibility: visible;
}
#container-scrolling-arrow .left-scrolling-arrow.activated.animated.arrow-1 {
    -webkit-animation: pulseleft 1.2s infinite;
    animation: pulseleft 1.2s infinite;
    animation-delay: 0.4s;
}
#container-scrolling-arrow .left-scrolling-arrow.activated.animated.arrow-2 {
    -webkit-animation: pulseleft 1.2s infinite;
    animation: pulseleft 1.2s infinite;
    animation-delay: 0.2s;
}
#container-scrolling-arrow .left-scrolling-arrow.activated.animated.arrow-3 {
    -webkit-animation: pulseleft 1.2s infinite;
    animation: pulseleft 1.2s infinite;
}
#container-scrolling-arrow .right-scrolling-arrow.activated {
    visibility: visible;
}
#container-scrolling-arrow .right-scrolling-arrow.activated.animated.arrow-1 {
    -webkit-animation: pulseright 1.2s infinite;
    animation: pulseright 1.2s infinite;
    animation-delay: 0.4s;
}
#container-scrolling-arrow .right-scrolling-arrow.activated.animated.arrow-2 {
    -webkit-animation: pulseright 1.2s infinite;
    animation: pulseright 1.2s infinite;
    animation-delay: 0.2s;
}
#container-scrolling-arrow .right-scrolling-arrow.activated.animated.arrow-3 {
    -webkit-animation: pulseright 1.2s infinite;
    animation: pulseright 1.2s infinite;
}
@-moz-keyframes pulseleft {
    0% {
        opacity: 0.2;
        transform: translate(30px, -10px);
    }
    100% {
        opacity: 1;
        transform: translate(10px, -10px);
    }
}
@-webkit-keyframes pulseleft {
    0% {
        opacity: 0.2;
        transform: translate(30px, -10px);
    }
    100% {
        opacity: 1;
        transform: translate(10px, -10px);
    }
}
@-o-keyframes pulseleft {
    0% {
        opacity: 0.2;
        transform: translate(30px, -10px);
    }
    100% {
        opacity: 1;
        transform: translate(10px, -10px);
    }
}
@keyframes pulseleft {
    0% {
        opacity: 0.2;
        transform: translate(30px, -10px);
    }
    100% {
        opacity: 1;
        transform: translate(10px, -10px);
    }
}
@-moz-keyframes pulseright {
    0% {
        opacity: 0.2;
        transform: translate(-30px, -10px);
    }
    100% {
        opacity: 1;
        transform: translate(-10px, -10px);
    }
}
@-webkit-keyframes pulseright {
    0% {
        opacity: 0.2;
        transform: translate(-30px, -10px);
    }
    100% {
        opacity: 1;
        transform: translate(-10px, -10px);
    }
}
@-o-keyframes pulseright {
    0% {
        opacity: 0.2;
        transform: translate(-30px, -10px);
    }
    100% {
        opacity: 1;
        transform: translate(-10px, -10px);
    }
}
@keyframes pulseright {
    0% {
        opacity: 0.2;
        transform: translate(-30px, -10px);
    }
    100% {
        opacity: 1;
        transform: translate(-10px, -10px);
    }
}
