@import '@material/radio/mdc-radio';
@import '@material/form-field/mdc-form-field';

:host {
  display: var(--kup-display-mode);

  #kup-component {
    & .mdc-radio {
      @include mdc-radio-unchecked-stroke-color(var(--kup-border-color));
      @include mdc-radio-checked-stroke-color(var(--kup-main-color));
      @include mdc-radio-ink-color(var(--kup-main-color));
      @include mdc-radio-disabled-unchecked-stroke-color(
        var(--kup-disabled-background-color)
      );
      @include mdc-radio-disabled-checked-stroke-color(
        var(--kup-disabled-background-color)
      );
      @include mdc-radio-disabled-ink-color(
        var(--kup-disabled-background-color)
      );
    }

    & label {
      color: var(--kup-text-color);
      font-family: var(--kup-font-family);
    }
  }
}
