/**
* @prop --gau_needle-color, --kup-gauge_needle-color: Sets color of the needle.
* @prop --gau_top-lateral-padding, --kup-gauge_top-lateral-padding: Set a top and lateral padding for the svg to prevent threshold labels to overlap other elements.
* @prop --gau_threshold-color, --kup-gauge_threshold-color: Sets the color of the threshold labels.
* @prop --gau_value-color, --kup-gauge_value-color: Sets the color of the value label.
* @prop --gau_width, --kup-gauge_width: Set the width auge
*/

:host {
  --gau_needle-color: var(--kup-gauge_needle-color, #676767);
  --gau_top-lateral-padding: var(--kup-gauge_top-lateral-padding, 30px);
  --gau_threshold-color: var(--kup-gauge_threshold-color, #676767);
  --gau_value-color: var(--kup-gauge_value-color, #676767);
  --gau_back-color: var(--kup-gauge_back-color, #E2E2E2);
   
  display: inline-block;

  .gauge {
    /*
     * [1] - This overflow visible here is necessary to allow the numbers of the thresholds to be visible even when placed outside
     *   the main borders of the svg.
     */
    height: auto;
    overflow: visible; // [1]

    // Div wrapping the SVG element
    &__container {
      padding: var(--gau_top-lateral-padding) var(--gau_top-lateral-padding) 0;
    }

    // Class for the labels of the threshold
    &__label-text {
      fill: var(--gau_threshold-color);
      text-align: center;
    }

    // Class for the value label
    &__value-text {
      fill: var(--gau_value-color);
      color: var(--gau_value-color);
      text-align: center;
    }

    // Needle colors
    &__needle-base,
    &__needle {
      fill: var(--gau_needle-color);
    }
  }
}

