/**
* @prop --gau_needle-color, --kup-gauge_needle-color: Set icon color of the needle
*/

:host {
  --gau_needle-color: var(--kup-gauge_needle-color, #000000);

  display: inline-block;

  svg {
    height: auto;
    width: 100%;
  }

  .gauge {
    &__label-text,
    &__value-text  {
      font-size: 16px;
      text-align: center;
    }

    &__needle-base,
    &__needle {
      fill: var(--gau_needle-color);
    }

    &__bottom-container {
      display: flex;
      justify-content: space-between;
    }
  }
}

