/**
* @prop --kup-gauge-color: Sets text color of the component.
* @prop --kup-gauge-font-family: Sets font family of the component.
* @prop --kup-gauge-font-size: Sets font size of the component.
* @prop --kup-gauge-needle-color: Sets color of the needle.
*/

:host {
  --kup_gauge_color: var(--kup-gauge-color, var(--kup-text-color));
  --kup_gauge_font_family: var(--kup-gauge-font-family, var(--kup-font-family));
  --kup_gauge_font_size: var(--kup-gauge-font-size, var(--kup-font-size));
  --kup_gauge_needle_color: var(
    --kup-gauge-needle-color,
    var(--kup-text-color)
  );

  display: inline-block;
  font-family: var(--kup_gauge_font_family);
  font-size: var(--kup_gauge_font_size);
  height: 100%;
  width: 100%;
}

.gauge {
  /*
   * [1] - This overflow visible here is necessary to allow the numbers of the thresholds to be visible even when placed outside
   *   the main borders of the svg.
   */
  box-sizing: border-box;
  height: 100%;
  overflow: visible; // [1]
  padding: 10px;

  // Div wrapping the SVG element
  &__container {
    height: 100%;
    width: 100%;
  }

  // Class for the labels of the threshold
  &__label-text {
    fill: var(--kup_gauge_color);
    text-align: center;
  }

  // Class for the value label
  &__value-text {
    fill: var(--kup_gauge_color);
    color: var(--kup_gauge_color);
    text-align: center;
  }

  // Needle colors
  &__needle-base,
  &__needle {
    fill: var(--kup_gauge_needle_color);
  }
}
