:host {
  display: inline-block;
  font-family: var(--kup-font-family);
  font-size: var(--kup-font-size);
  height: 100%;
  width: 100%;

  .gauge {
    /*
     * [1] - This overflow visible here is necessary to allow the numbers of the thresholds to be visible even when placed outside
     *   the main borders of the svg.
     */
    box-sizing: border-box;
    height: 100%;
    overflow: visible; // [1]
    padding: 10px;

    // Div wrapping the SVG element
    &__container {
      height: 100%;
      width: 100%;
    }

    // Class for the labels of the threshold
    &__label-text {
      fill: var(--kup-text-color);
      text-align: center;
    }

    // Class for the value label
    &__value-text {
      fill: var(--kup-text-color);
      color: var(--kup-text-color);
      text-align: center;
    }

    // Needle colors
    &__needle-base,
    &__needle {
      fill: var(--kup-text-color);
    }
  }
}
