/*-------------------------------------------------*/
/*        C o m p o n e n t   C l a s s e s        */
/*-------------------------------------------------*/

:host(.#{$kup-class-right}) {
  left: unset;
  right: -100%;
}

:host([kup-opened].#{$kup-class-right}) {
  right: 0;
}

:host(.#{$kup-class-permanent}) {
  box-shadow: unset;
  transition: all 250ms;

  .backdrop {
    display: none;
  }

  .drawer {
    position: relative;
    &__content {
      border-right: var(--kup_drawer_permanent_border);
    }
  }
}
