:host {
  display: block;
  width: max-content;
}

.#{$kup-icon} {
  transition: transform 0.15s;
}

.toggled .#{$kup-icon}.#{$kup-icon-dropdown} {
  transform: rotate(-180deg);
}

.#{$kup-icon}.#{$kup-icon-dropdown} {
  -webkit-mask: var(--kup-dropdown-icon);
  mask: var(--kup-dropdown-icon);
}

.f-text-field {
  position: relative;
}
