:host {
  display: block;
  font-size: var(--kup-font-size);
  width: max-content;
}

.icon-container {
  transition: transform 0.15s;
}

.toggled .icon-container.expanded {
  transform: rotate(-180deg);
}
