:host {
  display: block;
  height: var(--kup_image_height, 100%);
  margin: auto;
  min-height: var(--kup_image_height, 100%);
  min-width: var(--kup_image_width, 100%);
  position: relative;
  transition: color 0.2s ease;
  width: var(--kup_image_width, 100%);
}

#kup-component {
  height: 100%;
  margin: auto;
  position: relative;
  transition: color 0.2s ease;
  width: 100%;
}
.image {
  display: block;
  height: var(--kup_image_height, 100%);
  margin: auto;
  position: relative;
  width: var(--kup_image_width, 100%);

  &__icon {
    height: var(--kup_image_height, 100%);
    margin: auto;
    width: var(--kup_image_width, 100%);
  }
}

img {
  display: block;
  height: var(--kup_image_height, 100%);
  margin: auto;
  width: var(--kup_image_width, 100%);
}

.spinner {
  height: 32px;
  left: calc(50% - 16px);
  position: absolute;
  top: calc(50% - 16px);
  width: 32px;
}
