.kup-typography--wrap {
  display: flex;
  align-items: center;
  gap: var(--kup-space-03);
  &:hover {
    .image__iconToolbar {
      opacity: 0.3;
      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
  }
  .image__iconToolbar {
    opacity: 0;
    margin: 0;
  }
}
