/**
* @prop --kup-cell-background: Sets the background of the cell.
* @prop --kup-cell-font-family: Sets the font family of the cell.
* @prop --kup-cell-font-family-monospace: Sets the monospace font family of the cell (for numbers).
* @prop --kup-cell-font-size: Sets the font size of the cell.
* @prop --kup-cell-text-color: Sets the text color of the cell.
*
* NOTE: These variables are defined in the "kup-theme.css" file, because they must work even without the kup component (it's a functional component)
*
*/

:host {
  display: block;
  height: 100%;
  width: 100%;
}

#kup-component {
  height: 100%;
  width: 100%;
}
