@import '../../f-components/f-text-field/f-text-field.scss';

:host {
  display: block;
  font-size: var(--kup-font-size);
}

:host([full-width]) {
  width: 100%;
  #kup-component {
    width: 100%;
  }
}

:host(.full-height) {
  height: 100%;
  #kup-component {
    height: 100%;
    .mdc-text-field {
      height: 100%;
      overflow-y: hidden;
      &:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) {
        height: 100%;
      }
      .mdc-text-field__input {
        height: 100%;
      }
    }
  }
}
