/**
* @prop --dash_background-color, --kup-text-input_font-size: Set height of the font and the svg icon
*/

:host {
  --dash_bkg-color: var(--kup-dash_background-color, transparent);
  --dash_color: var(--kup-dash_color, #fff);
  --dash_border-color: var(--kup-dash_border-color, transparent);
}

#dash {
  background-color: var(--dash_bkg-color);
  border: 1px solid var(--dash_border-color);
  min-height: 170px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  position: relative;

  #content {
    margin: 3vw;

    .icon {
      margin: auto;
      font-size: 6vw;
    }

    &.layout-1,
    &.layout-3 {
      text-align: center;

      .descr {
        font-size: 2vw;
      }

      .value {
        font-size: 4.5vw;
        padding: 0.75vw 0;
      }
    }

    &.layout-2 {
      > div {
        display: flex;
        font-size: 7.5vw;

        .value-dec,
        .unit {
          font-size: 5vw;
          margin-top: auto;
          margin-bottom: 0.6vw;
        }

        .unit {
          margin-left: 1.5vw;
        }
      }
    }

    &.layout-4 {
      > div {
        display: grid;
        grid-template-columns: 0fr 5fr;
        font-size: 7.5vw;

        .value-and-unit {
          display: flex;

          .unit {
            font-size: 5vw;
            margin-top: auto;
            margin-left: 1.4vw;
            margin-bottom: 0.8vw;
          }
        }
        .descr {
          margin-left: 0.8vw;
          text-align: left;
          font-size: 2vw;
        }
      }
    }

    &.layout-5,
    &.layout-7 {
      > div {
        display: flex;

        .value {
          font-size: 6vw;
          margin-right: 1vw;
        }

        .descr {
          margin-left: 0.5vw;
          text-align: left;
          font-size: 2vw;
        }
      }
    }

    &.layout-5 {
      .icon {
        margin: 0;
        margin-top: auto;
      }
    }

    &.layout-7 {
      .icon {
        margin: 0;
        margin-bottom: auto;
      }
    }

    &.layout-6 {
      > div {
        display: flex;
        justify-content: space-between;

        .icon {
          font-size: 7.5vw;
          margin-right: 2.5vw;
        }

        .value {
          font-size: 7vw;
          text-align: right;
        }

        .descr {
          margin-right: 0.5vw;
          font-size: 2vw;
        }
      }
    }

    &.layout-8 {
      > div {
        display: flex;
        align-items: center;
        font-size: 7.5vw;

        .icon,
        .descr {
          font-size: 2vw;
        }

        .icon {
          margin-right: 2vw;
        }

        .value {
          margin-right: 2vw;
        }

        .descr {
          text-align: left;
          word-spacing: 10000px;
        }
      }
    }
  }
}
