.collapsible-layout-2 {
  color: var(--kup-text-color);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  border-radius: 4px;
  display: flex;
  height: 100%;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  position: relative;

  .section-1 {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;

    .sub-1 {
      text-align: left;
      padding: 0.6em 0.8em 0;
      font-size: 1em;
      font-weight: bold;
      max-width: 75%;
    }
    .sub-2 {
      text-align: left;
      padding: 0.6em 0.8em;
      max-width: 75%;
      div {
        font-size: 0.875em;
      }
    }
    .sub-3 {
      color: var(--color-0);
      text-align: center;
      position: absolute;
      top: 1em;
      right: 1em;
      max-width: 25%;
      text-overflow: ellipsis;
      overflow: hidden;
      max-height: calc(24px + 2.25em);
      padding: 0 1em;
      kup-image {
        margin: auto;
      }
      div {
        font-size: 1.25em;
      }
    }
  }
}
