.f-progress-bar {
  --kup_progressbar_border_radius: var(
    --kup-progressbar-border-radius,
    var(--kup-radius-00)
  );
  --kup_progressbar_font_family: var(
    --kup-progressbar-font-family,
    var(--kup-font-family)
  );
  --kup_progressbar_font_size: var(
    --kup-progressbar-font-size,
    var(--kup-font-size)
  );
  --kup_progressbar_height: var(--kup-progressbar-height, 1.25em);
  --kup_progressbar_activebar_color: var(
    --kup-progressbar-activebar-color,
    var(--kup-primary-color-60)
  );
  --kup_progressbar_text_color: var(
    --kup-progressbar-text-color,
    var(--kup-gray-color-70)
  );
  --kup_progressbar_text_color_rgb: var(
    --kup-progressbar-text-color-rgb,
    var(--kup-text-color-70-rgb)
  );
  --kup_progressbar_activebar_text_color: var(
    --kup-progressbar-text-on-primary-color,
    var(--kup-layer-1)
  );
  --kup_progressbar_track_background_color: var(
    --kup-progressbar-track-background-color,
    var(--kup-gray-color-20)
  );
  --kup_progressbar_width: var(--kup-progressbar-width, 100%);

  font-family: var(--kup_progressbar_font_family);
  font-size: var(--kup_progressbar_font_size);
  width: var(--kup_progressbar_width);

  &.progress-bar {
    background: var(--kup_progressbar_track_background_color);
    border-radius: var(--kup_progressbar_border_radius);
    overflow: hidden;
    position: relative;
    width: var(--kup_progressbar_width);

    &.text-color-on-primary {
      & .progress-bar-percentage {
        color: var(--kup_progressbar_activebar_text_color);
        & span {
          color: var(--kup_progressbar_activebar_text_color);
          @include kup-label-01;
        }
      }
    }
  }

  .progress-bar-percentage {
    background: var(--kup_progressbar_activebar_color);
    border-radius: var(--kup_progressbar_border_radius);
    box-sizing: content-box;
    color: var(--kup_progressbar_text_color);
    height: var(--kup_progressbar_height);
    text-align: center;
    transition: width 0.2s ease;

    & span {
      color: var(--kup_progressbar_text_color);
      display: inline-block;
      font-size: 1em;
      left: 0;
      line-height: var(--kup_progressbar_height);
      position: absolute;
      width: var(--kup_progressbar_width);
      @include kup-label-01;
    }

    & .#{$kup-icon} {
      display: block;
      height: var(--kup_progressbar_height);
      &:not(.is-image) {
        background-color: var(--kup_progressbar_activebar_text_color);
      }
      img {
        width: auto;
        height: 100%;
      }
    }
  }

  &.is-radial {
    box-sizing: border-box;
    display: flex;
    font-size: 10em;
    margin: auto;

    &.pie-wrapper {
      height: 1em;
      width: 1em;
      float: left;
      margin: auto;
      position: relative;

      &:nth-child(3n + 1) {
        clear: both;
      }

      & .pie {
        height: 1em;
        width: 1em;
        clip: rect(0, 1em, 1em, 0.5em);
        left: 0;
        position: absolute;
        top: 0;

        &.has-value {
          & .half-circle {
            border-color: var(--kup_progressbar_activebar_color);
            &.left-side {
              transition: transform 0.2s ease;
            }
          }

          &.is-less-than-half {
            & .right-side {
              display: none;
            }
          }

          &.is-more-than-half {
            clip: rect(auto, auto, auto, auto);

            & .right-side {
              transform: rotate(180deg);
            }
          }
        }

        & .half-circle {
          height: 1em;
          width: 1em;
          border: 0.1em solid var(--kup_progressbar_track_background_color);
          border-radius: 50%;
          clip: rect(0, 0.5em, 1em, 0);
          left: 0;
          position: absolute;
          top: 0;
        }
      }

      & .label {
        background: none;
        bottom: 0.4em;
        color: var(--kup_progressbar_text_color);
        cursor: default;
        display: block;
        font-size: 0.25em;
        left: 0.6em;
        line-height: 3em;
        position: absolute;
        right: 0.4em;
        text-align: center;
        top: 0.4em;

        &.#{$kup-icon} {
          display: block;
          height: 1.25em;
          width: 1.25em;
          object-fit: cover;
          margin: auto;
          &:not(.is-image) {
            background-color: var(--kup_progressbar_activebar_color);
          }
          img {
            width: auto;
            height: 100%;
          }
        }

        & .smaller {
          color: var(--kup_progressbar_text_color);
          opacity: 0.8;
          font-size: 0.45em;
          padding-bottom: 20px;
          vertical-align: super;
        }
      }

      & .shadow {
        height: 1em;
        width: 1em;
        border: 0.1em solid var(--kup_progressbar_track_background_color);
        border-radius: 50%;
      }
    }

    *,
    *:before,
    *:after {
      box-sizing: border-box;
    }
  }

  &.#{$kup-class-animated} {
    .progress-bar-percentage {
      animation: running-stripes 2s linear infinite;
    }
  }

  &.#{$kup-class-padded} {
    &.progress-bar {
      padding: 0.5em;
      width: calc(100% - 1em);
    }
  }

  &.#{$kup-class-slim} {
    &.progress-bar {
      border-radius: 9px;

      & .progress-bar-percentage {
        border-radius: 9px;
        padding: 0;
      }
    }
    &.pie-wrapper {
      & .pie {
        & .half-circle {
          border-width: 0.05em;
        }
      }
      & .shadow {
        border-width: 0.05em;
      }
    }
  }

  &.#{$kup-class-striped} {
    .progress-bar-percentage {
      background-image: linear-gradient(
        -45deg,
        rgba(var(--kup_progressbar_text_color_rgb), 0.125) 25%,
        transparent 25%,
        transparent 50%,
        rgba(var(--kup_progressbar_text_color_rgb), 0.125) 50%,
        rgba(var(--kup_progressbar_text_color_rgb), 0.125) 75%,
        transparent 75%,
        transparent
      );
      background-size: 3em 3em;
    }
  }

  &.#{$kup-class-danger} {
    --kup-progressbar-primary-color: var(--kup-danger-color);
    --kup-progressbar-text-on-primary-color: white;
  }

  &.#{$kup-class-info} {
    --kup-progressbar-primary-color: var(--kup-info-color);
    --kup-progressbar-text-on-primary-color: white;
  }

  &.#{$kup-class-secondary} {
    --kup-progressbar-primary-color: var(--kup-secondary-color);
    --kup-progressbar-text-on-primary-color: var(--kup-text-on-secondary-color);
  }

  &.#{$kup-class-success} {
    --kup-progressbar-primary-color: var(--kup-success-color);
    --kup-progressbar-text-on-primary-color: white;
  }

  &.#{$kup-class-warning} {
    --kup-progressbar-primary-color: var(--kup-warning-color);
    --kup-progressbar-text-on-primary-color: white;
  }

  @keyframes running-stripes {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 3em 3em;
    }
  }
}
