/**
* @prop --kup-badge_border-radius: Sets border radius of the badge.
* @prop --kup-badge_font-family: Sets font family of the badge.
* @prop --kup-badge_font-size: Sets font size of the badge.
* @prop --kup-badge_min-size: Sets minimum size of the badge.
* @prop --kup-badge_padding: Sets padding of the badge.
* @prop --kup-badge_primary-color: Sets primary color of the badge.
* @prop --kup-badge_text-on-primary-color: Sets text on primary color of the badge.
*/

:host {
  --kup-badge_border-radius: 30px;
  --kup-badge_font-family: var(--kup-font-family);
  --kup-badge_font-size: var(--kup-font-size);
  --kup-badge_min-size: 1.5em;
  --kup-badge_padding: 0.25em;
  --kup-badge_primary-color: var(--kup-primary-color);
  --kup-badge_text-on-primary-color: var(--kup-text-on-primary-color);

  display: block;
  font-family: var(--kup-badge_font-family);
  font-size: var(--kup-badge_font-size);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

#kup-component {
  background-color: var(--kup-badge_primary-color);
  border-radius: var(--kup-badge_border-radius);
  color: var(--kup-badge_text-on-primary-color);
  font-size: 0.875em;
  min-height: var(--kup-badge_min-size);
  min-width: var(--kup-badge_min-size);
  padding: var(--kup-badge_padding);
  text-align: center;
}

.f-image--wrapper {
  display: block;
  position: relative;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  height: inherit;
  width: inherit;
}
