/*-------------------------------------------------*/
/*        C o m p o n e n t   C l a s s e s        */
/*-------------------------------------------------*/

:host(.#{$kup-class-top-right}) {
  top: 0;
  right: 0;
  bottom: unset;
  left: unset;
  transform: translate(50%, -50%);
}

:host(.#{$kup-class-bottom-right}) {
  top: unset;
  right: 0;
  bottom: 0;
  left: unset;
  transform: translate(50%, 50%);
}

:host(.#{$kup-class-bottom-left}) {
  top: unset;
  right: unset;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}

:host(.#{$kup-class-danger}) {
  --kup-badge-primary-color: var(--kup-danger-color);
  --kup-badge-text-on-primary-color: white;
}

:host(.#{$kup-class-info}) {
  --kup-badge-primary-color: var(--kup-info-color);
  --kup-badge-text-on-primary-color: white;
}

:host(.#{$kup-class-secondary}) {
  --kup-badge-primary-color: var(--kup-secondary-color);
  --kup-badge-text-on-primary-color: var(--kup-text-on-secondary-color);
}

:host(.#{$kup-class-success}) {
  --kup-badge-primary-color: var(--kup-success-color);
  --kup-badge-text-on-primary-color: white;
}

:host(.#{$kup-class-warning}) {
  --kup-badge-primary-color: var(--kup-warning-color);
  --kup-badge-text-on-primary-color: white;
}
