/*-------------------------------------------------*/
/*        C o m p o n e n t   C l a s s e s        */
/*-------------------------------------------------*/

:host(.#{$kup-class-top-right}) {
  top: 0;
  right: 0;
  bottom: unset;
  left: unset;
  transform: translate(-15%, 15%);
}

:host(.#{$kup-class-bottom-right}) {
  top: unset;
  right: 0;
  bottom: 0;
  left: unset;
  transform: translate(-15%, -15%);
}

:host(.#{$kup-class-bottom-left}) {
  top: unset;
  right: unset;
  bottom: 0;
  left: 0;
  transform: translate(15%, -15%);
}

:host(.#{$kup-class-red}) {
  --kup-badge-primary-color: var(--kup-accent-red-color);
  --kup-badge-text-on-primary-color: white;
}

:host(.#{$kup-class-orange}) {
  --kup-badge-primary-color: var(--kup-accent-orange-color);
  --kup-badge-text-on-primary-color: white;
}

:host(.#{$kup-class-yellow}) {
  --kup-badge-primary-color: var(--kup-accent-yellow-color);
  --kup-badge-text-on-primary-color: white;
}

:host(.#{$kup-class-green}) {
  --kup-badge-primary-color: var(--kup-accent-green-color);
  --kup-badge-text-on-primary-color: white;
}

:host(.#{$kup-class-white}) {
  --kup-badge-primary-color: var(--kup-accent-white-color);
  --kup-badge-text-on-primary-color: var(--kup-primary-color-80);
  --kup_badge_border: 1px solid var(--kup-border-color);
}
