.f-paginator {
  background-color: var(--kup-gray-color-10);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  kup-combobox {
    display: inline-block;
    z-index: 0;

    &.page-selector {
      padding: var(--kup-space-03) var(--kup-space-05);
      border-right: 1px solid var(--kup-gray-color-30);
      flex: 1;
    }

    &.rows-selector {
      padding: var(--kup-space-03) var(--kup-space-05);
      border-right: 1px solid var(--kup-gray-color-30);
      flex: 2;
    }
  }
}
