.f-paginator {
  background-color: var(--kup-gray-color-10);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  .load-more-button {
    padding: 0 var(--kup-space-05);
    border-right: 1px solid var(--kup-gray-color-30);
  }

  kup-combobox {
    display: inline-block;
    z-index: 0;

    &.page-selector {
      padding: 0 var(--kup-space-05);
      border-right: 1px solid var(--kup-gray-color-30);
      flex: 1;
    }

    &.rows-selector {
      padding: 0 var(--kup-space-05);
      border-right: 1px solid var(--kup-gray-color-30);
      flex: 2;
    }
  }
}
