.f-paginator {
  background-color: var(--kup-gray-color-10);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  .load-more-button {
    padding: 0;
    border-right: 1px solid var(--kup-gray-color-30);
    flex: 2;
    button {
      width: 100%;
    }
  }

  .arrow-wrapper {
    display: flex;
  }

  kup-combobox {
    display: inline-block;
    z-index: 0;

    &.page-selector {
      padding: 0 var(--kup-space-05);
      border-right: 1px solid var(--kup-gray-color-30);
      flex: 2;
    }

    &.rows-selector {
      padding: 0 var(--kup-space-05);
      border-right: 1px solid var(--kup-gray-color-30);
      flex: 2;
    }
  }
}

@media (max-width: 700px) {
  .f-paginator {
    & kup-combobox.rows-selector,
    & kup-combobox.page-selector {
      padding: 0 var(--kup-space-03);
    }

    .load-more-button {
      order: 4;
      width: 100%;
      display: flex;
      justify-content: center;
      border-right: none;
    }
  }
}

@media (max-width: 500px) {
  .f-paginator kup-combobox.rows-selector {
    order: 3;
    border-right: none;
  }
  .load-more-button {
    border-left: 1px solid var(--kup-gray-color-30);
  }
}
