@import '~@fullcalendar/common/main.min.css';
@import '~@fullcalendar/daygrid/main.min.css';
@import '~@fullcalendar/list/main.min.css';
@import '~@fullcalendar/timegrid/main.min.css';

/**
* @prop --kup-calendar-background-color: Background of the component.
* @prop --kup-calendar-border-color: Sets borders color of the calendar.
* @prop --kup-calendar-event-background-color: Sets background color of events.
* @prop --kup-calendar-event-border-color: Sets border color of events.
* @prop --kup-calendar-event-border-radius: Sets border radius of events.
* @prop --kup-calendar-event-color: Sets text color of events.
* @prop --kup-calendar-font-family: Sets the font family of the component.
* @prop --kup-calendar-font-size: Sets the font size of the component.
* @prop --kup-calendar-header-background-color: Sets background color of the header cell.
* @prop --kup-calendar-header-color: Sets text color of the header cell.
* @prop --kup-calendar-navigator-border: Sets the border of the navigator.
* @prop --kup-calendar-no-work-day-background-color: Sets background color of sunday and saturday cells.
* @prop --kup-calendar-no-work-day-color: Sets text color of sunday and saturday cells.
* @prop --kup-calendar-today-background-color: Sets background color of today's cell.
*/

:host {
  --kup_calendar_background_color: var(
    --kup-calendar-background-color,
    var(--kup-background-color)
  );
  --kup_calendar_border_color: var(
    --kup-calendar-border-color,
    var(--kup-border-color)
  );
  --kup_calendar_event_background_color: var(
    --kup-calendar-event-background-color,
    var(--kup-primary-color)
  );
  --kup_calendar_event_border_radius: var(
    --kup-calendar-event-border-radius,
    4px
  );
  --kup_calendar_event_color: var(
    --kup-calendar-event-color,
    var(--kup-text-on-primary-color)
  );
  --kup_calendar_font_family: var(
    --kup-calendar-font-family,
    var(--kup-font-family)
  );
  --kup_calendar_font_size: var(--kup-calendar-font-size, var(--kup-font-size));
  --kup_calendar_header_background_color: var(
    --kup-calendar-header-background-color,
    var(--kup-title-background-color)
  );
  --kup_calendar_header_color: var(
    --kup-calendar-header-color,
    var(--kup-title-color)
  );
  --kup_calendar_navigator_border: var(
    --kup-calendar-navigator-border,
    2px solid var(--kup-border-color)
  );
  --kup_calendar_no_work_day_background_color: var(
    --kup-calendar-no-work-day-background-color,
    rgba(var(--kup-disabled-background-color-rgb), 0.5)
  );
  --kup_calendar_no_work_day_color: var(
    --kup-calendar-no-work-day-color,
    var(--kup-disabled-color)
  );
  --kup_calendar_today_background_color: var(
    --kup-calendar-today-background-color,
    rgba(var(--kup-primary-color-rgb), 0.125)
  );

  background-color: var(--kup_calendar_background_color);
  display: block;
  font-family: var(--kup_calendar_font_family);
  font-size: var(--kup_calendar_font_size);
  height: 100%;
  width: 100%;
}

.navigation {
  align-items: center;
  border-left: var(--kup_calendar_navigator_border);
  border-right: var(--kup_calendar_navigator_border);
  border-top: var(--kup_calendar_navigator_border);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  justify-content: space-between;

  &__left {
    --kup-font-size: 0.875em;
    display: flex;
  }

  &__right {
    display: flex;
  }

  &__title {
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 0.1892857em;
    margin: 0px;
    padding: 0px 0.5em;

    &--centered {
      padding: 0.35em 0;
      text-align: center;
      width: 100%;
    }
  }
}

.icon-wrapper {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.image-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  img {
    width: 20px;
    height: 20px;
  }
}

.custom-icon {
  background-color: var(--kup_calendar_event_color);
  height: 1.5em;
  width: 1.5em;
}

#kup-component {
  .fc-toolbar.fc-header-toolbar {
    margin-top: 1.5rem;
  }

  .fc-ltr .fc-dayGrid-view .fc-day-top {
    text-align: center;
    padding: 0.5rem;

    .fc-day-number {
      float: none;
    }
  }

  .fc-content {
    padding: 0.25rem;
  }

  .fc-content,
  .fc-divider,
  .fc-list-heading td,
  .fc-list-view,
  .fc-popover,
  .fc-row,
  .fc-scrollgrid,
  tbody,
  td {
    border-color: var(--kup_calendar_border_color);
  }

  .fc-col-header-cell {
    background: var(--kup_calendar_header_background_color);
    color: var(--kup_calendar_header_color);
  }

  .fc-h-event {
    background: none;
    border: none;
  }

  .fc-list-event-dot {
    border-color: var(--kup_calendar_event_background_color);
  }

  .fc-list-day-cushion {
    background: var(--kup_calendar_header_background_color);
    color: var(--kup_calendar_header_color);
  }

  .fc-list-event:hover td {
    background: var(--kup-hover-background-color);
    color: var(--kup-hover-color);
  }

  .fc-daygrid-event,
  .fc-timegrid-event {
    background: var(--kup_calendar_event_background_color);
    border-radius: var(--kup_calendar_event_border_radius);
    border: none;
    border-color: var(--kup_calendar_event_background_color);
    color: var(--kup_calendar_event_color);
  }

  .fc-event-main {
    color: inherit;
  }

  .fc-event-title {
    padding: 0.25em;
  }

  td.fc-day-today {
    background-color: var(--kup_calendar_today_background_color);
  }

  td.fc-day-sun,
  td.fc-day-sat {
    background-color: var(--kup_calendar_no_work_day_background_color);
    color: var(--kup_calendar_no_work_day_color);
  }
}

@media (max-width: 599px) {
  .navigation {
    flex-direction: column;
  }
}
