@import '~@fullcalendar/common/main.min.css';
@import '~@fullcalendar/daygrid/main.min.css';
@import '~@fullcalendar/timegrid/main.min.css';

/**
* @prop --kup-calendar_background-color: Background of the component.
* @prop --kup-calendar_border-color: Sets borders color of the calendar.
* @prop --kup-calendar_event-background-color: Sets background color of events.
* @prop --kup-calendar_event-border-color: Sets border color of events.
* @prop --kup-calendar_event-color: Sets text color of events.
* @prop --kup-calendar_font-family: Sets the font family of the component.
* @prop --kup-calendar_font-size: Sets the font size of the component.
* @prop --kup-calendar_header-background-color: Sets background color of the header cell.
* @prop --kup-calendar_header-color: Sets text color of the header cell.
* @prop --kup-calendar_no-work-day-background-color: Sets background color of sunday and saturday cells.
* @prop --kup-calendar_no-work-day-color: Sets text color of sunday and saturday cells.
* @prop --kup-calendar_today-background-color: Sets background color of today's cell.
*/

:host {
  --kup-calendar_background-color: var(--kup-background-color);
  --kup-calendar_border-color: var(--kup-border-color);
  --kup-calendar_event-background-color: var(--kup-primary-color);
  --kup-calendar_event-border-color: var(--kup-primary-color);
  --kup-calendar_event-color: var(--kup-text-on-primary-color);
  --kup-calendar_font-family: var(--kup-font-family);
  --kup-calendar_font-size: var(--kup-font-size);
  --kup-calendar_header-background-color: var(--kup-title-background-color);
  --kup-calendar_header-color: var(--kup-title-color);
  --kup-calendar_no-work-day-background-color: rgba(
    var(--kup-disabled-background-color-rgb),
    0.5
  );
  --kup-calendar_no-work-day-color: var(--kup-disabled-color);
  --kup-calendar_today-background-color: rgba(
    var(--kup-primary-color-rgb),
    0.125
  );

  background-color: var(--kup-calendar_background-color);
  display: block;
  font-family: var(--kup-calendar_font-family);
  font-size: var(--kup-calendar_font-size);
  height: 100%;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;

  .f-button--wrapper {
    margin: 0 0.5rem;
  }
}

.icon-wrapper {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.image-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  img {
    width: 20px;
    height: 20px;
  }
}

#kup-component {
  .fc-toolbar.fc-header-toolbar {
    margin-top: 1.5rem;
  }

  .fc-ltr .fc-dayGrid-view .fc-day-top {
    text-align: center;
    padding: 0.5rem;

    .fc-day-number {
      float: none;
    }
  }

  .fc-content {
    padding: 0.25rem;
  }

  .fc-content,
  .fc-divider,
  .fc-list-heading td,
  .fc-list-view,
  .fc-popover,
  .fc-row,
  .fc-scrollgrid,
  tbody,
  td {
    border-color: var(--kup-calendar_border-color);
  }

  .fc-col-header-cell {
    background: var(--kup-calendar_header-background-color);
    color: var(--kup-calendar_header-color);
  }

  .fc-h-event {
    background: var(--kup-calendar_event-border-color);
    border-color: var(--kup-calendar_event-border-color);
  }

  .fc-event-main {
    background: var(--kup-calendar_event-background-color);
    color: var(--kup-calendar_event-color);
    border: none;
    border-color: var(--kup-calendar_event-background-color);
  }

  td.fc-day-today {
    background-color: var(--kup-calendar_today-background-color);
  }

  td.fc-day-sun,
  td.fc-day-sat {
    background-color: var(--kup-calendar_no-work-day-background-color);
    color: var(--kup-calendar_no-work-day-color);
  }
}
