@import '@material/checkbox/mdc-checkbox';
@import '@material/form-field/mdc-form-field';

:host {
  display: block;
}

.mdc-form-field {
  .mdc-checkbox {
    &.custom {
      @include mdc-checkbox-container-colors(
        $mdc-checkbox-fill-unmarked,
        $mdc-checkbox-border-unmarked,
        $mdc-checkbox-fill-marked,
        $mdc-checkbox-border-marked
      );
      @include mdc-checkbox-disabled-container-colors(
        $mdc-checkbox-fill-disabled-unmarked,
        $mdc-checkbox-border-disabled-unmarked,
        $mdc-checkbox-fill-disabled-marked,
        $mdc-checkbox-border-disabled-marked
      );
      @include mdc-checkbox-ink-color($mdc-checkbox-ink);
      @include mdc-checkbox-disabled-ink-color($mdc-checkbox-ink-disabled);
      @include mdc-checkbox-focus-indicator-color($mdc-ripple-color);
    }
  }
}
