/*-------------------------------------------------*/
/*                   D i a l o g                   */
/*-------------------------------------------------*/
[kup-dialog] {
  border-top: 4px solid var(--kup-border-strong);
  animation: fade-in-down cubic-bezier(0.455, 0.03, 0.515, 0.955) s ease-in-out;
  background-color: var(--kup-layer-0);
  margin: 0;
  position: absolute;
  -ms-touch-action: none;
  touch-action: none;
  transition: none;
  will-change: transform;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  border-radius: var(--kup_dialog_border_radius);
}

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  1% {
    opacity: 0;
    transform: translateY(-9%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
