/*-------------------------------------------------*/
/*                    D e b u g                    */
/*-------------------------------------------------*/
#kup-debug-widget {
  left: 0;
  position: fixed;
  top: 0;
  z-index: calc(var(--kup-navbar-zindex) + 1) !important;
}
/*-------------------------------------------------*/
/*                   D i a l o g                   */
/*-------------------------------------------------*/
[kup-dialog] {
  animation: fade-in 0.25s ease-out;
  background-color: var(--kup-background-color);
  margin: 0;
  position: absolute;
  -ms-touch-action: none;
  touch-action: none;
  transition: none;
  will-change: transform;

  &.kup-resizable {
    border: 3px outset var(--kup-title-background-color);
  }
}

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
/*-------------------------------------------------*/
/*          S c r o l l   o n   h o v e r          */
/*-------------------------------------------------*/
#kup-scrolling-arrows {
  position: fixed;
  top: 50%;
  left: 50%;
  pointer-events: none;
  z-index: 9999;

  .kup-left-scrolling-arrow,
  .kup-right-scrolling-arrow {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
  }

  .kup-left-scrolling-arrow {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid var(--kup-primary-color);
    transform: translate(30px, -10px) translateZ(0);

    &.kup-activated {
      visibility: visible;

      &.kup-animated {
        &.kup-arrow-1 {
          animation: kup-pulseleft 1.2s infinite;
          animation-delay: 0.4s;
        }
        &.kup-arrow-2 {
          animation: kup-pulseleft 1.2s infinite;
          animation-delay: 0.2s;
        }
        &.kup-arrow-3 {
          animation: kup-pulseleft 1.2s infinite;
        }
      }
    }
  }

  .kup-right-scrolling-arrow {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid var(--kup-primary-color);
    transform: translate(-30px, -10px) translateZ(0);

    &.kup-activated {
      visibility: visible;

      &.kup-animated {
        &.kup-arrow-1 {
          animation: kup-pulseright 1.2s infinite;
          animation-delay: 0.4s;
        }
        &.kup-arrow-2 {
          animation: kup-pulseright 1.2s infinite;
          animation-delay: 0.2s;
        }
        &.kup-arrow-3 {
          animation: kup-pulseright 1.2s infinite;
        }
      }
    }
  }
}

@keyframes kup-pulseleft {
  0% {
    opacity: 0.2;
    transform: translate(30px, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(10px, -10px);
  }
}

@keyframes kup-pulseright {
  0% {
    opacity: 0.2;
    transform: translate(-30px, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(-10px, -10px);
  }
}
