/**
* @prop --kul-code-background-color: Sets the background color of the component.
* @prop --kul-code-font-family: Sets the font family of the component.
* @prop --kul-code-header-background-color: Sets the background color of the header.
* @prop --kul-code-header-color: Sets the color of the header.
* @prop --kul_code_selection_background_color: Sets the background color of selected text.
* @prop --kul-code-text-color: Sets the color of the text.
* @prop --kul-code-token-color-1: Sets the background color of: boolean, constant, deleted, number, property, symbol, tag.
* @prop --kul-code-token-color-2: Sets the background color of: attr-name, builtin, char, inserted, selector, string.
* @prop --kul-code-token-color-3: Sets the background color of: atrule, attr-value, keyword.
* @prop --kul-code-token-color-4: Sets the background color of: class-name, function.
* @prop --kul-code-token-color-5: Sets the background color of: important, regex, variable.
*/

:host {
  --kul_code_background_color: var(
    --kul-code-background-color,
    rgba(var(--kul-background-color-rgb) 0.275)
  );
  --kul_code_font_family: var(
    --kul-code-font-family,
    var(--kul-font-family-monospace)
  );
  --kul_code_header_background_color: var(
    --kul-code-header-background-color,
    var(--kul-title-background-color)
  );
  --kul_code_header_color: var(--kul-code-header-color, var(--kul-title-color));
  --kul_code_selection_background_color: var(
    --kul-code-selection-background-color,
    rgba(var(--kul-border-color-rgb, 0.275))
  );
  --kul_code_text_color: var(--kul-code-text-color, var(--kul-text-color));
  --kul_code_token_color_1: var(--kul-code-token-color-1, rgb(231, 0, 127));
  --kul_code_token_color_2: var(--kul-code-token-color-2, rgb(146, 219, 0));
  --kul_code_token_color_3: var(--kul-code-token-color-3, rgb(0, 165, 236));
  --kul_code_token_color_4: var(--kul-code-token-color-4, #ff6363);
  --kul_code_token_color_5: var(--kul-code-token-color-5, rgb(255, 196, 86));

  display: block;
  height: 100%;
  width: 100%;
}

:host([kul-light-theme]) {
  --kul_code_token_color_1: var(--kul-code-token-color-1, #905);
  --kul_code_token_color_2: var(--kul-code-token-color-2, #690);
  --kul_code_token_color_3: var(--kul-code-token-color-3, #07a);
  --kul_code_token_color_4: var(--kul-code-token-color-4, #dd4a68);
  --kul_code_token_color_5: var(--kul-code-token-color-5, #e90);
}

.title {
  align-items: center;
  font-size: 0.85em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header {
  --kul-button-primary-color: var(--kul_code_header_color);

  align-items: baseline;
  background: var(--kul_code_header_background_color);
  color: var(--kul_code_header_color);
  display: flex;
  justify-content: space-between;
  padding: 0.25em 0.75em;
}

:not(pre) > code,
pre {
  backdrop-filter: blur(3.5px);
  background: var(--kul_code_background_color);
  border: 1px solid var(--kul_code_header_background_color);
  border-radius: 4px;
}

code,
pre {
  color: var(--kul_code_text_color);
  font-family: var(--kul_code_font_family);
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

code ::-moz-selection,
code::-moz-selection,
pre ::-moz-selection,
pre::-moz-selection {
  text-shadow: none;
  background: var(--kul_code_selection_background_color);
}

code ::selection,
code::selection,
pre ::selection,
pre::selection {
  text-shadow: none;
  background: var(--kul_code_selection_background_color);
}

pre {
  padding: 1.75em 1em;
  margin: 0 0 0.5em 0;
  overflow: auto;
}

:not(pre) > code {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: rgba(var(--kul-text-color-rgb), 0.575);
}

.token.punctuation {
  color: rgba(var(--kul-text-color-rgb), 0.875);
}

.token.namespace {
  opacity: 0.7;
}

.token.bold,
.token.important {
  font-weight: 700;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.boolean,
.token.constant,
.token.deleted,
.token.number,
.token.property,
.token.symbol,
.token.tag {
  color: var(--kul_code_token_color_1);
}

.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
  color: var(--kul_code_token_color_2);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--kul_code_token_color_3);
}

.token.class-name,
.token.function {
  color: var(--kul_code_token_color_4);
}

.token.important,
.token.regex,
.token.variable {
  color: var(--kul_code_token_color_5);
}
