@import '../../f-components/f-button/f-button.scss';

:host {
  display: block;
}

#paginator {
  margin: 0.5em 0;
  display: flex;
  flex-wrap: wrap;

  .align-left {
    margin-left: 0.5em;
  }

  .align-right {
    margin-right: 0.5em;
  }

  .align-left,
  .align-right {
    display: flex;
    align-items: center;
  }

  .prev-page,
  .next-page {
    margin: 0 0.25em;
  }

  .prev-page {
    float: left;
  }

  .next-page {
    float: right;
  }

  kup-combobox {
    display: inline-block;
    margin: 0 0.25em;
    z-index: 0;
    &.page-selector {
      width: 100px;
    }
    &.rows-selector {
      width: 150px;
    }
  }
}

:host([mode='simple']) {
  #paginator {
    .align-left {
      .prev-page,
      .next-page {
        display: none;
      }
    }

    .align-right {
      display: none;
    }
  }
}
