@import url(https://cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css);

/**
* @prop --int_text-color, --kup-paginator_text-color: Set color of text
* @prop --int_font-size, --kup-paginator_font-size: Set size of the font
* @prop --int_box-shadow, --kup-paginator_box-shadow: Set box shadow of groups
* @prop --int_icon-background, --kup-paginator_icon-background: Set the background color of icons
*/

:host {
  // variables
  --int_text-color: var(--kup-paginator_text-color, #{$mainTextColor});
  --int_font-size: var(--kup-paginator_font-size, 1rem);
  --int_box-shadow: var(
    --kup-paginator_box-shadow,
    0 0 2px 0px rgba(128, 128, 128, 0.5)
  );
  --int_icon-background: var(
    --kup-paginator_icon-background,
    #{lighten($smeup-primary, 30)}
  );
}

#paginator {
  color: var(--int_text-color);
  margin: 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: var(--int_font-size);

  .align-left,
  .align-right {
    display: flex;
    align-items: center;
    box-shadow: var(--int_box-shadow);
    & .paging-icon {
      background: var(--int_icon-background);
      padding: 0.5rem;
    }
  }

  icon {
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.1s ease-in-out;

    &:hover:not(.disabled) {
      opacity: 0.75;
    }

    &.disabled {
      cursor: default;
      opacity: 0.3;
    }
  }

  select,
  .nextPageGroup {
    margin: 0 0.5rem;
  }

  .prev-page,
  .next-page {
    margin: 0 0.25rem;
  }

  .nextPageGroup {
    padding-right: 1.5rem;
  }

  kup-combo {
    margin: 0 0.25rem;
    --kup-combo_input_border-color: transparent;
    --kup-combo_input_border-color--selected: transparent;
  }
}

:host([mode='simple']) {
  #paginator {
    .align-left {
      .prev-page,
      .next-page {
        display: none;
      }
    }

    .align-right {
      display: none;
    }
  }
}
