@import url(https://cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css);

/**
* @prop --int_text-color, --kup-paginator_text-color: Set color of text
* @prop --int_font-size, --kup-paginator_font-size: Set size of the font
*/

:host {
  // variables
  --int_text-color: var(--kup-paginator_text-color, $mainTextColor);
  --int_font-size: var(--kup-paginator_font-size, 1rem);
}

#paginator {
  color: var(--int_text-color);
  margin: 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: var(--int_font-size);

  icon {
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.1s ease-in-out;

    &:hover:not(.disabled) {
      opacity: 0.75;
    }

    &.disabled {
      cursor: default;
      opacity: 0.3;
    }
  }

  select,
  .nextPageGroup {
    margin: 0 0.5rem;
  }

  .prev-page,
  .next-page {
    margin: 0 0.25rem;
  }

  .nextPageGroup {
    padding-right: 1.5rem;
  }
}
