/**
 * @prop --imb_color, --kup-imb_color: Sets the text color
*/

:host {
  --imb_color: var(--kup-imb_color, #545454);
}

#container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: var(--imb_color);

  > div {
    margin: 0px 3px;
    position: relative;
    text-align: center;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    > img {
      display: block;
      width: 100%;
      height: 100%;
    }

    > .overlay {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 0.25s linear;
      background-color: black;
      width: 100%;
      height: 100%;
    }

    &:hover,
    &.selected {
      > .overlay {
        transition: opacity 0.25s linear;
        opacity: 0.6;
      }
    }
  }
}
