.custom-layout-4 {
  color: var(--kup-text-color);
  box-shadow: 0px 0px 7.5px 0px rgba(128, 128, 128, 0.5);
  display: flex;
  height: 100%;
  overflow: hidden;
  width: 100%;
  padding-bottom: 50px;
  box-sizing: border-box;
  position: relative;

  .section-1 {
    background-color: var(--color-1);
    display: flex;
    flex: 0 0 10%;
    max-width: 10%;
  }

  .section-2 {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex: 0 0 90%;
    flex-direction: column;
    max-width: 90%;

    .sub-1 {
      text-align: left;
      padding: 1rem 1rem 0 1rem;
      font-size: 1.4rem;
    }
    .sub-2 {
      text-align: left;
      padding: 1rem;
      font-size: 1rem;
    }
    .sub-3 {
      text-align: left;
      padding: 0 1rem 1rem 1rem;
      font-size: 1.25rem;
      position: absolute;
      top: 1rem;
      right: 1rem;
      max-width: 25%;
      text-overflow: ellipsis;
      max-height: 15%;
      overflow: hidden;
    }
    .sub-4 {
      overflow: hidden;
    }
  }

  .section-3 {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;

    kup-button {
      margin: auto;
      width: 48px;
    }
  }
}

#expandable-panel.expanded .sub-4 {
  overflow: auto;
}
