/*-------------------------------------------------*/
/*        C o m p o n e n t   C l a s s e s        */
/*-------------------------------------------------*/

:host(.#{$kup-class-borderless}) {
  --kup-accordion-border: none;
}

:host(.#{$kup-class-full-height}) {
  height: 100%;
}

:host(.#{$kup-class-full-width}) {
  width: 100%;
}

:host(.#{$kup-class-danger}) {
  --kup-accordion-primary-color: var(--kup-danger-color);
  --kup-accordion-primary-color-rgb: var(--kup-danger-color-rgb);
  --kup-accordion-text-on-primary-color: white;
}

:host(.#{$kup-class-info}) {
  --kup-accordion-primary-color: var(--kup-info-color);
  --kup-accordion-primary-color-rgb: var(--kup-info-color-rgb);
  --kup-accordion-text-on-primary-color: white;
}

:host(.#{$kup-class-secondary}) {
  --kup-accordion-primary-color: var(--kup-secondary-color);
  --kup-accordion-primary-color-rgb: var(--kup-secondary-color-rgb);
  --kup-accordion-text-on-primary-color: var(--kup-text-on-secondary-color);
}

:host(.#{$kup-class-success}) {
  --kup-accordion-primary-color: var(--kup-success-color);
  --kup-accordion-primary-color-rgb: var(--kup-success-color-rgb);
  --kup-accordion-text-on-primary-color: white;
}

:host(.#{$kup-class-warning}) {
  --kup-accordion-primary-color: var(--kup-warning-color);
  --kup-accordion-primary-color-rgb: var(--kup-warning-color-rgb);
  --kup-accordion-text-on-primary-color: white;
}
