/**
* @prop --kup-accordion-background-color: Sets background of the component.
* @prop --kup-accordion-border: Sets borders color of the accordion.
* @prop --kup-accordion-border-radius: Sets border radius of the first and last items of the accordion.
* @prop --kup-accordion-dropdown-icon-color: Sets color of the dropdown icon.
* @prop --kup-accordion-font-family: Sets font family of the component.
* @prop --kup-accordion-font-size: Sets font size of the component.
* @prop --kup-accordion-hover-background-color: Sets background color of the hover effect.
* @prop --kup-accordion-hover-color: Sets text color of the hover effect.
* @prop --kup-accordion-padding: Sets padding of the accordion's items.
* @prop --kup-accordion-primary-color: Sets primary color of the component.
* @prop --kup-accordion-primary-color-rgb: Sets primary color RGB values of the component.
* @prop --kup-accordion-text-color: Sets text color of the component.
* @prop --kup-accordion-text-on-primary-color: Sets text on primary color of the component.
* @prop --kup-accordion-transition: Sets transition duration for color and background-color.
*/

:host {
  --kup_accordion_background_color: var(
    --kup-accordion-background-color,
    var(--kup-background-color)
  );
  --kup_accordion_border: var(
    --kup-accordion-border,
    1px solid var(--kup-border-color)
  );
  --kup_accordion_border_radius: var(--kup-accordion-border-radius, 4px);
  --kup-accordion_dropdown_icon_color: var(
    --kup-accordion-dropdown-icon-color,
    var(--kup-icon-color)
  );
  --kup_accordion_font_family: var(
    --kup-accordion-font-family,
    var(--kup-font-family)
  );
  --kup_accordion_font_size: var(
    --kup-accordion-font-size,
    var(--kup-font-size)
  );
  --kup_accordion_hover_background_color: var(
    --kup-accordion-hover-background-color,
    var(--kup-hover-background-color)
  );
  --kup_accordion_hover_color: var(
    --kup-accordion-hover-color,
    var(--kup-hover-color)
  );
  --kup_accordion_padding: var(--kup-accordion-padding, 1em 1.5em);
  --kup_accordion_primary_color: var(
    --kup-accordion-primary-color,
    var(--kup-primary-color)
  );
  --kup_accordion_primary_color_rgb: var(
    --kup-accordion-primary-color-rgb,
    var(--kup-primary-color-rgb)
  );
  --kup_accordion_text_color: var(
    --kup-accordion-text-color,
    var(--kup-text-color)
  );
  --kup_accordion_text_on_primary_color: var(
    --kup-accordion-text-on-primary-color,
    var(--kup-text-on-primary-color)
  );
  --kup_accordion_transition: var(--kup-accordion-transition, 80ms);

  display: block;
  font-family: var(--kup_accordion_font_family);
  font-size: var(--kup_accordion_font_size);
}

.accordion {
  background-color: var(--kup_accordion_background_color);
  border-bottom: var(--kup_accordion_border);
  border-radius: var(--kup_accordion_border_radius);
  border-top: var(--kup_accordion_border);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.accordion-item {
  border-left: var(--kup_accordion_border);
  border-right: var(--kup_accordion_border);
  box-sizing: border-box;
  width: 100%;

  &--visible {
    display: block;
  }

  &:not(:first-of-type) {
    border-top: var(--kup_accordion_border);
  }

  &__header {
    align-items: center;
    border: none;
    box-sizing: border-box;
    color: var(--kup_accordion_text_color);
    cursor: pointer;
    display: flex;
    line-height: 1.75em;
    outline: none;
    padding: var(--kup_accordion_padding);
    text-align: left;
    transition: background-color var(--kup_accordion_transition),
      color var(--kup_accordion_transition);
    width: 100%;

    &:hover:not(.accordion-item__header--selected) {
      color: var(--kup_accordion_hover_color);
      background-color: var(--kup_accordion_hover_background_color);
    }

    &--expanded {
      color: var(--kup_accordion_hover_color);
      background-color: var(--kup_accordion_hover_background_color);

      .accordion-item__dropdown {
        transform: rotate(-180deg);
      }
    }

    &--selected {
      background-color: rgba(var(--kup_accordion_primary_color_rgb), 0.175);
    }
  }

  &__text {
    margin-right: 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;

    &--highlighted {
      color: var(--kup_accordion_text_on_primary_color);
      background-color: var(--kup_accordion_primary_color);
    }
  }

  &__icon {
    margin-left: 0;
    margin-right: 0.5em;
  }

  &__dropdown {
    background-color: var(--kup-accordion_dropdown_icon_color);
    height: 1.5em;
    margin-left: auto;
    margin-right: 0;
    min-width: 1.5em;
    width: 1.5em;
    transition: transform var(--kup_accordion_transition);
  }

  &__content {
    animation: fade-in 0.25s ease-out;
    display: none;

    &--selected {
      display: block;
    }
  }
}

.mdc-ripple-surface {
  --mdc-ripple-fg-opacity: 0.24;

  &:before,
  &:after {
    background-color: var(--kup_accordion_primary_color);
  }
}

.#{$kup-icon}.#{$kup-icon-dropdown} {
  -webkit-mask: var(--kup-dropdown-icon);
  mask: var(--kup-dropdown-icon);
}
