/**
* @prop --kup-accordion_background-color: Sets background of the component.
* @prop --kup-accordion_border: Sets borders color of the accordion.
* @prop --kup-accordion_border-radius: Sets border radius of the first and last items of the accordion.
* @prop --kup-accordion_dropdown-icon-color: Sets color of the dropdown icon.
* @prop --kup-accordion_font-family: Sets font family of the component.
* @prop --kup-accordion_font-size: Sets font size of the component.
* @prop --kup-accordion_hover-background-color: Sets background color of the hover effect.
* @prop --kup-accordion_hover-color: Sets text color of the hover effect.
* @prop --kup-accordion_padding: Sets padding of the accordion's items.
* @prop --kup-accordion_primary-color: Sets primary color of the component.
* @prop --kup-accordion_primary-color-rgb: Sets primary color RGB values of the component.
* @prop --kup-accordion_text-color: Sets text color of the component.
* @prop --kup-accordion_text-on-primary-color: Sets text on primary color of the component.
* @prop --kup-accordion_transition: Sets transition duration for color and background-color.
*/

:host {
  --kup-accordion_background-color: var(--kup-background-color);
  --kup-accordion_border: 1px solid var(--kup-border-color);
  --kup-accordion_border-radius: 4px;
  --kup-accordion_dropdown-icon-color: var(--kup-icon-color);
  --kup-accordion_font-family: var(--kup-font-family);
  --kup-accordion_font-size: var(--kup-font-size);
  --kup-accordion_hover-background-color: var(--kup-hover-background-color);
  --kup-accordion_hover-color: var(--kup-hover-color);
  --kup-accordion_padding: 1em 1.5em;
  --kup-accordion_primary-color: var(--kup-primary-color);
  --kup-accordion_primary-color-rgb: var(--kup-primary-color-rgb);
  --kup-accordion_text-color: var(--kup-text-color);
  --kup-accordion_text-on-primary-color: var(--kup-text-on-primary-color);
  --kup-accordion_transition: 80ms;

  display: block;
  font-family: var(--kup-accordion_font-family);
  font-size: var(--kup-accordion_font-size);
}

.accordion {
  background-color: var(--kup-accordion_background-color);
  border-bottom: var(--kup-accordion_border);
  border-radius: var(--kup-accordion_border-radius);
  border-top: var(--kup-accordion_border);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.accordion-item {
  border-left: var(--kup-accordion_border);
  border-right: var(--kup-accordion_border);
  box-sizing: border-box;
  display: none;
  width: 100%;

  &--visible {
    display: block;
  }

  &:not(:first-of-type) {
    border-top: var(--kup-accordion_border);
  }

  &__header {
    align-items: center;
    border: none;
    box-sizing: border-box;
    color: var(--kup-accordion_text-color);
    cursor: pointer;
    display: flex;
    line-height: 1.75em;
    outline: none;
    padding: var(--kup-accordion_padding);
    text-align: left;
    transition: background-color var(--kup-accordion_transition),
      color var(--kup-accordion_transition);
    width: 100%;

    &:hover:not(.accordion-item__header--selected) {
      color: var(--kup-accordion_hover-color);
      background-color: var(--kup-accordion_hover-background-color);
    }

    &--expanded {
      color: var(--kup-accordion_hover-color);
      background-color: var(--kup-accordion_hover-background-color);

      .accordion-item__dropdown {
        transform: rotate(-180deg);
      }
    }

    &--selected {
      background-color: rgba(var(--kup-accordion_primary-color-rgb), 0.175);
    }
  }

  &__text {
    margin-right: 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;

    &--highlighted {
      color: var(--kup-accordion_text-on-primary-color);
      background-color: var(--kup-accordion_primary-color);
    }
  }

  &__icon {
    margin-left: 0;
    margin-right: 0.5em;
  }

  &__dropdown {
    background-color: var(--kup-accordion_dropdown-icon-color);
    height: 1.5em;
    margin-left: auto;
    margin-right: 0;
    min-width: 1.5em;
    width: 1.5em;
    transition: transform var(--kup-accordion_transition);
  }

  &__content {
    animation: fadeInFromNone 0.25s ease-out;
    display: none;
    overflow: hidden;

    &--selected {
      display: block;
    }
  }
}
