:host {
  display: block;
  font-size: var(--kup-font-size);
}

.accordion--wrapper {
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;

  .accordion-item {
    border-left: 1px solid var(--kup-border-color);
    border-right: 1px solid var(--kup-border-color);
    border-top: 1px solid var(--kup-border-color);

    &:first-of-type {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    &:last-of-type {
      border-bottom: 1px solid var(--kup-border-color);
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    .accordion-button {
      border: none;
      color: var(--kup-text-color);
      font-family: var(--kup-font-family);
      background-color: var(--kup-background-color);
      width: 100%;
      padding: 16px 24px;
      outline: none;
      cursor: pointer;
      text-align: left;
      transition: background-color 80ms, color 80ms, max-height 0.2s ease-out;

      &:not(.accordion-button--active):hover {
        color: var(--kup-hover-color);
        background-color: var(--kup-hover-background-color);
      }

      &--active {
        background-color: rgba(var(--kup-primary-color-rgb), 0.125);
      }

      .icon {
        display: inline-block;
        margin-right: 0.4em;
        height: 1.5em;
        width: 1.5em;
        transition: transform 0.1s;

        &.collapsed {
          -webkit-mask: url('/build/assets/svg/arrow_drop_down.svg');
          mask: url('/build/assets/svg/arrow_drop_down.svg');
          background-color: var(--kup-text-color);
        }

        &.expanded {
          -webkit-mask: url('/build/assets/svg/arrow_drop_up.svg');
          mask: url('/build/assets/svg/arrow_drop_up.svg');
          background-color: var(--kup-text-color);
        }

        &.icon-container:not(.is-image) {
          background-color: var(--kup-icon-color);
        }

        &.icon-container.is-image img {
          display: block;
          height: auto;
          width: 100%;
        }
      }
    }

    .accordion-content {
      display: none;
      overflow: hidden;

      &--active {
        display: block;
      }
    }
  }
}
