:host {
  display: block;
  font-size: var(--kup-font-size);
}

#kup-component {
  transition: background-color 0.2s;
  width: max-content;

  &:hover {
    background-color: rgba(var(--kup-text-color-rgb), 0.1);
  }

  .mdc-text-field {
    &:not(.mdc-text-field--disabled) {
      cursor: pointer;

      input {
        cursor: pointer;
      }
    }

    .#{$kup-icon}.action {
      background-color: var(
        --kup_colorpicker_thumb_color,
        var(--kup-icon-color)
      ) !important;
    }
  }

  .thumb-icon {
    .#{$kup-icon} {
      border: 3px solid rgba(var(--kup-text-color-rgb), 0.575);
      border-radius: 50%;
      box-sizing: border-box;
    }
  }
}

.color-picker {
  outline: none;
  height: 1.5em;
  width: 1.5em;
  margin: 0.25em;
  border-radius: 50%;
  border: 0.1em solid var(--kup-border-color);
  background-color: transparent;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}
