// Padding of the input text
$clear-button-padding: 4px;
$lateral-padding: 6px;

/**
* @prop --int_color, --kup-text-input_color: Set color of text
* @prop --int_font-size, --kup-text-input_font-size: Set height of the font and the svg icon
* @prop --int_border-color, --kup-text-input_border-color: Set normal border color of the input
* @prop --int_border-color--selected, --kup-text-input_border-color: Set color of the border when focused or hovered
* @prop --int_tr-duration, --kup-text-input_transition-duration: Set all transitions duration
* @prop --int_icon-color, --kup-text-input_icon-color: Set icon color
* @prop --int_icon-color--hover, --kup-text-input_icon-color--hover: Set icon color when hovered
*/

:host {
  // Variables
  --int_color: var(--kup-text-input_color, #000);
  --int_font-size: var(--kup-text-input_font-size, 14px);
  --int_border-color: var(--kup-text-input_border-color, #{$gray-80});
  --int_border-color--selected: var(
    --kup-text-input_border-color--selected,
    #{$smeup-primary}
  );
  --int_tr-duration: var(--kup-text-input_transition-duration, #{$trn-time});
  --int_icon-color: var(--kup-text-input_icon-color, #{$gray-80});
  --int_icon-color--hover: var(
    --kup-text-input_icon-color--hover,
    #{darken($gray-80, 10)}
  );
  --int_background-color: var(--kup-text-input_background-color, transparent);

  // Style
  display: inline-block;
}

label {
  margin-right: 0.5rem;
}

.kup-input-text {
  // The div containing the input element.
  &__container {
    display: inline-block;
    position: relative;
    z-index: 0;
  }

  // Style of the input
  color: var(--int_color);
  background-color: var(--int_background-color);
  border: 1px solid var(--int_border-color);
  border-radius: 2px;
  box-sizing: border-box;
  outline: none;
  padding: 4px $lateral-padding;
  position: relative;
  transition: background-color var(--int_tr-duration);
  z-index: 0;

  &:hover,
  &:focus {
    border-color: var(--int_border-color--selected);
  }

  // When text input is clearable
  &--clearable {
    padding-right: calc(
      #{$lateral-padding} + #{$clear-button-padding} * 2 + var(--int_font-size)
    );
  }

  // The clear button for the field
  &__clear {
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    margin: 0;
    outline: none;
    padding: $clear-button-padding;
    position: absolute;
    right: $lateral-padding;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    // The true icon
    > svg {
      fill: var(--int_icon-color);
      height: var(--int_font-size);
      transition: fill var(--int_tr-duration);
      width: var(--int_font-size);
    }

    &:hover > svg {
      fill: var(--int_icon-color--hover);
    }
  }
}
