.scalable-layout-7 {
  #image1 img {
    object-fit: contain;
  }

  .scalable-element {
    display: flex;
  }

  .text-wrapper {
    margin-right: 0.5em;
  }

  .icon {
    font-size: 150%;
    margin: auto;
    margin-top: 0.35em;
  }

  .value {
    font-size: 200%;
  }

  .descr {
    text-align: right;
    font-size: 65%;
    width: 100%;
    min-width: max-content;
    position: relative;
    bottom: 10%;
  }
}
