:host {
  --kup_dash_value_text_color: var(
    --kup-dash-value-text-color,
    var(--kup-gray-color-90)
  );
  --kup_dash_label_text_color: var(
    --kup-dash-label-text-color,
    var(--kup-gray-color-70)
  );
}

.scalable-layout-1 {
  .scalable-element {
    padding: var(--kup-space-05);
    .descr {
      width: 100%;
      @include kup-body-compact-01;
    }

    .value {
      font-size: 40px;
      @include kup-heading-08;
      color: var(--kup-dash-value-text-color, var(--kup_dash_value_text_color));
    }
  }
}
