.scalable-layout-2 {
  #image1 img {
    object-fit: contain;
  }

  .scalable-element {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
  }

  .icon {
    margin: auto;
    font-size: 150%;
    margin-right: 5%;
  }

  .value-int {
    font-size: 250%;
  }

  .value-dec,
  .unit {
    font-size: 130%;
    margin-top: auto;
    margin-bottom: 10%;
  }

  .value-dec {
    margin-left: 2%;
  }

  .unit {
    margin-left: 4%;
  }
}
