@import 'kup-card-scalable-1.scss';
@import 'kup-card-scalable-2.scss';
@import 'kup-card-scalable-3.scss';
@import 'kup-card-scalable-4.scss';
@import 'kup-card-scalable-5.scss';
@import 'kup-card-scalable-6.scss';
@import 'kup-card-scalable-7.scss';
@import 'kup-card-scalable-8.scss';
@import 'kup-card-scalable-9.scss';

.scalable-card {
  align-items: center;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  display: flex;
  font-size: calc(var(--kup-font-size) * var(--kup_card_multiplier));
  height: 100%;
  justify-content: center;
  position: relative;
  text-align: center;
  word-break: normal;
  width: 100%;
}
