@import 'kup-card-scalable-1.scss';
@import 'kup-card-scalable-2.scss';
@import 'kup-card-scalable-3.scss';
@import 'kup-card-scalable-4.scss';
@import 'kup-card-scalable-5.scss';
@import 'kup-card-scalable-6.scss';
@import 'kup-card-scalable-7.scss';
@import 'kup-card-scalable-8.scss';
@import 'kup-card-scalable-9.scss';
@import 'kup-card-scalable-10.scss';

.scalable-card {
  background-color: var(--kup-gray-color-10);
  align-items: center;
  border-radius: var(--kup-space-00);
  display: flex;
  font-size: var(
    --kup_card_scalable_static_font_size,
    calc(
      var(--kup_card_scalable_starting_font_size) *
        var(--kup_card_scalable_multiplier, 1)
    )
  );
  height: 100%;
  justify-content: center;
  position: relative;
  text-align: center;
  word-break: normal;
  width: 100%;
  box-sizing: border-box;
  padding: var(--kup-space-03);
  color: var(--kup-gray-color-70);
}
