:host {
  #wrapper {
    display: block;

    #tooltip {
      background: var(--kup-background-color);
      color: var(--kup-text-color);
      box-shadow: var(--kup-box-shadow);
      border-radius: 3px;
      min-width: 350px;
      max-width: 700px;
      writing-mode: horizontal-tb;

      #main-content {
        padding: 10px 20px;
        display: flex;

        .left {
          width: 75px;
          margin-right: 15px;
        }

        .title {
          display: inline-block;
          max-width: 440px;

          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }

        .right {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          & kup-button {
            display: inline-block;
          }
        }

        &.layout2 {
          justify-content: center;
          align-items: center;
        }

        &.layout3 {
          flex-direction: column;

          > div:not(:last-child) {
            margin-bottom: 6px;
          }
        }

        h3,
        h4 {
          margin: 0;
        }

        .label {
          color: rgba(var(--kup-text-color-rgb), 0.5);
          display: inline-block;
          max-width: 270px;
          vertical-align: 0.1rem;
        }

        .value {
          color: var(--kup-text-color);
          display: inline-block;
          font-size: 120%;
          margin-left: 0.325rem;
          max-width: 270px;
        }
      }

      #detail {
        transition: height 250ms ease-out, opacity 250ms ease-out;

        &:not(.visible) {
          height: 0;
          opacity: 0;
        }

        &.visible {
          border-top: 1px solid var(--kup-border-color);
          box-sizing: border-box;
          padding: 20px;
          height: 180px;
          overflow: auto;
          opacity: 1;
        }

        &.cellopt {
          padding: 5px 0;
        }

        &.detail-loaded {
          height: 180px;
          min-height: 180px;
        }

        .detail-row {
          display: flex;
          justify-content: space-between;

          &:not(:last-child) {
            margin-bottom: 6px;
          }

          &__label {
            color: rgba(var(--kup-text-color-rgb), 0.5);
            margin-top: 0.175rem;
            max-width: 320px;
          }

          &__value {
            color: var(--kup-text-color);
            font-size: 120%;
            max-width: 320px;
          }
        }
      }

      #detail-actions {
        border-top: 1px solid var(--kup-border-color);
        padding: 6px {
          top: 2px;
          bottom: 2px;
        }

        display: flex;
        justify-content: flex-end;
      }

      #detail-actions[hidden] {
        display: none;
      }

      .detail-actions__box {
        cursor: pointer;
      }
    }
  }
}

.image-container {
  display: block;
  height: 75px;
  width: 75px;
  padding-top: 8px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
