@import url(https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css);

/**
* @prop --bdg-background-color, --kup-badge_background-color: badge background color
* @prop --bdg-border-radius,    --kup-badge_border-radius:    badge border radius
* @prop --bdg-color,            --kup-badge_color:            badge text color
* @prop --bdg-dim,              --kup-badge_dimension:        badge dimension
*/

:host {
  // variables
  --bdg_background-color: var(--kup-badge_background-color, #95a5a6);
  --bdg_border-radius: var(--kup-badge_background-color, 15px);
  --bdg_color: var(--kup-badge_color, #fff);
  --bdg_dim: var(--kup-badge_dimension, 25px);

  position: absolute;
  max-width: 70%;

  #badge {
    background-color: var(--bdg_background-color);
    color: var(--bdg_color);
    padding: 0 3px;
    font-size: 1rem;
    border-radius: var(--bdg_border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    &:before {
      vertical-align: middle;
      margin: auto;
    }
  }
}

:host(.top-right) {
  top: -3px;
  right: -4px;
}

:host(.top-left) {
  top: -3px;
  left: -4px;
}

:host(.bottom-right) {
  bottom: -3px;
  right: -4px;
}

:host(.bottom-left) {
  bottom: -3px;
  left: -4px;
}

:host(.centered) {
  #badge {
    box-sizing: border-box;
    min-width: var(--bdg_dim);
    height: var(--bdg_dim);
  }
}

:host(.centered.top-right) {
  top: -10px;
  right: -10px;
}

:host(.centered.top-left) {
  top: -10px;
  left: -10px;
}

:host(.centered.bottom-right) {
  bottom: -10px;
  right: -10px;
}

:host(.centered.bottom-left) {
  bottom: -10px;
  left: -10px;
}
