:host {
  display: var(--kup-display-mode);
  position: absolute;

  #kup-component {
    background-color: var(--kup-main-color);
    border-radius: 30px;
    color: var(--kup-text-on-main-color);
    font-size: 0.8rem;
    min-height: 1.3rem;
    min-width: 1.3rem;
    padding: 0.2rem;
    text-align: center;

    & kup-icon {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

:host(.top-right) {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

:host(.top-left) {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

:host(.bottom-right) {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}

:host(.bottom-left) {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}
