:host {
  display: block;
  font-size: var(--kup-font-size);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

#kup-component {
  background-color: var(--kup-primary-color);
  border-radius: 30px;
  color: var(--kup-text-on-primary-color);
  font-size: 0.875em;
  min-height: 1.5em;
  min-width: 1.5em;
  padding: 0.25em;
  text-align: center;
}

:host(.top-right) {
  top: 0;
  right: 0;
  bottom: unset;
  left: unset;
  transform: translate(50%, -50%);
}

:host(.bottom-right) {
  top: unset;
  right: 0;
  bottom: 0;
  left: unset;
  transform: translate(50%, 50%);
}

:host(.bottom-left) {
  top: unset;
  right: unset;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}

kup-image {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
