.kup-qlik-container-fluid{
	width: 100%;
}

.kup-qlik-container {
	width: 100%;
}

@media (min-width: 576px) { 
	.kup-qlik-container {
		width: 576px;
	}
	
	.kup-qlik-row  > .qvobject {
		flex: 0 0 auto;
		min-width: 100px;
		margin: 0px auto 5px auto;
	}	
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
	.kup-qlik-container {
		width: 768px;
	}
	
	.kup-qlik-row  > .qvobject {
		flex: 0 0 auto;
		min-width: 100px;
		margin: 0px auto 5px auto;
	}
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
	.kup-qlik-container {
		width: 992px;
	}
	
	.kup-qlik-row  > .qvobject {
		flex: 0 0 auto;
		min-width: 100px;
		margin: 0px auto 5px auto;
	}
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
	.kup-qlik-container {
		width: 1200px;
	}
	
	.kup-qlik-row  > .qvobject {
		flex: 0 0 auto;
		min-width: 100px;
		margin: 0px auto 5px auto;
	}
 }

 .kup-qlik-row {
	 display: flex;
	 display: ms-flexbox;
	 flex-wrap: wrap;
	 -ms-flex-wrap: wrap;
	 margin-bottom: 5px;

	.size-M{
		height: var(--lyo_obj-height);
	}

	.size-S{
		height: calc(var(--lyo_obj-height)/2);
	}

	.size-XS{
		height: calc(var(--lyo_obj-height)/3);
	}

	.size-L{
		height: calc(var(--lyo_obj-height)*2);
	}

	.size-XL{
		height: calc(var(--lyo_obj-height)*3);
	}

	.bordered {
		border: 1px solid var(--kup-border-color,#969696);
	}

	.width-1 {
		width: 8.3333%;
	}

	.width-2 {
		width: 16.6666%;
	}

	.width-3 {
		width: 25%;
	}

	.width-4 {
		width: 33.3333%;
	}

	.width-5 {
		width: 41.6666%;
	}

	.width-6 {
		width: 50%;
	}

	.width-7 {
		width: 58.3333%;
	}

	.width-8 {
		width: 66.6666%;
	}

	.width-9 {
		width: 75%;
	}

	.width-10 {
		width: 83.3333%;
	}

	.width-11 {
		width: 91.6666%;
	}

	.width-12 {
		width: 100%;
	}
}