:host {
  /**
  * @prop --kul-tree-accordion-background-color: Sets the background color for top-level nodes (data-depth="0") when kul-accordion-layout is applied.
  * Defaults to #ffffff.
  */
  --kul_tree_accordion_background_color: var(
    --kul-tree-accordion-background-color,
    var(--kul-title-background-color)
  );
  /**
  * @prop --kul-tree-accordion-border-radius: Sets the border radius for top-level nodes (data-depth="0") when kul-accordion-layout is applied.
  * Defaults to 4px.
  */
  --kul_tree_accordion_border_radius: var(
    --kul-tree-accordion-border-radius,
    4px
  );
  /**
  * @prop --kul-tree-accordion-color: Sets the text color for top-level nodes (data-depth="0") when kul-accordion-layout is applied.
  * Defaults to #000000.
  */
  --kul_tree_accordion_color: var(
    --kul-tree-accordion-color,
    var(--kul-title-color)
  );
  /**
  * @prop --kul-tree-accordion-font-size: Sets the font size for top-level nodes (data-depth="0") when kul-accordion-layout is applied.
  * Defaults to 1.125em.
  */
  --kul_tree_accordion_font_size: var(--kul-tree-accordion-font-size, 1.125em);
  /**
  * @prop --kul-tree-accordion-hover-background-color: Sets the background color for top-level nodes (data-depth="0") on hover when kul-accordion-layout is applied.
  * Defaults to var(--kul-primary-color).
  */
  --kul_tree_accordion_hover_background_color: var(
    --kul-tree-accordion-hover-background-color,
    var(--kul-primary-color)
  );
  /**
  * @prop --kul-tree-accordion-hover-color: Sets the text color for top-level nodes (data-depth="0") on hover when kul-accordion-layout is applied.
  * Defaults to var(--kul-text-on-primary-color).
  */
  --kul_tree_accordion_hover_color: var(
    --kul-tree-accordion-hover-color,
    var(--kul-text-on-primary-color)
  );
  /**
  * @prop --kul-tree-accordion-node-height: Sets the height of top-level nodes (data-depth="0") when the tree has an accordion layout.
  * Defaults to 4em.
  */
  --kul_tree_accordion_node_height: var(--kul-tree-accordion-node-height, 4em);
  /**
  * @prop --kul-tree-node-height: Sets the height for all nodes. Replaces the static value previously used.
  * Defaults to 2em.
  */
  --kul_tree_node_height: var(--kul-tree-node-height, 2em);
  /**
 * @prop --kul-tree-backdrop-filter: Sets the backdrop filter of the tree.
 * Defaults to blur(3.5px).
 */
  --kul_tree_backdrop_filter: var(--kul-tree-backdrop-filter, blur(3.5px));
  /**
 * @prop --kul-tree-node-background-color-hover: Sets the background color when hovering a node.
 * Defaults to rgba(var(--kul-primary-color-rgb), 0.175).
 */
  --kul_tree_node_background_color_hover: var(
    --kul-tree-node-background-color-hover,
    rgba(var(--kul-primary-color-rgb), 0.175)
  );
  /**
 * @prop --kul-tree-node-background-color-selected: Sets the background color of the selected node.
 * Defaults to rgba(var(--kul-primary-color-rgb), 0.375).
 */
  --kul_tree_node_background_color_selected: var(
    --kul-tree-node-background-color-selected,
    rgba(var(--kul-primary-color-rgb), 0.375)
  );
  /**
 * @prop --kul-tree-node-padding: Sets the padding of nodes.
 * Defaults to 0 1em.
 */
  --kul_tree_node_padding: var(--kul-tree-node-padding, 0 1em);
  /**
 * @prop --kul-tree-padding: Sets the padding of the tree.
 * Defaults to 0.
 */
  --kul_tree_padding: var(--kul-tree-padding, 0);
  /**
 * @prop --kul-tree-text-color: Sets the text color of the tree.
 * Defaults to var(--kul-text-color).
 */
  --kul_tree_text_color: var(--kul-tree-text-color, var(--kul-text-color));

  display: block;
  height: 100%;
  width: 100%;
}

#kul-component {
  height: 100%;
  width: 100%;
}

:host([kul-selectable]) {
  .node {
    &:hover:not(.node--selected) {
      background-color: var(--kul_tree_node_background_color_hover);
    }

    &--selected {
      background-color: var(--kul_tree_node_background_color_selected);
    }
  }
}

:host([kul-accordion-layout]) {
  .node[data-depth='0'] {
    background-color: var(--kul_tree_accordion_background_color);
    border-radius: var(--kul_tree_accordion_border_radius);
    color: var(--kul_tree_accordion_color);
    font-size: var(--kul_tree_accordion_font_size);
    height: var(--kul_tree_accordion_node_height);

    &:hover {
      background-color: var(--kul_tree_accordion_hover_background_color);
      color: var(--kul_tree_accordion_hover_color);

      .node__dropdown,
      .node__expand,
      .node__icon {
        background-color: var(--kul_tree_accordion_hover_color);
      }
    }
  }
}

.tree {
  -webkit-backdrop-filter: var(--kul_tree_backdrop_filter);
  backdrop-filter: var(--kul_tree_backdrop_filter);
  padding: var(--kul_tree_padding);
}

.node {
  box-sizing: border-box;
  color: var(--kul_tree_text_color);
  height: var(--kul_tree_node_height);
  padding: var(--kul_tree_node_padding);
  position: relative;
  transition: background-color 125ms ease;

  &__content {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
  }

  &__dropdown,
  &__expand,
  &__icon {
    background-color: var(--kul_tree_text_color);
    cursor: pointer;
    height: 1.5em;
    margin: 0;
    width: 1.5em;
  }

  &__dropdown,
  &__expand {
    overflow: hidden;
    transition: transform 125ms ease;

    &:hover {
      transform: scale(1.25);
    }
  }

  &__dropdown {
    -webkit-mask: var(--kul-dropdown-icon);
    mask: var(--kul-dropdown-icon);

    &--expanded {
      transform: rotate(180deg);

      &:hover {
        transform: rotate(-180deg) scale(1.25);
      }
    }

    &--placeholder {
      visibility: hidden;
    }
  }

  &__expand {
    -webkit-mask: var(--kul-collapsed-icon);
    mask: var(--kul-collapsed-icon);

    &--expanded {
      -webkit-mask: var(--kul-expanded-icon);
      mask: var(--kul-expanded-icon);
    }

    &--placeholder {
      visibility: hidden;
    }
  }

  &__padding {
    height: 100%;
    width: calc(1.75em * var(--kul_tree_padding_multiplier));
  }

  &__value {
    margin: 0 0 0 0.5em;
    width: 100%;
  }
}

.no-matches {
  align-items: center;
  box-sizing: border-box;
  color: var(--kul_tree_text_color);
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 1em;
  width: 100%;

  &__icon {
    background-color: var(--kul-primary-color);
    height: 1.25em;
    margin-right: 0.375em;
    -webkit-mask: var(--kul-warning-icon);
    mask: var(--kul-warning-icon);
    width: 1.25em;
  }

  &__text {
    font-size: 0.975em;
  }

  &__filter {
    color: var(--kul-primary-color);
  }
}

.empty-data {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
