/* Global */
html {
  overflow: auto !important;
}

#inspire {
  font-family: var(--main-font-family) !important;
  font-size: var(--main-font-size) !important;
}

.container {
  padding: 20px 40px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0 0 1rem !important;
}

h2 {
  font-size: 1.75rem;
  margin: 3rem 0 1rem !important;
}

h3 {
  border-bottom: 1px solid;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
  line-height: 2rem;
  margin: 3rem 0 1rem !important;
}

.max-width-container {
  max-width: 80% !important;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

#page-wrapper {
  display: inline-flex;
  position: relative;
  width: 100%;
}

#page-content {
  width: calc(100% - 250px);
}

.section {
  margin-bottom: 6rem;
}

#page-nav {
  padding: 15px;
  position: fixed;
  right: 0;
  top: auto;
  width: 250px;
}

.logo_header{
  height: 40px;
}

.page-nav-list {
  border-left: 1px solid var(--main-color-lighter);
  min-height: 45px;
}

.page-nav-element {
  max-height: 22px;
  margin-top: 8px;
  display: block;
  padding-left: 15px;
  padding-top: 7.5px;
  transition: all 0.2s ease-in;
}

.page-nav-element.active {
  color: #d41124;
}

#inspire.theme--dark .page-nav-element {
  color: #9a9a9a;
}

#inspire.theme--dark .page-nav-element.active {
  color: var(--main-color);
}

.page-nav-element:hover {
  font-size: 140%;
}

@media screen and (max-width: 1260px) {
  #page-wrapper {
    flex-direction: column-reverse;
  }

  #page-content {
    width: 100%;
  }

  #page-nav {
    position: relative;
    right: unset;
    top: unset;
    width: 100%;
    margin-bottom: 4rem;
  }

  .page-nav-list {
    border: none;
  }

  .page-nav-element {
    max-height: unset;
    text-align: center;
    padding-top: 15px;
  }
}

::-webkit-scrollbar {
  width: 9px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #888888;
  transition: background-color 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaaaaa;
}

i.v-icon.material-icons {
  color: var(--main-text-color);
}

.demo-container {
  max-width: 80%;
  text-align: center;
  margin: auto;
}

.demo-container code.flat {
  margin-bottom: 30px;
}

.demo-container wup-text-field {
  margin: 0 20px;
}

.kup-container {
  display: inline-flex;
  margin: 30px 0;
}

.kup-container-fw {
  display: block;
  margin: 30px 0;
}

.demo-wrapper {
  margin-bottom: 60px;
}

code.flat {
  background: none;
  border-radius: 0;
  box-shadow: 0 0 2px 0px rgb(128, 128, 128);
  color: #d41124;
  display: flex;
  font-family: Roboto Mono, consolas, monospace;
  font-size: 16px;
  font-weight: 500;
  margin: auto;
  max-width: 100%;
  padding: 20px 10px;
  width: max-content;
}

.code-word {
  color: #3a3a3a;
  font-family: Roboto Mono, consolas, monospace;
  font-size: 16px;
  font-weight: 600;
}

#inspire.theme--dark .code-word,
#inspire.theme--dark code.flat {
  color: var(--main-color);
}

.centered {
  margin: auto;
  width: max-content;
  display: flex;
  margin-bottom: 10px;
}

/* Navigation bar and footer */
nav.v-toolbar,
footer.v-footer {
  background: var(--header-background-color) !important;
  color: var(--header-icons-color) !important;
}

nav.v-toolbar i.v-icon.material-icons,
.v-input--selection-controls.v-input .v-label {
  color: var(--header-icons-color) !important;
}

.v-input.v-input--selection-controls.v-input--switch {
  min-width: max-content;
  padding-top: 0;
}

.v-input__slot {
  flex-direction: row-reverse;
}

nav .v-messages {
  display: none;
}

nav .v-input--selection-controls:not(.v-input--hide-details) .v-input__slot {
  margin-bottom: 0;
}

span.company-text {
  text-align: center;
  width: 100%;
  font-size: 0.8rem;
}

.v-toolbar__title {
  width: 100%;
}

.v-input .accent--text {
  color: var(--main-color) !important;
  caret-color: var(--main-color) !important;
}

/* Navigation menu and content */
aside.v-navigation-drawer.v-navigation-drawer--fixed.v-navigation-drawer,
main.v-content {
  color: var(--main-text-color) !important;
}

main.v-content {
  background: var(--main-background-color) !important;
}

aside.v-navigation-drawer.v-navigation-drawer--fixed.v-navigation-drawer {
  background: #ffffff;
}

#inspire.theme--dark
  aside.v-navigation-drawer.v-navigation-drawer--fixed.v-navigation-drawer {
  background: #1f1f1f;
}

div.v-list {
  padding-top: 0;
  padding-bottom: 0;
}

a.primary--text {
  color: var(--hover-color) !important;
  background: var(--hover-background-color);
  text-align: center;
}

.v-list__tile__title {
  color: var(--main-text-color);
}

div.logo img {
  margin: 1rem auto 2rem auto;
  display: none;
  cursor: pointer;
}

#inspire.theme--light div.logo img.light {
  display: block;
  height: 70px;
  margin-top: 30px;
  margin-bottom: 50px;
}

#inspire.theme--dark div.logo img.dark {
  display: block;
  height: 70px;
  margin-top: 30px;
  margin-bottom: 50px;
}

div.v-list--dense .v-list__tile:not(.v-list__tile--avatar) {
  height: 50px;
}

.v-list__group__items .v-list__tile__content .v-list__tile__title {
  padding-left: 1rem;
  font-size: 0.9rem;
  font-weight: bold;
}

html a {
  color: var(--main-color);
}

/* About page */

h1.team-title {
  margin-bottom: 3rem !important;
}

.team-member {
  width: 100%;
  display: inline-flex;
  margin-bottom: 5rem;
}

.team-member.odd {
  flex-direction: row-reverse;
}

.member-image {
  margin: auto;
  text-align: center;
}

.member-image img {
  max-height: 256px;
  max-width: 256px;
  padding: 10%;
  border-radius: 50%;
  transition: all 0.25s;
}

.member-image-description {
  text-align: center;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 500;
}

.member-description {
  width: 80%;
  margin: auto;
  padding: 5%;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.member-contact {
  text-align: center;
  font-size: 2.5rem;
  margin: 0 0.5rem;
  cursor: pointer;
  text-decoration: none;
  opacity: 0.75;
  transition: opacity 0.2s ease-in-out;
}

.member-contact.mdi-email {
  color: #fbc01c;
}

.member-contact.mdi-telegram {
  color: #53abde;
}

.member-contact:hover {
  opacity: 1;
}

.member-focus {
  margin: 20px 20px 20px 0;
  padding-top: 10px;
  letter-spacing: 2px;
  text-align: center;
  border-top: 1px solid #8888883b;
  font-size: 1.1rem;
}

.member-focus-label {
  margin-right: 10px;
}

.member-focus-content {
  font-size: 1.25rem;
  font-weight: bold;
}

@media screen and (max-width: 1260px) {
  h1.team-title {
    text-align: center;
  }

  .member-description {
    width: 100%;
  }

  .team-member {
    display: block;
  }
}

@media screen and (min-width: 1260px) {
  .member-description {
    max-width: calc(100% - 280px);
  }

  .member-image img:hover {
    max-height: 280px;
    max-width: 280px;
  }
}
