/* Global */
.kup-container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  padding: 2em 1.5em;
}

#theme-container,
#theme-container-demo {
  margin: 0;
  width: 100%;
}

#theme-action-demo {
  display: none;
}

#theme-action-demo.visible {
  display: flex;
  justify-content: center;
}

.kup-container-fw {
  display: block;
  margin: 30px 0;
}

.demo-wrapper {
  margin-bottom: 60px;
}

.demo-wrapper kup-button {
  margin: auto;
  padding: 0.5em;
}

code.flat {
  background: none;
  border-radius: 0;
  box-shadow: 0 0 2px 0px rgb(128, 128, 128);
  color: var(--kup-primary-color);
  display: flex;
  font-family: var(--kup-font-family-monospace);
  font-size: 16px;
  font-weight: 500;
  margin: auto;
  max-width: 100%;
  padding: 20px 10px;
  width: max-content;
}

.code-word {
  color: var(--kup-primary-color);
  font-family: var(--kup-font-family-monospace);
  font-size: 1.2em;
  font-weight: 600;
  word-break: break-word;
}

.sample-section .code-word {
  text-align: center;
  position: relative;
}

.centered {
  margin: auto;
  width: max-content;
  display: flex;
  margin-bottom: 10px;
}

/* Navigation bar and footer */
kup-drawer {
  height: calc(100vh - 32px);
}

span.company-text {
  text-align: center;
  font-size: 0.8em;
}

/* Navigation menu and content */
a.primary--text {
  color: var(--kup-hover-color) !important;
  background: var(--kup-hover-background-color);
  text-align: center;
}

html a {
  color: var(--kup-primary-color);
}

table.instruction-table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 3em auto;
}

#sample-wrapper table.instruction-table {
  width: 100%;
  margin: 0;
}

#sample-wrapper table.instruction-table kup-switch {
  text-align: center;
}

table.instruction-table td.prevent-cr {
  white-space: pre;
}

table.instruction-table td.text-cell {
  min-width: 150px;
  padding: 0;
}

#customstyle-tab td.text-cell {
  max-width: 0;
}

table.instruction-table td,
table.instruction-table th {
  padding: 6px 13px;
}

table.instruction-table td.switch-cell {
  padding: 14px 13px;
}

table.instruction-table th {
  font-weight: 600;
  position: sticky;
  top: 0;
  background: var(--kup-background-color);
  z-index: 1;
}

table#customstyle-tab td.prevent-cr {
  width: 200px;
}

table#customstyle-tab kup-text-field {
  margin-bottom: 10px;
}

#sample-wrapper {
  width: 100%;
  height: 50vh;
  margin: 3em 0 5em 0;
  position: relative;
  display: flex;
  box-shadow: 0px 0px 7.5px 0px rgba(128, 128, 128, 0.5);
  overflow: hidden;
}

#sample-wrapper.full {
  width: 90vw;
  background: var(--kup-background-color);
  height: 90vh;
  margin: 5vh 5vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: calc(var(--kup-navbar-zindex) + 1);
}

#sample-wrapper.theming {
  height: 75vh;
}

#sample-wrapper.theming #sample-specs {
  width: 100%;
}

#sample-wrapper.theming #sample-comp {
  height: calc(100% - 36px);
}

#sample-wrapper.detached {
  height: 80vh;
  display: block;
}

#sample-wrapper.detached.full {
  height: 90vh;
}

#sample-wrapper.detached #sample-specs {
  height: 40vh;
  width: 100%;
  display: block;
}

#sample-wrapper.detached.full #sample-specs,
#sample-wrapper.detached.full #sample-dynamic,
#sample-wrapper.detached.full #sample-specs.closed {
  height: 45vh;
  width: 100%;
}

#sample-wrapper.detached #sample-dynamic {
  height: 40vh;
  width: 100%;
  display: flex;
}

#split-container {
  width: 100%;
  background: var(--kup-primary-color);
  height: calc(1em * 3.25);
  position: absolute;
  bottom: 0;
  box-shadow: 0px -1px 4px -1px rgba(0, 0, 0, 0.2),
    0px -1px 5px 0 rgba(0, 0, 0, 0.14), 0px -1px 10px 0 rgba(0, 0, 0, 0.12);
}

#sample-wrapper.detached #split-container {
  top: 0;
  box-shadow: -2px 3px 4px -1px rgba(0, 0, 0, 0.2),
    0px -1px 5px 0 rgba(0, 0, 0, 0.14), 0px 7px 10px 0 rgba(0, 0, 0, 0.12);
}

#view-swapper {
  position: absolute;
  top: 0;
  right: 0;
}

#view-splitter {
  display: table;
}

#menu-trigger {
  position: absolute;
  top: 0;
  left: 0;
}

#sample-wrapper.detached #menu-trigger {
  display: none;
}

#copy-html {
  position: absolute;
  bottom: 0;
  right: 0;
}

#json-warning,
#json-setter,
#json-setter-opener,
#css-setter,
#css-setter-opener {
  position: absolute;
  z-index: 1;
  display: none;
  -webkit-animation: fade-in 0.25s ease-out;
  -moz-animation: fade-in 0.25s ease-out;
  -o-animation: fade-in 0.25s ease-out;
  animation: fade-in 0.25s ease-out;
}

#json-setter,
#css-setter {
  top: 10px;
  left: 10px;
}

#json-setter-opener,
#css-setter-opener,
#json-warning {
  bottom: 10px;
  right: 10px;
}

#json-setter-opener.visible + #json-warning {
  right: 50px;
}

#json-setter.visible,
#json-setter-opener.visible,
#css-setter.visible,
#css-setter-opener.visible,
#json-warning.visible {
  display: block;
}

#sample-dynamic {
  box-sizing: border-box;
  width: 20%;
  display: inline-flex;
  height: 100%;
  position: relative;
  transition: width 0.25s;
  padding-bottom: 50px;
  overflow: auto;
}

#sample-comp {
  overflow: auto;
  width: 100%;
  height: 100%;
}

#sample-dynamic.full {
  width: 100%;
}

#sample-wrapper.full #sample-dynamic.full,
#sample-dynamic.full {
  width: 100%;
}

#sample-wrapper #sample-modal {
  display: none;
  position: fixed;
  background-color: black;
  z-index: 120;
  top: 0;
  left: 0;
  opacity: 0.85;
  width: 100%;
  height: 100%;
  -webkit-animation: fade-in 0.25s ease-out;
  -moz-animation: fade-in 0.25s ease-out;
  -o-animation: fade-in 0.25s ease-out;
  animation: fade-in 0.25s ease-out;
}

#sample-wrapper.full #sample-modal {
  display: block;
}

#sample-wrapper.full #sample-specs,
#sample-wrapper.full #sample-dynamic {
  width: 50%;
  background-color: var(--kup-background-color);
  z-index: 140;
}

#sample-dynamic-wrapper {
  /* overflow: auto; */
  width: fit-content;
  margin: auto;
}

#sample-wrapper.detached #sample-dynamic {
  padding-top: calc(1em * 3.25);
  padding-bottom: 0;
}

#sample-comp-wrapper {
  display: flex;
  height: 100%;
  position: relative;
}

#sample-comp-wrapper #demo-component {
  margin: auto;
  visibility: inherit;
}

#sample-specs {
  width: 80%;
  height: 100%;
  position: relative;
  transition: width 0.25s;
}

#sample-wrapper.full #sample-specs.closed,
#sample-specs.closed {
  width: 0;
}

#sample-specs kup-tab-bar {
  width: 100%;
}

#sample-specs-container {
  width: 100%;
  height: calc(100% - 36px);
  position: relative;
  display: block;
  overflow: auto;
}

.sample-section {
  box-sizing: border-box;
  display: none;
  height: 100%;
  position: relative;
  padding: 1em 0.5em;
  -webkit-animation: fade-in 0.25s ease-out;
  -moz-animation: fade-in 0.25s ease-out;
  -o-animation: fade-in 0.25s ease-out;
  animation: fade-in 0.25s ease-out;
}

.sample-section.visible {
  display: block;
}

.sample-section.instruction-table.visible {
  display: table;
}

#json-tab.padded,
#css-tab.padded {
  padding-top: 75px;
}

.sample-section .CodeMirror {
  height: 100%;
  width: 100%;
  z-index: 1;
  color: var(--kup-text-color);
  background: var(--kup-background-color);
}

.sample-section .CodeMirror-linenumber.CodeMirror-gutter-elt {
  background: var(--kup-disabled-background-color);
  color: var(--kup-disabled-color);
}

.sample-section .cm-s-default .cm-string,
.sample-section .cm-s-default .cm-atom {
  color: var(--kup-primary-color);
  font-weight: bold;
}

.sample-section .CodeMirror-gutters {
  border-right: 1px solid var(--kup-disabled-background-color);
  background-color: var(--kup-disabled-background-color);
}

.icon-wrapper {
  box-sizing: border-box;
  min-height: 128px;
  min-width: 128px;
  height: 128px;
  width: 128px;
  padding: 0.25em;
  margin: auto;
}

.icon-label {
  margin-top: 0.4em;
  text-align: center;
  word-break: break-all;
}

.kup-container kup-image {
  margin: auto;
}

.badge-anchor {
  width: 250px;
  height: 50px;
  text-align: center;
  margin: auto;
  position: relative;
  box-shadow: 0px 0px 7.5px 0px rgba(128, 128, 128, 0.5);
}

.badge-anchor span {
  line-height: 50px;
  letter-spacing: 2px;
}

.icon-wrapper.theme-wrapper {
  border-radius: 20px;
  border-style: double;
  border-width: 2px;
  cursor: pointer;
  margin: 0 auto;
  opacity: 1;
  padding: 12px 10.5px 10.5px;
  transition: all 0.25s;
  z-index: 1;
}

.icon-wrapper.theme-wrapper:hover {
  box-shadow: var(--kup-box-shadow);
  transform: scale(1.25);
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .demo-container {
    max-width: 80%;
  }

  #view-swapper,
  #menu-trigger {
    display: none;
  }

  #menu-trigger {
    right: 0;
  }

  h1.team-title {
    text-align: center;
  }

  .member-description {
    width: 100%;
  }

  .team-member {
    display: block;
  }

  .demo-container kup-text-field {
    margin: 2em 0;
  }

  .kup-container {
    margin: 3em 0;
  }
}

@-webkit-keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

#sample-tooltip {
  display: none;
  background: var(--kup-background-color);
  color: var(--kup-text-color);
  font-size: 1.2em;
  padding: 12px;
  border-radius: 8px;
  box-shadow: var(--kup-box-shadow);
  -webkit-animation: fade-in 0.25s ease-out;
  -moz-animation: fade-in 0.25s ease-out;
  -o-animation: fade-in 0.25s ease-out;
  animation: fade-in 0.25s ease-out;
}

#sample-tooltip strong {
  color: var(--kup-primary-color);
}

#sample-tooltip.visible {
  display: block;
}

.type-icon {
  display: inline-block;
  vertical-align: text-bottom;
}

.has-tooltip {
  cursor: help;
}
