.wrapper {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    position: relative;
}

.ganttContainer {
    background: #efefef;
    border-radius: 8px;
    margin: 12px;
    overflow: hidden;
    padding: 12px;
}

.ganttVerticalContainer {
    overflow: hidden;
    font-size: 0;
    margin: 0;
    padding: 0;
}

.horizontalContainer {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.task-gantt {
    overflow: hidden;
}

.tasks {
    border-radius: 8px;
    background: #efefef;
    margin: 12px;
    padding: 12px;
}