.wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  position: relative;
}

.ganttContainer {
  background: var(--kup-gray-color-20);
  border-radius: var(--kup-radius-00);
  overflow: hidden;
  padding: var(--kup-space-05);
}

.ganttVerticalContainer {
  overflow: hidden;
  font-size: 0;
  margin: 0;
  padding: 0;
}

.horizontalContainer {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.horizontalContainerScrollable {
  overflow: auto !important;
  scrollbar-width: 0;
}

.horizontalContainerScrollable::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.task-gantt {
  overflow: hidden;
}
