@import 'standard/kul-card-standard';

:host {
  /**
 * @prop --kul-card-backdrop: Sets the backdrop color of the component when visible.
 * Defaults to rgba(0, 0, 0, 0.32).
 */
  --kul_card_backdrop: var(--kul-card-backdrop, rgba(0, 0, 0, 0.32));

  display: block;
  font-size: var(--kul-font-size);
  height: var(--kul_card_height);
  min-height: var(--kul_card_height);
  min-width: var(--kul_card_width);
  outline: none;
  position: relative;
  width: var(--kul_card_width);
}

#kul-component {
  height: 100%;
  width: 100%;
}
