@import '@material/form-field/mdc-form-field';
@import '@material/textfield/mdc-text-field';
@import '@material/floating-label/mdc-floating-label';
@import '@material/line-ripple/mdc-line-ripple';
@import '@material/notched-outline/mdc-notched-outline';

#kup-component {
  .f-text-field {
    --kup_textfield_background_color: var(
      --kup-textfield-background-color,
      var(--kup-layer-1)
    );
    --kup_textfield_background_color: var(
      --kup-textfield-background-color,
      var(--kup-layer-1)
    );
    --kup_textfield_background_color_hover: var(
      --kup-textfield-background-color-hover,
      var(--kup-layer-1-hover)
    );
    --kup_textfield_border_color: var(
      --kup-textfield-border-color,
      var(--kup-border-strong)
    );
    --kup_textfield_border_color_hover: var(
      --kup-textfield-border-color-hover,
      var(--kup-border-interactive)
    );
    --kup_textfield_outline_color: var(
      --kup-textfield-outline-color,
      var(--kup-border-interactive)
    );
    --kup_textfield_color: var(--kup-textfield-color, var(--kup-text-primary));
    --kup_textfield_label_color: var(
      --kup-textfield-label-color,
      var(--kup-text-secondary)
    );
    --kup_textfield_fullwidth_height: var(
      --kup-textfield-fullwidth-height,
      40px
    );
    --kup_textfield_extrasmall_height: var(
      --kup-textfield-extrasmall-height,
      20px
    );
    --kup_textfield_small_height: var(--kup-textfield-small-height, 32px);
    --kup_textfield_medium_height: var(--kup-textfield-medium-height, 40px);
    --kup_textfield_large_height: var(--kup-textfield-large-height, 48px);
    --kup_textfield_extra_large_height: var(
      --kup-textfield-extra-large-height,
      64px
    );
    --kup_textfield_extrasmall_padding: var(
      --kup-textfield-extrasmall-padding,
      0 var(--kup-space-01) 0 var(--kup-space-01)
    );
    --kup_textfield_medium_padding: var(
      --kup-textfield-medium-padding,
      0 var(--kup-space-05)
    );
    --kup_textfield_extrasmall_font_size: var(
      --kup-textfield-extrasmall-font-size,
      12px
    );
    --kup_textfield_fullwidth_padding: var(
      --kup-textfield-fullwidth-padding,
      16px
    );
    --kup_textfield_icon_color: var(
      --kup-textfield-icon-color,
      var(--kup_textfield_color)
    );
    --kup_textfield_primary_color: var(
      --kup-textfield-primary-color,
      var(--kup-text-main)
    );
    --kup_textfield_text_align: var(--kup-textfield-text-align, start);
    --kup_textfield_width: var(--kup-textfield-width, 100%);
    --mdc-theme-primary: var(--kup_textfield_primary_color);
    --mdc-shape-small: 0px;
    --kup_textfield_border_radius: var(--kup-textfield-border-radius, unset);

    width: var(--kup_textfield_width);
    display: flex;
    flex-direction: column;
    gap: 4px;
    @include kup-body-compact-01;

    .mdc-text-field-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .mdc-text-field__label-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 4px;
      .mdc-text-field__label-character-counter {
        @include kup-caption-01;
      }
    }

    .mdc-form-field {
      & label {
        color: var(--kup_textfield_label_color);
        margin: unset;
      }

      .mdc-text-field__input {
        caret-color: var(--kup_textfield_color);
        box-sizing: border-box;
        @include kup-body-compact-01;
        padding: 6px 0px;
      }
      .mdc-text-field__input::placeholder {
        opacity: 1;
      }
    }

    .mdc-quantity-buttons {
      height: 100%;
      display: flex;

      button {
        height: 100%;
        aspect-ratio: 1;
        background-color: transparent;
        border: unset;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: var(kup_textfield_background_color);
        }

        &:focus {
          border: 1px solid var(--kup_textfield_primary_color);
          outline: none;
        }
      }

      button:first-child {
        position: relative;

        &::before {
          content: '';
          width: 1px;
          height: 50%;
          background-color: var(--kup_textfield_background_color);
          position: absolute;
          top: 50%;
          right: -0.5px;
          z-index: -1;
          transform: translateY(-50%);
        }
      }
    }

    label,
    .mdc-text-field-helper-text,
    .mdc-error-message,
    .mdc-alert-message {
      @include kup-label-01;
      color: var(--kup_textfield_label_color);
    }

    .mdc-text-field {
      display: flex;
      gap: var(--kup-space-02);
      border-radius: var(--kup_textfield_border_radius);
      outline: 2px solid transparent;
      outline-offset: -2px;
      border-bottom: 1px solid var(--kup_textfield_border_color);
      background-color: var(--kup_textfield_background_color);
      align-items: center;
      padding: var(--kup_textfield_medium_padding);

      input {
        @include kup-body-compact-01;
        text-align: var(--kup_textfield_text_align);
        text-overflow: ellipsis;
      }

      input::placeholder {
        color: var(--kup-gray-color-40);
      }

      .#{$kup-icon} {
        background-color: var(--kup_textfield_icon_color);
        cursor: pointer;
        height: 16px;
        width: 16px;
        min-width: 16px;
        min-height: 16px;
        outline: none;
        pointer-events: all;

        &.#{$kup-icon-clear}:hover {
          background-color: var(--kup-danger-color-60);
        }
      }

      &.mdc-text-field--disabled {
        border: unset;
        .#{$kup-icon} {
          pointer-events: none;
        }
      }

      &.mdc-text-field--read-only {
        --kup_textfield_border_color: var(--kup-border-disabled);
        --kup_textfield_background_color: var(--kup-layer-0);
        pointer-events: none;
        .#{$kup-icon},
        button {
          pointer-events: none;
        }
      }
      &.mdc-text-field--read-only-is-select {
        .mdc-text-field__input,
        .#{$kup-icon},
        button {
          cursor: pointer;
        }
      }
      &.mdc-text-field--extra-small {
        height: var(--kup_textfield_extrasmall_height) !important;
        padding: var(--kup_textfield_extrasmall_padding);
        input {
          font-size: var(--kup_textfield_extrasmall_font_size);
        }
      }

      &.mdc-text-field--small {
        height: var(--kup_textfield_small_height) !important;
      }

      &.mdc-text-field--medium {
        height: var(--kup_textfield_medium_height);
      }

      &.mdc-text-field--large {
        height: var(--kup_textfield_large_height) !important;
      }

      &.mdc-text-field--extra-large {
        height: var(--kup_textfield_extra_large_height) !important;
      }

      &.mdc-text-field--focused:not(.mdc-text-field--disabled) {
        outline: 2px solid var(--kup_textfield_outline_color);
        &.mdc-text-field--error {
          outline: 2px solid var(--kup-danger-color-60);
        }
      }

      &.mdc-text-field--filled:not(.mdc-text-field--disabled)
        .mdc-line-ripple:before,
      &.mdc-text-field--fullwidth:not(.mdc-text-field--disabled)
        .mdc-line-ripple:before {
        border-bottom-color: rgba(var(--kup_textfield_color_rgb), 0.325);

        &:hover {
          border-bottom-color: rgba(var(--kup_textfield_color_rgb), 0.575);
        }

        &.mdc-line-ripple--active {
          border-bottom-color: var(--kup_textfield_primary_color);
        }
      }

      &.mdc-text-field--with-leading-icon .mdc-floating-label {
        left: 36px;
      }

      &.mdc-text-field--with-trailing-icon input ~ .#{$kup-icon-clear} {
        right: 26px;
      }

      &.mdc-text-field--fullwidth.mdc-text-field--focused {
        color: var(--kup_textfield_primary_color);
      }

      &.mdc-text-field--fullwidth {
        width: 100%;
      }

      &.mdc-text-field--outlined {
        border: 1px solid var(--kup_textfield_border_color);

        &.mdc-text-field--with-leading-icon
          label:not(.mdc-floating-label--float-above) {
          left: 20px;
        }

        & .mdc-notched-outline__leading,
        & .mdc-notched-outline__notch,
        & .mdc-notched-outline__trailing {
          border-color: rgba(var(--kup_textfield_color_rgb), 0.575);
          border-bottom-style: inset;
        }

        &:hover .mdc-notched-outline__leading,
        &:hover .mdc-notched-outline__notch,
        &:hover .mdc-notched-outline__trailing,
        &.mdc-text-field--focused .mdc-notched-outline__leading,
        &.mdc-text-field--focused .mdc-notched-outline__notch,
        &.mdc-text-field--focused .mdc-notched-outline__trailing {
          border-color: var(--kup_textfield_primary_color);
        }

        &.mdc-text-field--disabled .mdc-notched-outline__leading,
        &.mdc-text-field--disabled .mdc-notched-outline__notch,
        &.mdc-text-field--disabled .mdc-notched-outline__trailing {
          border-color: rgba(var(--kup_textfield_color_rgb), 0.325);
        }

        &.mdc-text-field--disabled {
          border: unset;
        }

        &.mdc-text-field--textarea .mdc-floating-label--float-above {
          transform: translateY(-160%) scale(0.75);
        }
      }

      &:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) {
        @include mdc-text-field-density(-4);

        label.mdc-floating-label {
          display: block;
        }
      }

      &.mdc-text-field--outlined:not(.mdc-text-field--textarea) {
        @include mdc-text-field-outlined-density(-4);

        label.mdc-floating-label {
          display: block;

          &.mdc-floating-label--float-above {
            overflow: visible;
          }
        }

        transition: border-color 0.25s;

        &.mdc-text-field--with-leading-icon .mdc-floating-label--float-above {
          transform: translateY(-26px) scale(0.75) translateX(-42px);
        }
      }

      &.mdc-text-field--filled {
        &.mdc-text-field--with-leading-icon label,
        &.mdc-text-field--with-leading-icon input {
          left: 34px;
        }

        .mdc-floating-label--float-above {
          transform: translateY(-111%) scale(0.75);
        }

        &:not(.mdc-text-field--no-label) input {
          box-sizing: border-box;
        }

        &:not(.mdc-text-field--disabled) {
          background-color: var(--kup_textfield_background_color);
        }
      }

      & .mdc-notched-outline {
        opacity: 1;
      }

      &:not(.mdc-text-field--disabled) {
        & .mdc-text-field__input,
        & .mdc-floating-label,
        & .mdc-text-field__label-character-counter,
        &
          + .mdc-text-field-helper-line
          .mdc-text-field__label-character-counter,
        & + .mdc-text-field-helper-line .mdc-text-field-helper-text {
          color: var(--kup_textfield_color);
        }

        & .mdc-text-field__input::placeholder {
          color: var(--kup-text-placeholder);
        }

        & .mdc-floating-label,
        & .mdc-text-field__input::placeholder,
        & .mdc-text-field__label-character-counter,
        &
          + .mdc-text-field-helper-line
          .mdc-text-field__label-character-counter,
        & + .mdc-text-field-helper-line .mdc-text-field-helper-text {
          border: unset;
        }

        &.mdc-text-field--textarea .mdc-text-field__label-character-counter {
          position: absolute;
          bottom: 9px;
          right: 15px;
        }
      }

      &.mdc-text-field--disabled:not(.mdc-text-field--outlined) {
        border: unset;
      }

      &:not(.mdc-text-field--focused)
        + .mdc-text-field-helper-line
        .mdc-text-field-helper-text:not(
          .mdc-text-field-helper-text--persistent
        ) {
        opacity: 0;
      }

      &.mdc-text-field--focused:not(.mdc-text-field-disabled)
        .mdc-floating-label--float-above {
        color: var(--kup_textfield_primary_color);
        opacity: 1;
      }

      &.mdc-text-field--with-quantity-buttons {
        padding: 0 0 0 16px;
        input::-webkit-inner-spin-button,
        input::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }

      &.mdc-text-field--error {
        outline: 2px solid var(--kup-danger-color-60);
      }

      &.mdc-text-field--textarea {
        height: auto;
        padding: 0;
        .mdc-text-field__input {
          margin: 0;
          padding: 16px;
        }

        &.mdc-text-field--focused:not(.mdc-text-field--disabled) {
          border: 1px solid var(--kup_textfield_primary_color);
          padding: 0;
        }

        &.mdc-text-field--error {
          padding: 0;
        }

        &:not(.mdc-text-field--error) {
          border-top-color: transparent;
          border-left-color: transparent;
          border-right-color: transparent;
        }

        .kup-clear-icon {
          position: absolute;
          top: var(--kup-space-03);
          right: var(--kup-space-03);
        }

        .mdc-error-icon,
        .mdc-alert-icon {
          width: 16px;
          height: 16px;
          position: absolute;
          top: 5px;
          right: 5px;
          display: inline-flex;
          justify-content: center;

          .f-image .f-image__icon {
            --kup_image_height: 16px;
            --kup_image_width: 16px;
            width: 16px;
          }
          .kup-icon {
            padding: unset;
          }
        }

        &.mdc-text-field--read-only {
          --kup_textfield_border_color: var(--kup-border-disabled);
          pointer-events: none;
          .#{$kup-icon},
          button {
            pointer-events: none;
          }
        }
      }
      .f-image .f-image__icon {
        --kup_image_height: 16px;
        --kup_image_width: 16px;
        width: 16px;
      }

      &.top-right-indicator {
        position: relative;

        &:after {
          content: '';
          border-width: 0 0 0.5em 0.5em;
          border-color: transparent transparent var(--kup-secondary-color)
            transparent;
          border-style: solid;
          transform: rotate(270deg);
          position: absolute;
          right: 0;
          top: 0;
        }
      }

      &.mdc-text-field--legacy-look {
        .mdc-text-field__input {
          font-family: var(--kup-font-family-monospace);
          font-size: 12px;
        }
      }
    }

    .mdc-error-icon,
    .mdc-alert-icon {
      height: 100%;
      .kup-icon {
        height: 100%;
        background-color: unset;
        display: inline-flex;
        cursor: default;
      }
    }

    .mdc-error-message {
      color: var(--kup-danger-color-60);
    }

    .mdc-label-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 4px;
    }

    &.#{$kup-class-full-height} {
      height: 100%;

      .mdc-text-field-container {
        height: 100%;
      }

      .mdc-text-field {
        height: 100%;
        overflow-y: hidden;

        &:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) {
          height: 100%;
        }

        .mdc-text-field__input {
          height: 100%;
        }
      }
    }

    &.#{$kup-class-full-width} {
      width: 100%;

      .mdc-text-field {
        &.mdc-text-field--with-leading-icon {
          padding-left: 0;
        }

        &.mdc-text-field--with-trailing-icon input ~ .kup-clear-icon {
          right: 40px;
        }
      }
    }

    &.#{$kup-class-light-mode} {
      .mdc-text-field-container .mdc-text-field--lightmode {
        background-color: var(--kup-layer-0);
      }
    }

    &.#{$kup-class-shaped} {
      .mdc-text-field.mdc-text-field--outlined
        .mdc-notched-outline
        .mdc-notched-outline__leading {
        width: 28px;
      }

      .mdc-text-field.mdc-text-field--outlined
        .mdc-notched-outline
        .mdc-notched-outline__trailing {
        width: 28px;
      }
    }

    &.#{$kup-class-danger} {
      --kup-textfield-primary-color: var(--kup-danger-color-60);
      --kup-textfield-primary-color-rgb: var(--kup-danger-color-60-rgb);
    }

    &.#{$kup-class-info} {
      --kup-textfield-primary-color: var(--kup-info-color-50);
      --kup-textfield-primary-color-rgb: var(--kup-info-color-50-rgb);
    }

    &.#{$kup-class-secondary} {
      --kup-textfield-primary-color: var(--kup-secondary-color);
      --kup-textfield-primary-color-rgb: var(--kup-secondary-color-rgb);
    }

    &.#{$kup-class-success} {
      --kup-textfield-primary-color: var(--kup-success-color-60);
      --kup-textfield-primary-color-rgb: var(--kup-success-color-60-rgb);
    }

    &.#{$kup-class-warning} {
      --kup-textfield-primary-color: var(--kup-warning-color-50);
      --kup-textfield-primary-color-rgb: var(--kup-warning-color-50-rgb);
    }

    .#{$kup-icon}.#{$kup-icon-clear} {
      -webkit-mask: var(--kup-clear-icon);
      mask: var(--kup-clear-icon);
    }

    .#{$kup-icon}.#{$kup-icon-search} {
      -webkit-mask: var(--kup-search-icon);
      mask: var(--kup-search-icon);
    }
    .mdc-text-field__input::placeholder {
      opacity: 1;
    }

    .mdc-text-field-container--disabled {
      .mdc-text-field__label-container {
        label.mdc-label,
        .mdc-text-field__label-character-counter {
          color: var(--kup-text-disabled);
        }
      }
      .mdc-text-field__input {
        color: var(--kup-text-disabled);
      }
    }
  }
}
