.f-checkbox {
  --kup_danger_icon_color: var(--kup-danger-color, var(--kup-danger-color-60));
  --kup_warning_icon_color: var(
    --kup-warning-color,
    var(--kup-warning-color-50)
  );
  --kup_checkbox_disabled_checkmark_color: var(
    --kup-checkbox-disabled-checkmark-color,
    var(--kup-border-disabled)
  );
  --kup_checkbox_padding: var(--kup-checkbox-padding, 11px);
  --kup_checkbox_primary_color: var(
    --kup-checkbox-primary-color,
    var(--kup-text-primary)
  );
  --kup_checkbox_text_color: var(
    --kup-checkbox-text-color,
    var(--kup-text-primary)
  );
  --kup_checkbox_text_on_primary_color: var(
    --kup-checkbox-text-on-primary-color,
    var(--kup-layer-1)
  );
  --kup_checkbox_text_disabled: var(
    --kup-checkbox-text-disabled,
    var(--kup-text-disabled)
  );
  --kup_checkbox_legacy_size: var(--kup-checkbox-legacy-size, 15px);

  @include kup-body-compact-01;
  display: flex;
  flex-direction: column;

  .form-field {
    color: var(--kup_checkbox_text_color);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-decoration: inherit;
    align-items: center;
    vertical-align: middle;
    display: inline-flex;

    label {
      margin-left: 0px;
      margin-right: auto;
      order: 0;
      cursor: pointer;

      &:hover {
        color: var(--kup_checkbox_primary_color);
      }
    }

    &.form-field--align-end {
      label {
        margin-left: auto;
        margin-right: 0px;
        order: -1;
      }
    }
  }

  .checkbox {
    display: inline-block;
    position: relative;
    flex: 0 0 18px;
    box-sizing: content-box;
    line-height: 0;
    width: 18px;
    height: 18px;
    white-space: nowrap;
    cursor: pointer;
    vertical-align: bottom;
    will-change: transform, opacity;
    z-index: 0;
    padding: var(--kup_checkbox_padding);
    transition: background-color 125ms linear;

    &:hover {
      // background: rgba(--kup_checkbox_disabled_checkmark_color, 0.5);

      label {
        color: var(--kup_checkbox_primary_color);
      }
    }

    .checkbox__native-control {
      position: absolute;
      margin: 0;
      padding: 0;
      opacity: 0;
      cursor: inherit;
      top: 0;
      left: 0;
      right: 0;
      height: 40px;
      width: 40px;

      &:checked ~ {
        .checkbox__background {
          .checkbox__checkmark {
            transition: opacity 180ms 0ms cubic-bezier(0, 0, 0.2, 1),
              transform 180ms 0ms cubic-bezier(0, 0, 0.2, 1);
            opacity: 1;
          }
        }
      }
    }

    .checkbox__checkmark-path {
      stroke: var(--kup_checkbox_text_on_primary_color);
      stroke-dasharray: 29.7833385;
      stroke-dashoffset: 29.7833385;
      stroke-width: 3.12px;
      transition: stroke-dashoffset 180ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
    }

    .checkbox__background {
      position: absolute;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      width: 18px;
      height: 18px;
      border: 1px solid var(--kup_checkbox_text_color);
      border-radius: 2px;
      background-color: transparent;
      pointer-events: none;
      will-change: background-color, border-color;
      transition: background-color 90ms 0ms cubic-bezier(0.4, 0, 0.6, 1),
        border-color 90ms 0ms cubic-bezier(0.4, 0, 0.6, 1);

      .checkbox__checkmark {
        color: var(--kup_checkbox_text_on_primary_color);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        transition: opacity 180ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
      }

      .checkbox__mixedmark {
        position: absolute;
        top: 6px;
        left: 1px;
        color: var(--kup_checkbox_text_on_primary_color);
        width: 75%;
        height: 0;
        border-width: 1px;
        border-style: solid;
        opacity: 0;
        transition: opacity 90ms 0ms cubic-bezier(0.4, 0, 0.6, 1),
          transform 90ms 0ms cubic-bezier(0.4, 0, 0.6, 1);
      }
    }

    &.checkbox--checked {
      .checkbox__background {
        background-color: var(--kup_checkbox_primary_color);
        opacity: 1;
      }

      .checkbox__checkmark-path {
        stroke-dashoffset: 0;
      }
    }

    &.checkbox--indeterminate {
      .checkbox__background {
        background-color: var(--kup_checkbox_primary_color);
      }

      .checkbox__mixedmark {
        border-color: var(--kup_checkbox_text_on_primary_color);
        transform: scaleX(1) rotate(0deg);
        opacity: 1;
      }

      .checkbox__checkmark-path {
        stroke-dashoffset: 0;
      }
    }

    &.checkbox--disabled {
      pointer-events: none;
      cursor: not-allowed;

      + label {
        pointer-events: none;
        color: var(--kup_checkbox_text_disabled);
      }

      .checkbox__background {
        background-color: transparent;
        border-color: var(--kup_checkbox_disabled_checkmark_color);
      }

      &.checkbox--checked {
        .checkbox__background {
          background-color: var(--kup_checkbox_disabled_checkmark_color);
          border-color: transparent;
        }

        .checkbox__checkmark {
          color: var(--kup_checkbox_disabled_checkmark_color);
        }

        .checkbox__mixedmark {
          color: var(--kup_checkbox_disabled_checkmark_color);
        }
      }
      .checkbox__error-message {
        color: var(--kup_danger_icon_color);
      }
    }
  }

  .checkbox--legacy-look {
    padding: 0;
    flex: 0;
    height: var(--kup_checkbox_legacy_size);
    width: var(--kup_checkbox_legacy_size);

    .checkbox__background,
    .checkbox__native-control {
      height: var(--kup_checkbox_legacy_size);
      width: var(--kup_checkbox_legacy_size);
    }
  }

  .checkbox__error-message,
  .checkbox__alert-message {
    padding: 0 var(--kup_checkbox_padding);
    display: inline-flex;
    align-items: center;
    gap: 8px;
    @include kup-label-01;

    .f-image {
      margin: unset;
    }
  }

  .checkbox__error-message {
    color: var(--kup_danger_icon_color);
  }

  &.checkbox--error {
    .checkbox__background {
      border-color: var(--kup_danger_icon_color);
    }
  }

  &.#{$kup-class-danger} {
    --kup-checkbox-primary-color: var(--kup_danger_icon_color);
    --kup-checkbox-primary-color-rgb: var(--kup-danger-color-rgb);
    --kup-checkbox-text-on-primary-color: white;
    --kup-checkbox-text-on-primary-color-rgb: 255, 255, 255;
  }

  &.#{$kup-class-info} {
    --kup-checkbox-primary-color: var(--kup-info-color-50);
    --kup-checkbox-primary-color-rgb: var(--kup-info-color-rgb);
    --kup-checkbox-text-on-primary-color: white;
    --kup-checkbox-text-on-primary-color-rgb: 255, 255, 255;
  }

  &.#{$kup-class-secondary} {
    --kup-checkbox-primary-color: var(--kup-secondary-color);
    --kup-checkbox-primary-color-rgb: var(--kup-secondary-color-rgb);
    --kup-checkbox-text-on-primary-color: var(--kup-text-on-secondary-color);
    --kup-checkbox-text-on-primary-color-rgb: var(
      --kup-text-on-secondary-color-rgb
    );
  }

  &.#{$kup-class-success} {
    --kup-checkbox-primary-color: var(--kup-success-color);
    --kup-checkbox-primary-color-rgb: var(--kup-success-color-rgb);
    --kup-checkbox-text-on-primary-color: white;
    --kup-checkbox-text-on-primary-color-rgb: 255, 255, 255;
  }

  &.#{$kup-class-warning} {
    --kup-checkbox-primary-color: var(--kup-warning-color-50);
    --kup-checkbox-primary-color-rgb: var(--kup-warning-color-rgb);
    --kup-checkbox-text-on-primary-color: white;
    --kup-checkbox-text-on-primary-color-rgb: 255, 255, 255;
  }
}
