/**
* @prop --kup-lazy_animation-time: Sets the duration of the animation.
* @prop --kup-lazy_placeholder-color: Sets color of the placeholder icon.
*/

:host {
  --kup-lazy_animation-time: 2s;
  --kup-lazy_placeholder-color: var(--kup-icon-color);

  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}

#kup-component {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

svg {
  fill: var(--kup-lazy_placeholder-color);
  animation: shine ease var(--kup-lazy_animation-time) infinite;
}

@keyframes shine {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.4;
  }
}
