/**
* @prop --kup-lazy-animation-time: Sets the duration of the animation.
* @prop --kup-lazy-height: Sets the height of the component and subcomponent.
* @prop --kup-lazy-hor-alignment: Sets the horizontal alignment of the subcomponent.
* @prop --kup-lazy-placeholder-color: Sets color of the placeholder icon.
* @prop --kup-lazy-ver-alignment: Sets the vertical alignment of the subcomponent.
* @prop --kup-lazy-width: Sets the width of the component and subcomponent.
*/

:host {
  --kup_lazy_animation_time: var(--kup-lazy-animation-time, 2s);
  --kup_lazy_hor_alignment: var(--kup-lazy-hor-alignment, center);
  --kup_lazy_placeholder_color: var(
    --kup-lazy-placeholder-color,
    var(--kup-icon-color)
  );
  --kup_lazy_height: var(--kup-lazy-height, 100%);
  --kup_lazy_ver_alignment: var(--kup-lazy-ver-alignment, center);
  --kup_lazy_width: var(--kup-lazy-width, 100%);

  display: block;
  height: var(--kup_lazy_height);
  width: var(--kup_lazy_width);
  position: relative;
}

#kup-component {
  align-items: var(--kup_lazy_ver_alignment);
  display: flex;
  justify-content: var(--kup_lazy_hor_alignment);
  height: var(--kup_lazy_height);
  width: var(--kup_lazy_width);

  > * {
    height: var(--kup_lazy_height);
  }

  kup-data-table {
    min-width: 100%;
  }
}

.kup-loaded,
.kup-to-be-loaded {
  height: var(--kup_lazy_height);
  width: var(--kup_lazy_width);
}

svg {
  fill: var(--kup_lazy_placeholder_color);
  animation: shine ease var(--kup_lazy_animation_time) infinite;
}

@keyframes shine {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.4;
  }
}
