/*-------------------------------------------------*/
/*        C o m p o n e n t   C l a s s e s        */
/*-------------------------------------------------*/

:host(.kup-to-be-loaded) {
  #kup-component {
    position: absolute;
    & > * {
      margin: auto;
    }
  }
}

:host(.kup-data-table.kup-loaded) {
  #kup-component {
    display: block;
  }
}
