/*-------------------------------------------------*/
/*        C o m p o n e n t   C l a s s e s        */
/*-------------------------------------------------*/

:host(.#{$kup-class-bottom-aligned}) {
  --kup-lazy-ver-alignment: flex-end;
}

:host(.#{$kup-class-left-aligned}) {
  --kup-lazy-hor-alignment: flex-start;
}

:host(.#{$kup-class-right-aligned}) {
  --kup-lazy-hor-alignment: flex-end;
}

:host(.#{$kup-class-top-aligned}) {
  --kup-lazy-ver-alignment: flex-start;
}

:host(.kup-to-be-loaded) {
  #kup-component {
    position: absolute;
    & > * {
      margin: auto;
    }
  }
}
