@import '@material/list/mdc-list';

:host {
  display: block;
  font-size: var(--kup-font-size);
  outline: none;
}

#kup-component .mdc-list {
  font-size: 1em;

  .mdc-list-item {
    & .mdc-list-item__text,
    & .mdc-list-item__primary-text,
    & .mdc-list-item__secondary-text {
      font-family: var(--kup-font-family);
    }

    & .mdc-list-item__text {
      padding-bottom: 4px;
      padding-top: 4px;
    }

    & .mdc-list-item__graphic + .mdc-list-item__text {
      padding-top: 10px;
    }
  }

  &:not(.mdc-list--non-interactive) .mdc-list-item {
    &:not(.mdc-list-item--selected):hover {
      background-color: var(--kup-hover-background-color);
      color: var(--kup-hover-color);
    }
  }

  &.mdc-list--non-interactive .mdc-list-item {
    cursor: auto;
  }
}

.mdc-list.text-hidden {
  & .mdc-list-item__text {
    display: none;
  }
}

.mdc-list:not(.mdc-list--two-line) {
  @include mdc-list-deprecated-single-line-density(0);

  & .mdc-list-item:not(.mdc-list-item--selected) .mdc-list-item__text {
    color: var(--kup-text-color);
  }
}

.mdc-list-item__secondary-text {
  color: var(--kup-text-color);
  opacity: 0.75;
}

.icon-container {
  margin: 0;
  margin-right: 0.25em;
}

kup-checkbox {
  margin: 0;
}
