@import '@material/list/mdc-list';
@import '@material/menu/mdc-menu';
@import '@material/menu-surface/mdc-menu-surface';

:host {
  display: block;
}

#kup-component .mdc-list {
  .mdc-list-item {
    & .mdc-list-item__text,
    & .mdc-list-item__primary-text,
    & .mdc-list-item__secondary-text {
      font-family: var(--kup-font-family);
    }
  }

  &:not(.mdc-list--non-interactive) .mdc-list-item {
    &:not(.mdc-list-item--selected):hover {
      background-color: var(--kup-hover-background-color);
      color: var(--kup-hover-color);
    }
  }

  &.mdc-list--non-interactive .mdc-list-item {
    cursor: auto;
  }
}

.mdc-list.text-hidden {
  & .mdc-list-item__text {
    display: none;
  }
}

.mdc-list:not(.mdc-list--two-line) {
  @include mdc-list-single-line-density(-4);

  & .mdc-list-item:not(.mdc-list-item--selected) .mdc-list-item__text {
    color: var(--kup-text-color);
  }
}

.mdc-list-item__secondary-text {
  color: var(--kup-text-color);
  opacity: 0.75;
}

.icon-container {
  background-color: var(--kup-icon-color);
  height: 24px;
  width: 24px;
  margin-right: 6px;
}

kup-checkbox {
  margin: 0;
}

.mdc-list-item--selected .icon-container {
  background-color: var(--kup-main-color);
}
