/**
* @prop --kup-input-panel-background-color: Sets background of the component.
* @prop --kup-input-panel-color: Sets text color of the component.
* @prop --kup-input-panel-font-family: Sets font family of the component.
* @prop --kup-input-panel-font-size: Sets font size of the component.
* @prop --kup-input-panel-label-alignment: Sets the text alignment of labels.
* @prop --kup-input-panel-label-width: Sets the width of labels.
* @prop --kup-input-panel-padding: Sets the padding of the input panel.
*/

:host {
  --kup-fcell-width: fit-content;
  --kup_input_panel_background_color: var(
    --kup-input-panel-background-color,
    var(--kup-layer-0)
  );
  --kup_input_panel_color: var(
    --kup-input-panel-color,
    var(--kup-text-secondary)
  );
  --kup_input_panel_font_family: var(
    --kup-input-panel-font-family,
    var(--kup-font-family)
  );
  --kup_input_panel_font_size: var(
    --kup-input-panel-font-size,
    var(--kup-font-size)
  );
  --kup_input_panel_label_alignment: var(--kup-input-panel-label-alignment);
  --kup_input_panel_label_width: var(--kup-input-panel-label-width);
  --kup_input_panel_padding: var(--kup-input-panel-padding, 1em 0);

  .input-panel__flex-horizontal {
    display: flex;
    flex-direction: row; /* Allinea gli elementi orizzontalmente */
    gap: 1rem; /* Aggiungi spazio tra gli elementi */
  }

  .input-panel__flex-vertical {
    display: flex;
    flex-direction: column; /* Allinea gli elementi verticalmente */
    gap: 1rem; /* Aggiungi spazio tra gli elementi */
  }

  .input-panel {
    background: var(--kup_input_panel_background_color);
    color: var(--kup_input_panel_color);
    display: flex;
    flex-grow: 1;
    overflow: auto;
    padding: var(--kup_input_panel_padding);
    position: relative;
    gap: 2rem;
    // width: var(--kup-fcell_width);

    &__commands {
      display: flex;
      gap: 2rem;
    }

    &--column {
      flex-direction: column;
    }

    &__section_label_container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &__section {
      display: grid;
      min-width: 0;

      .f-cell__content {
        > * {
          width: 100%;
        }
      }
    }

    &__horizontal-section {
      display: inline-grid;
    }

    .f-cell .f-checkbox .checkbox .checkbox__native-control {
      height: 40px;
      width: 40px;
    }

    &__label_container {
      display: flex;
      flex-direction: column;
      justify-content: center;

      > .f-cell {
        flex: 1;
      }
    }

    &__tabs_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
    }

    .f-cell.number-cell {
      .f-cell__content {
        --kup-textfield-font-family: var(--kup_cell_font_family);

        font-family: var(--kup_cell_font_family);
      }
    }

    .input-panel-label {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
    }

    &--absolute {
      // TODO: calc the height dynamically
      height: 40ch;
      justify-content: flex-end;

      .input-panel-label {
        justify-content: start;
      }

      .mdc-text-field {
        height: unset !important;
      }
    }
  }
}
