/**
* @prop --kup-input-panel-background-color: Sets background of the component.
* @prop --kup-input-panel-color: Sets text color of the component.
* @prop --kup-input-panel-font-family: Sets font family of the component.
* @prop --kup-input-panel-font-size: Sets font size of the component.
* @prop --kup-input-panel-label-alignment: Sets the text alignment of labels.
* @prop --kup-input-panel-label-width: Sets the width of labels.
* @prop --kup-input-panel-padding: Sets the padding of the input panel.
*/

:host {
  --kup-fcell-width: fit-content;
  --kup_input_panel_background_color: var(
    --kup-input-panel-background-color,
    var(--kup-layer-0)
  );
  --kup_input_panel_color: var(
    --kup-input-panel-color,
    var(--kup-text-secondary)
  );
  --kup_input_panel_font_family: var(
    --kup-input-panel-font-family,
    var(--kup-font-family)
  );
  --kup_input_panel_font_size: var(
    --kup-input-panel-font-size,
    var(--kup-font-size)
  );

  --kup_textfield_textarea_height_conversion_input_panel: var(
    --kup-textfield-textarea-small-height-conversion-input_panel,
    200px
  );
  --kup_textfield_textarea_small_width_conversion_input_panel: var(
    --kup-textfield-textarea-small-width-conversion-input_panel,
    300px
  );
  --kup_input_panel_label_alignment: var(--kup-input-panel-label-alignment);
  --kup_input_panel_label_width: var(--kup-input-panel-label-width);
  --kup_input_panel_padding: var(--kup-input-panel-padding, 1em 0);
  --kup_input_panel_padding--inline: var(--kup-input-panel-padding--inline, 0);
  --kup_input_panel_absolute_max_height: var(
    --kup-input-panel-absolute-max-height,
    /* 716px comes from the maximum number of lines (32) multiplied by the default height per line (22px) plus 12px for the possibility that the scrollbar will be rendered */
      716px
  );

  .input-panel {
    background: var(--kup_input_panel_background_color);
    color: var(--kup_input_panel_color);
    display: flex;
    flex-grow: 1;
    overflow: auto;
    padding: var(--kup_input_panel_padding);
    position: relative;
    gap: 1rem;

    &__commands {
      display: flex;
      gap: 1rem;
      &.input-panel__commands--right {
        flex-shrink: 0;
        overflow: hidden;
      }
    }

    &--inline {
      flex: 1;
      overflow-x: auto;
      white-space: nowrap;
      padding: var(--kup_input_panel_padding--inline);
      display: inline-flex;
    }

    &--column {
      flex-direction: column;
    }

    &__section_label_container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &__section {
      display: grid;
      min-width: 0;

      .f-cell__content {
        > * {
          width: 100%;
        }
      }

      .f-text-field {
        .mdc-text-field {
          &.mdc-text-field--textarea {
            min-height: var(
              --kup_textfield_textarea_height_conversion_input_panel
            ) !important;
            min-width: var(
              --kup_textfield_textarea_small_width_conversion_input_panel
            ) !important;
          }
        }
      }
    }

    &__horizontal-section {
      display: inline-grid;
    }

    &__section-inline {
      display: inline-block;
      width: max-content;
    }

    &__label_container {
      display: flex;
      flex-direction: column;
      justify-content: center;

      > .f-cell {
        flex: 1;
      }
    }

    &__tabs_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
    }

    .f-cell.number-cell {
      .f-cell__content {
        --kup-textfield-font-family: var(--kup_cell_font_family);

        font-family: var(--kup_cell_font_family);
      }
    }

    .input-panel-label {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;

      &--legacy-look {
        font-size: 12px;
        font-family: var(--kup-font-family-monospace);
        white-space: pre;
      }
    }

    &--absolute {
      justify-content: flex-end;
      padding: var(--kup-space-02);
      max-height: var(--kup_input_panel_absolute_max_height);

      .input-panel-label {
        justify-content: start;
        &.input-panel-label-number {
          justify-content: end;
        }
      }

      .mdc-text-field {
        height: unset !important;
      }
    }
    .input-panel-form--inline {
      display: flex;
      align-items: end;
      gap: 1rem;
    }
  }
}
