/**
* @prop --kup-button_border-radius: Sets border radius of the button.
* @prop --kup-button_font-family: Sets font family of the button.
* @prop --kup-button_font-size: Sets font size of the button.
* @prop --kup-button_font-weight: Sets font weight of the button.
* @prop --kup-button_height: Sets height of the button.
* @prop --kup-button_padding: Sets padding of the button.
* @prop --kup-button_primary-color: Sets the primary color of the button.
* @prop --kup-button_primary-color-h: Sets the primary color Hue value of the button (used for focus/hover effects).
* @prop --kup-button_primary-color-s: Sets the primary color Saturation value of the button (used for focus/hover effects).
* @prop --kup-button_primary-color-l: Sets the primary color Lightness value of the button (used for focus/hover effects).
* @prop --kup-button_primary-color-rgb: Sets the primary color RGB values of the button (used for shaders).
*
* NOTE: These variables are defined in the "_variables.scss" file, because they must work even without the kup component (it's a functional component)
*
*/

:host {
  display: block;
  font-size: var(--kup-font-size);
  margin: auto;
  width: max-content;
}
