/**
* @prop --kup-grid-gap: Sets gap of the grid.
* @prop --kup-grid-gap-mobile: Sets gap of the grid for lower resolutions.
* @prop --kup-grid-font-size: Sets font size of the component.
* @prop --kup-grid-padding: Sets padding of the outer layer.
*/

:host {
  --kup_grid_font_size: var(--kup-grid-font-size, var(--kup-font-size));
  --kup_grid_gap: var(--kup-grid-gap, 24px);
  --kup_grid_gap_mobile: var(--kup-grid-gap-mobile, 16px);
  --kup_grid_padding: var(--kup-grid-padding, 24px);

  font-size: var(--kup_grid_font_size);
  height: 100%;
  width: 100%;
}

#kup-component {
  height: 100%;
  width: 100%;
}

.layout-grid {
  box-sizing: border-box;
  margin: 0px auto;
  padding: var(--kup_grid_padding);

  .layout-grid__inner {
    display: grid;
    margin: 0px;
    grid-gap: var(--kup_grid_gap);
    grid-template-columns: repeat(
      var(--kup_grid_columns, 12),
      minmax(0px, 1fr)
    );

    .layout-grid__cell {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      margin: 0px;
      width: auto;

      @for $span from 1 through 24 {
        @at-root .layout-grid__cell--span-#{$span} {
          grid-column-end: span $span;
        }
      }
    }
  }
}

.flex-layout,
.flex-layout__inner {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flex-layout__inner {
  width: auto;

  & * {
    display: block;
    margin: 0 1.5em;
  }

  .flex-layout__cell {
    display: flex;

    & * {
      justify-content: center;
      margin: auto;
    }
  }
}

@media (min-width: 600px) and (max-width: 839px) {
  .layout-grid {
    .layout-grid__inner {
      display: grid;
      margin: 0px;
      grid-gap: var(--kup_grid_gap_mobile);
      grid-template-columns: repeat(
        var(--kup_grid_columns, 8),
        minmax(0px, 1fr)
      );
    }
  }
}

@media (max-width: 599px) {
  .layout-grid {
    .layout-grid__inner {
      display: grid;
      margin: 0px;
      grid-gap: var(--kup_grid_gap_mobile);
      grid-template-columns: repeat(
        var(--kup_grid_columns, 4),
        minmax(0px, 1fr)
      );
    }
  }
}
