/**
* @prop --kup-dialog-header-height: Sets the height of the header bar.
*/

:host {
  --kup_dialog_header_height: var(--kup-dialog-header-height, 2em);

  box-sizing: border-box;
  display: block;
  height: var(--kup_dialog_height);
  left: var(--kup_dialog_left);
  min-height: var(--kup_dialog_height);
  min-width: var(--kup_dialog_width);
  position: absolute;
  top: var(--kup_dialog_top);
  transition: opacity 0.25s ease-in;
  width: var(--kup_dialog_width);
}

#kup-component {
  height: 100%;
  width: 100%;
}

[fade-in] {
  opacity: 0;

  ::slotted {
    display: none;
  }
}

.header {
  background-color: var(--kup-title-background-color);
  color: var(--kup-title-color);
  display: flex;
  flex-direction: row;
  height: var(--kup_dialog_header_height);
  position: relative;
  width: 100%;

  &__title {
    font-weight: bold;
    line-height: 2em;
    padding-left: 0.5em;
    padding-right: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__close.f-image {
    --kup-icon-color: var(--kup-title-color);

    cursor: pointer;
    margin-right: 0;
    transition: opacity 0.25s;
    position: absolute;
    right: 0;
    background: var(--kup-title-background-color);

    &:hover {
      opacity: 0.5;
    }
  }
}

.content {
  height: calc(100% - var(--kup_dialog_header_height));
  overflow: auto;
  user-select: text;
}
