/**
* @prop --kup-dialog-header-height: Sets the height of the header bar.
*/

:host {
  --kup_dialogheader_text_color: var(
    --kup-dialogheader-text-color,
    var(--kup-gray-color-70)
  );
  --kup_dialog_background_color: var(
    --kup-header-text-color,
    var(--kup-gray-color-0)
  );
  --kup_dialog_header_height: var(--kup-dialog-header-height, 2em);

  box-sizing: border-box;
  display: block;
  height: var(--kup_dialog_height);
  left: var(--kup_dialog_left, -100%);
  min-height: var(--kup_dialog_height);
  min-width: var(--kup_dialog_width);
  position: absolute;
  top: var(--kup_dialog_top, -100%);
  transition: opacity 0.25s ease-in;
  width: var(--kup_dialog_width);
}

#kup-component {
  height: 100%;
  width: 100%;
}

:host([fade-in]) {
  opacity: 0;

  ::slotted {
    opacity: 0;
  }
}

.header {
  color: var(--kup_dialogheader_text_color);
  display: flex;
  flex-direction: row;
  height: var(--kup_dialog_header_height);
  position: relative;
  width: 100%;
  min-height: 50px;
  background-color: var(--kup-gray-color-20);

  &__title {
    padding: var(--kup-space-05);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include kup-heading-compact-01;
  }

  &__close.f-image {
    --kup-icon-color: var(--kup_dialogheader_text_color);
    cursor: pointer;
    margin-right: 0;
    transition: opacity 0.25s;
    position: absolute;
    right: var(--kup-space-05);

    &:hover {
      opacity: 0.5;
    }
  }
}

.content {
  height: calc(100% - var(--kup_dialog_header_height));
  padding: var(--kup-space-05);
  overflow: auto;
  user-select: text;
  background-color: var(--kup_dialog_background_color);
}
