html {
    background-color: var(--kul-background-color, black);
    color: var(--kul-text-color);
    font-family: var(--kul-font-family);
    font-size: var(--kul-font-size);
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
}
