:host {
  display: block;
}

:host([full-width]) {
  width: 100%;
  #kup-component {
    width: 100%;
  }
}

#app-date-picker-div.visible {
  display: block;
}

#app-date-picker-div {
  display: none;
}

app-datepicker {
  box-shadow: var(--kup-box-shadow);
  --app-datepicker-accent-color: var(--kup-main-color);
  --app-datepicker-bg-color: var(--kup-background-color);
  --app-datepicker-color: var(--kup-text-color);
  --app-datepicker-focused-day-color: var(--kup-text-on-main-color);
  --app-datepicker-weekday-color: var(--kup-text-color);
}
