@import '@material/tab-bar/mdc-tab-bar';
@import '@material/tab-scroller/mdc-tab-scroller';
@import '@material/tab-indicator/mdc-tab-indicator';
@import '@material/tab/mdc-tab';

:host {
  display: var(--kup-display-mode);
}

.mdc-tab-bar {
  @include mdc-tab-bar-density(-3);
  @include mdc-tab-text-label-color(var(--kup-main-color));
  @include mdc-tab-icon-color(var(--kup-main-color));

  & .mdc-tab-scroller__scroll-area--scroll {
    overflow: auto;
  }

  & button {
    font-family: var(--kup-font-family);
  }
}

.material-icons {
  color: var(--kup-icon-color);
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}
