@import '@material/tab-bar/mdc-tab-bar';
@import '@material/tab-scroller/mdc-tab-scroller';
@import '@material/tab-indicator/mdc-tab-indicator';
@import '@material/tab/mdc-tab';

:host {
  display: block;
  font-size: var(--kup-font-size);
}

.mdc-tab-bar {
  @include mdc-tab-bar-density(-3);
  .mdc-tab-scroller__scroll-area--scroll {
    overflow: auto;
  }

  .mdc-tab {
    font-size: 0.875em;
  }

  button {
    font-family: var(--kup-font-family);
  }

  .mdc-tab__text-label {
    color: var(--kup-primary-color);
  }
}

.icon-container {
  background-color: var(--kup-primary-color);
  height: 24px;
  width: 24px;
}
