/**
* @prop --kup-tabbar-font-family: Sets font family of the component.
* @prop --kup-tabbar-font-size: Sets font size of the component.
* @prop --kup-tabbar-font-weight: Sets font weight of the component.
* @prop --kup-tabbar-height: Sets height of the component.
* @prop --kup-tabbar-primary-color: Sets primary color of the component.
* @prop --kup-tabbar-primary-color-rgb: Sets primary color RGB values of the component (used for shaders).
* @prop --kup-tabbar-tab-padding: Sets padding of each tab.
*/

:host {
  --kup_tabindicator_border_bottom_color: var(
    --kup-tab-indicator-border-bottom-color,
    var(--kup-layer-2)
  );
  --kup_tabindicator_border_bottom_color_active: var(
    --kup-tabindicator-border-bottom-color-active,
    var(--kup-border-interactive)
  );
  --kup_tabbar_text_color: var(
    --kup-tabbar-text-color,
    var(--kup-text-secondary)
  );
  --kup_tabbar_text_color_active: var(
    --kup-tabbar-text-color-active,
    var(--kup-text-primary)
  );
  --kup_tabbar_border_color_dense: var(
    --kup-tabbar-border-color-dense,
    var(--kup-border-strong)
  );

  --kup_tabbar_font_size: var(--kup-tabbar-font-size, var(--kup-font-size));
  --kup_tabbar_font_weight: var(--kup-tabbar-font-weight, 500);
  --kup_tabbar_height: var(--kup-tabbar-height, 36px);
  --kup_tabbar_tab_padding: var(
    --kup-tabbar-tab-padding,
    0 var(--kup-space-05)
  );

  display: block;
  font-size: var(--kup_tabbar_font_size);
}

.tab-bar {
  width: 100%;

  .tab-scroller {
    height: var(--kup_tabbar_height);
    overflow-y: hidden;

    .tab-scroller__scroll-area {
      display: flex;
      overflow-x: hidden;
      overflow: auto;

      .tab-scroller__scroll-content {
        position: relative;
        display: flex;
        flex: 1 0 auto;
        transform: none;
        will-change: transform;
        gap: 2px;
      }
    }

    // add the disabled status on specific field
    .tab {
      -webkit-font-smoothing: antialiased;
      padding: var(--kup_tabbar_tab_padding);
      position: relative;
      display: flex;
      box-sizing: border-box;
      gap: 8px;
      margin: 0px;
      border: none;
      flex: 1 0;
      outline: 2px solid transparent;
      outline-offset: -2px;
      background: none;
      text-align: left;
      white-space: nowrap;
      cursor: pointer;
      appearance: none;
      z-index: 1;
      height: var(--kup_tabbar_height);
      &:focus {
        outline: 2px solid var(--kup_tabindicator_border_bottom_color_active);
      }

      .tab__text-label {
        @include kup-body-compact-01;
        &.tab_icon {
          padding-left: 8px;
          padding-right: 0px;
        }
      }

      .tab__icon .f-image__icon {
        background: var(--kup_tabbar_text_color) !important;
      }

      &.kup-danger {
        --kup_tabbar_text_color: var(--kup-danger-color-60);
        --kup_tabindicator_border_bottom_color: var(--kup-danger-color-60);
        --kup_tabindicator_border_bottom_color: var(--kup-danger-color-60);
        --kup_tabindicator_border_bottom_color_active: var(
          --kup-danger-color-60
        );
        &:focus {
          outline: 2px solid var(--kup-danger-color-60);
        }
      }

      &:hover {
        background-color: rgba(var(--kup_tabbar_primary_color_rgb), 0.075);
        .tab-indicator .tab-indicator__content--underline {
          --kup_tabindicator_border_bottom_color: var(--kup-border-strong);
        }
      }
      &.tab--active {
        .tab__iconToolbar {
          opacity: 0.3;
          min-width: 16px;
        }
        &:hover {
          .tab__iconToolbar:hover {
            opacity: 1;
            background-color: var(--kup-gray-color-20-hover);
          }
        }
        .tab__content {
          .tab__icon {
            transition-delay: 100ms;
          }
          .tab__text-label {
            transition-delay: 100ms;
            @include kup-heading-compact-01;
          }
        }
      }
      &[disabled] {
        --kup_tabindicator_border_bottom_color: var(--kup-border-disabled);
        --kup_tabbar_text_color: var(--kup-text-disabled);
        pointer-events: none;
      }
      &.kup-dense {
        background: var(--kup-layer-2);
        border-right: 1px solid var(--kup_tabbar_border_color_dense);
        &.tab--active {
          background: var(--kup-layer-2-selected);
        }
        &:hover {
          background: var(--kup-layer-2-hover);
        }
        .tab-indicator {
          height: 2px;
          border-color: transparent;
        }
        .tab-indicator--active .tab-indicator__content {
          border-color: var(--kup_tabindicator_border_bottom_color_active);
        }
      }
    }

    @media screen and (min-width: 678px) {
      .tab {
        flex: none;
      }
    }

    .tab__content {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: inherit;
      pointer-events: none;
      gap: var(--kup-space-03);

      .tab__icon {
        transition: color 150ms linear 0s;
        width: 16px;
        height: 16px;
        font-size: 16px;
        z-index: 2;
        margin: 0;

        &.#{$kup-icon} {
          height: 16px;
          width: 16px;
        }
      }

      .tab__text-label {
        transition: color 150ms linear 0s;
        display: inline-block;
        line-height: 1;
        z-index: 2;
        color: var(--kup_tabbar_text_color);
        min-width: auto;
      }

      @media screen and (min-width: 678px) {
        .tab__text-label {
          min-width: 150px;
        }
      }
    }

    .tab__iconToolbar {
      opacity: 0;
    }

    .tab-indicator {
      display: flex;
      position: absolute;
      top: 0px;
      left: 0px;
      justify-content: center;
      width: 100%;
      height: 100%;
      pointer-events: none;
      z-index: 1;

      &.tab-indicator--active {
        .tab-indicator__content {
          opacity: 1;
          border-color: var(--kup_tabindicator_border_bottom_color_active);
        }
      }

      .tab-indicator__content {
        transform-origin: left center;

        &.tab-indicator__content--underline {
          align-self: flex-end;
          box-sizing: border-box;
          width: 100%;
          border-top-style: solid;
          border-top-width: 2px;
          transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
          color: var(--kup_tabindicator_border_bottom_color);
        }
      }
    }
  }

  &.tab-bar--contained {
    .tab-scroller .tab-scroller__scroll-content {
      gap: 0px;
    }
    .tab {
      background-color: var(--kup-gray-color-10);
      border-right: 1px solid var(--kup-gray-color-20);
      &:nth-last-child(1) {
        border-right: none;
      }
      &:hover {
        background-color: var(--kup-gray-color-10-hover);
      }
      .tab-indicator {
        height: auto;
      }
    }
    .tab--active {
      background-color: var(--kup-gray-color-0);
      border: none;
    }
  }
}

.mdc-ripple-surface {
  --mdc-ripple-fg-opacity: 0.24;

  &:before,
  &:after {
    background-color: var(--kup_tabbar_primary_color);
  }
}
