/**
* @prop --kup-tabbar-font-family: Sets font family of the component.
* @prop --kup-tabbar-font-size: Sets font size of the component.
* @prop --kup-tabbar-font-weight: Sets font weight of the component.
* @prop --kup-tabbar-height: Sets height of the component.
* @prop --kup-tabbar-primary-color: Sets primary color of the component.
* @prop --kup-tabbar-primary-color-rgb: Sets primary color RGB values of the component (used for shaders).
* @prop --kup-tabbar-tab-padding: Sets padding of each tab.
*/

:host {
  --kup_tabbar_font_family: var(
    --kup-tabbar-font-family,
    var(--kup-font-family)
  );
  --kup_tabbar_font_size: var(--kup-tabbar-font-size, var(--kup-font-size));
  --kup_tabbar_font_weight: var(--kup-tabbar-font-weight, 500);
  --kup_tabbar_height: var(--kup-tabbar-height, 36px);
  --kup_tabbar_primary_color: var(
    --kup-tabbar-primary-color,
    var(--kup-primary-color)
  );
  --kup_tabbar_primary_color_rgb: var(
    --kup-tabbar-primary-color-rgb,
    var(--kup-primary-color-rgb)
  );
  --kup_tabbar_tab_padding: var(--kup-tabbar-tab-padding, 0 24px);

  display: block;
  font-size: var(--kup_tabbar_font_size);
}

.tab-bar {
  width: 100%;

  .tab-scroller {
    height: var(--kup_tabbar_height);
    overflow-y: hidden;

    .tab-scroller__scroll-area {
      display: flex;
      overflow-x: hidden;
      overflow: auto;

      .tab-scroller__scroll-content {
        position: relative;
        display: flex;
        flex: 1 0 auto;
        transform: none;
        will-change: transform;
      }
    }

    .tab {
      -webkit-font-smoothing: antialiased;
      padding: var(--kup_tabbar_tab_padding);
      min-width: 90px;
      position: relative;
      display: flex;
      flex: 1 0 auto;
      justify-content: center;
      box-sizing: border-box;
      margin: 0px;
      border: none;
      outline: none;
      background: none;
      text-align: center;
      white-space: nowrap;
      cursor: pointer;
      appearance: none;
      z-index: 1;
      height: var(--kup_tabbar_height);
      font-family: var(--kup_tabbar_font_family);
      font-size: 0.875em;
      font-weight: var(--kup_tabbar_font_weight);
      letter-spacing: 0.0892857143em;
      text-transform: uppercase;

      .tab__icon + .tab__text-label {
        padding-left: 8px;
        padding-right: 0px;
      }

      &:hover {
        background-color: rgba(var(--kup_tabbar_primary_color_rgb), 0.075);
      }
    }

    .tab__content {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: inherit;
      pointer-events: none;

      .tab__icon {
        transition: color 150ms linear 0s;
        width: 24px;
        height: 24px;
        font-size: 24px;
        z-index: 2;

        &.#{$kup-icon} {
          background-color: var(--kup_tabbar_primary_color);
          height: 24px;
          width: 24px;
        }
      }

      .tab__text-label {
        transition: color 150ms linear 0s;
        display: inline-block;
        line-height: 1;
        z-index: 2;
        color: var(--kup_tabbar_primary_color);
      }
    }

    .tab-indicator {
      display: flex;
      position: absolute;
      top: 0px;
      left: 0px;
      justify-content: center;
      width: 100%;
      height: 100%;
      pointer-events: none;
      z-index: 1;

      &.tab-indicator--active {
        .tab-indicator__content {
          opacity: 1;
        }
      }

      .tab-indicator__content {
        border-color: var(--kup_tabbar_primary_color);
        transform-origin: left center;
        opacity: 0;

        &.tab-indicator__content--underline {
          align-self: flex-end;
          box-sizing: border-box;
          width: 100%;
          border-top-style: solid;
          border-top-width: 2px;
          transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
        }
      }
    }

    &.tab--active {
      .tab__icon {
        transition-delay: 100ms;
      }
      .tab__text-label {
        transition-delay: 100ms;
      }
    }
  }
}

.mdc-ripple-surface {
  --mdc-ripple-fg-opacity: 0.24;

  &:before,
  &:after {
    background-color: var(--kup_tabbar_primary_color);
  }
}
