:host {
  display: var(--kup-display-mode);

  #kup-component {
    display: inline-flex;

    & label {
      color: var(--kup-text-color);
      font-family: var(--kup-font-family);
      font-size: var(--kup-font-size);
    }

    &.label-top {
      flex-direction: column;

      & label {
        float: left;
      }
      & kup-button {
        float: right;
      }
    }

    &.label-right {
      flex-direction: row-reverse;

      & label {
        margin: auto auto auto 1rem;
      }
    }

    &.label-bottom {
      flex-direction: column-reverse;

      & label {
        margin: 1rem auto auto auto;
      }
    }

    &.label-left {
      flex-direction: row;

      & label {
        margin: auto 1rem auto auto;
      }
    }
  }
}
