/*-------------------------------------------------*/
/*        C o m p o n e n t   C l a s s e s        */
/*-------------------------------------------------*/
:host(.#{$kup-class-borderless}) {
  .first-node {
    border: none !important;
  }
  .kup-tree__node:not(.kup-tree__node--first) + .kup-tree__node--first {
    border: none !important;
  }
}

:host(.#{$kup-class-full-width}) {
  min-width: 100%;
  table.kup-tree {
    min-width: 100%;
  }
}

:host(.#{$kup-class-layout-fixed}) {
  #kup-component table {
    table-layout: fixed;
    width: 100%;
  }
}

:host(.#{$kup-class-shaped}) {
  td.mdc-ripple-surface {
    border-radius: 0 66px 66px 0;
  }
}
/*-------------------------------------------------*/
/*      J S O N   C l a s s e s   ( r o w s )      */
/*-------------------------------------------------*/
tr.clickable {
  cursor: pointer;
}
