/**
* @prop --kup-textfield-background-color-rgb: Sets the background shader of the field, must be a set of RGB values.
* @prop --kup-textfield-color: Sets text color of the text field.
* @prop --kup-textfield-color-rgb: Sets text color RGB values of the text field (used for shaders).
* @prop --kup-textfield-font-family: Sets font family of the component.
* @prop --kup-textfield-font-size: Sets font size of the component.
* @prop --kup-textfield-font-weight: Sets font weight of the component.
* @prop --kup-textfield-fullwidth-height: Sets height of the component when fullwidth.
* @prop --kup-textfield-fullwidth-padding: Sets padding of the component when fullwidth.
* @prop --kup-textfield-icon-color: Sets icon color of the component.
* @prop --kup-textfield-primary-color: Sets primary color of the text field.
* @prop --kup-textfield-primary-color-rgb: Sets primary color RGB values of the text field (used for shaders).
* @prop --kup-textfield-text-align: Sets the text alignment of the text field.
* @prop --kup-textfield-width: Sets the width of the text field.
*
* NOTE: These variables are defined in the "kup-theme.css" file, because they must work even without the kup component (it's a functional component)
*
*/

:host {
  display: block;
  font-size: var(--kup-font-size);
}

:host([full-width]) {
  width: 100%;
  #kup-component {
    width: 100%;
  }
}
