:host {
  display: block;
  font-size: var(--kup-font-size);
}

#time-picker-div {
  display: none;
  outline: none;
  position: absolute;
  z-index: 1;

  &.visible {
    display: block;
  }
}

.f-text-field {
  position: relative;
}
