.toolbar-container {
  width: fit-content;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.05);
}

.component-type-chip {
  background-color: var(--kup-layer-2);
  color: var(--kup-text-disabled);
  padding: var(--kup-space-02) var(--kup-space-03);
  @include kup-caption-01;
}

.parent-class {
  position: relative;
  cursor: pointer;
  min-width: 175px;
  background-color: var(--kup-gray-color-10);
  display: flex;
  justify-content: space-between;
  padding: var(--kup-space-03);
  border-left: 1px solid transparent;
  align-items: center;

  &.toolbar-item-disabled {
    background-color: var(--kup-gray-color-30);
    color: var(--kup-gray-color-40);
    cursor: not-allowed;
    .chevron-type-wrapper .f-image .iconWrapper .f-image__icon {
      background-color: var(--kup-gray-color-40) !important;
    }
  }

  .toolbar-single-value-node {
    display: flex;
    gap: 8px;
    align-items: center;
    @include kup-body-compact-01;
  }

  &:hover:not(.toolbar-item-disabled):not(:has(> .f-cell)) {
    background-color: var(--kup-gray-color-10-hover);
  }

  &:focus:not(:has(> .f-cell)) {
    outline: 2px solid var(--kup-border-interactive);
    outline-offset: -2px;
  }

  &:active:not(:has(> .f-cell)) {
    border-left: 1px solid var(--kup-border-interactive);
  }

  > .nested-class {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    z-index: 10;
    transition: display 0.2s ease;
    background-color: var(--kup-gray-color-10);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.05);
    width: inherit;
    max-width: 200px;
  }

  .chevron-right {
    float: right;
    margin: 0;
    margin-left: var(--kup-space-03);
    @include kup-caption-01;
  }

  &:hover:not(.toolbar-item-disabled) {
    > .nested-class {
      display: block;
    }
  }
}

.chevron-type-wrapper {
  display: flex;
  align-items: center;
  gap: var(--kup-space-03);
  .chevron-right {
    float: right;
    margin: 0;
    margin-left: var(--kup-space-00);
    @include kup-caption-01;
  }
}

.nested-class .f-cell .f-cell__content {
  display: block;
  .f-radio {
    gap: 0;
    .form-field {
      cursor: pointer;
      &:active,
      &:focus {
        outline: 2px solid var(--kup-border-interactive);
        outline-offset: -2px;
      }
      &:hover {
        background-color: var(--kup-gray-color-10-hover);
      }
    }
  }
}
