:host {
  display: block;
  font-size: var(--kup-font-size);
}

.button-list--container {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: var(--grid-columns);
  width: max-content;

  &.show-selection {
    .selected {
      --kup-primary-color: var(--kup-secondary-color);
      --kup-primary-color-rgb: var(--kup-secondary-color-rgb);
      --kup-text-on-primary-color: var(--kup-text-on-secondary-color);
      --kup-text-on-primary-color-rgb: var(--kup-text-on-secondary-color-rgb);
    }
  }
}
